Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_increment_elements_global_guard.js
  tests/unit/test_increment_elements_global_guard.py
Due: none

fix(SKY-11435): guard getIncrementElements against wiped global counter (#6822)
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.clarity.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.tsx
  skyvern/webeye/scraper/domUtils.js
  tests/unit/test_increment_elements_global_guard.js
  tests/unit/test_increment_elements_global_guard.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/code_block_steps.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_code_block_steps.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/dimensionConvergence.test.ts
  skyvern-frontend/src/routes/workflows/editor/dimensionConvergence.ts
Due: frontend-precommit, vitest-type-check

fix(SKY-11463): surface extraction/AI steps in code-block plain view (#6823)
  skyvern/forge/sdk/copilot/code_block_steps.py
  tests/unit/test_code_block_steps.py
Due: none

fix(SKY-11431): bound the FlowRenderer dimension->layout feedback loop (#6824)
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/dimensionConvergence.test.ts
  skyvern-frontend/src/routes/workflows/editor/dimensionConvergence.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

fix: gate secure CodeBlock runner on browser session, flag-only in staging (#6825)
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_input_text_phone_readback.py
  tests/unit/test_tel_input_bare_digits.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/skyvern_page.py
  skyvern/exceptions.py
  skyvern/webeye/actions/caching.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
  skyvern/webeye/utils/page.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

SKY-11315 fix tel digit-drop by typing bare NANP digits (#6826)
  skyvern/exceptions.py
  skyvern/webeye/actions/handler.py
  tests/unit/test_input_text_phone_readback.py
  tests/unit/test_tel_input_bare_digits.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/skyvern_page.py
  skyvern/webeye/actions/caching.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'skyvern-frontend/vitest.config.ts' with remote 'skyvern-frontend/vitest.config.ts'
  skyvern-frontend/vitest.config.ts
Due: vitest-type-check

chore(observability): downgrade routine browser WARN logs to info + sample (#6827)
  skyvern/core/script_generations/skyvern_page.py
  skyvern/webeye/actions/caching.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
  skyvern/webeye/utils/page.py
Due: none

ci(SKY-11103): honor the native Vercel Deployment Check for the frontend gate (#6829)
  skyvern-frontend/vitest.config.ts
Due: vitest-type-check

fix(SKY-11430): guard ab_variant against missing onboarding_state (#6803)
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/settings/LabelManagement.test.tsx
  skyvern-frontend/src/routes/settings/LabelManagement.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/routes/workflows/hooks/useTagValuesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowTagMutations.ts
  skyvern-frontend/src/routes/workflows/types/tagTypes.ts
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11337): label management settings surface (#6830)
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/settings/LabelManagement.test.tsx
  skyvern-frontend/src/routes/settings/LabelManagement.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/routes/workflows/hooks/useTagValuesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowTagMutations.ts
  skyvern-frontend/src/routes/workflows/types/tagTypes.ts
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ModelSelector.test.tsx
  skyvern-frontend/src/components/ModelSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/pr-screenshots/model-dropdown-after.png
  docs/pr-screenshots/model-dropdown-before.png
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ModelSelector.test.tsx
  skyvern-frontend/src/components/ModelSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/hooks/debugSessionLease.test.ts
  skyvern-frontend/src/routes/workflows/hooks/debugSessionLease.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.test.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11449): add DeepSeek + Xiaomi MiMo to model dropdown; deprecate Gemini 2.5 Pro/Flash (#6831)
  docs/pr-screenshots/model-dropdown-after.png
  docs/pr-screenshots/model-dropdown-before.png
  skyvern-frontend/src/components/ModelSelector.test.tsx
  skyvern-frontend/src/components/ModelSelector.tsx
  skyvern/config.py
Due: frontend-precommit, vitest-type-check

Keep debug browser sessions alive from editor (#6832)
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/hooks/debugSessionLease.test.ts
  skyvern-frontend/src/routes/workflows/hooks/debugSessionLease.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.test.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.ts
Due: frontend-precommit, vitest-type-check

[LLM] Add custom OSS LLM configuration
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/CustomLLMConfigForm.tsx
  skyvern-frontend/src/hooks/useCustomLLMs.ts
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern/config.py
  skyvern/forge/api_app.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/custom_llm_registry.py
  skyvern/forge/sdk/db/enums.py
  skyvern/forge/sdk/db/repositories/organizations.py
  skyvern/forge/sdk/routes/__init__.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/custom_llms.py
  skyvern/forge/sdk/schemas/custom_llms.py
  skyvern/forge/sdk/schemas/task_v2.py
  skyvern/services/task_v2_service.py
  tests/unit/test_custom_llms.py
  tests/unit/test_runs_v2_route.py
  tmp/pr-screenshots/01-settings-custom-llms-initial.png
  tmp/pr-screenshots/02-settings-custom-llms-filled-form.png
  tmp/pr-screenshots/03-settings-custom-llms-after-add.png
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/utils/tesseract_languages.py
  skyvern/forge/sdk/workflow/models/pdf_fill_block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_pdf_fill_block.py
Due: none
