Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

SKY-10346: Preserve continuation blocker signals (PR 8/12) (#6259)
  skyvern/forge/failure_classifier.py
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/build_phase.py
  skyvern/forge/sdk/copilot/config.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/loop_detection.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_agent_prompt_chat_history_resolution.py
  tests/unit/test_copilot_blocker_lifecycle.py
  tests/unit/test_copilot_blocker_signal.py
  tests/unit/test_copilot_build_phase.py
  tests/unit/test_copilot_context.py
  tests/unit/test_copilot_hooks.py
  tests/unit/test_copilot_output_policy.py
  tests/unit/test_copilot_timeout_wip.py
  tests/unit/test_copilot_tool_loop_error_block_running.py
  tests/unit/test_failure_classifier.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/reactFlowOverrideStyles.css
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_blocker_lifecycle.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_frontier.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_per_tool_budget.py
  tests/unit/test_copilot_turn_intent_tool_gate.py
Due: none

SKY-10346: Plan runtime frontiers from page evidence (PR 9/12) (#6261)
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/reactFlowOverrideStyles.css
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_blocker_lifecycle.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_frontier.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_per_tool_budget.py
  tests/unit/test_copilot_turn_intent_tool_gate.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_frontier.py
Due: none

SKY-10346: Preserve runtime frontier browser state (PR 10/12) (#6262)
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_frontier.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/config.py
  skyvern/forge/sdk/copilot/diagnosis_repair_contract.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_per_tool_budget.py
Due: none

SKY-10346: Finalize from post-run page evidence (PR 11/12) (#6263)
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/config.py
  skyvern/forge/sdk/copilot/diagnosis_repair_contract.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_per_tool_budget.py
Due: none

Fix logic flaw identified by autonomous review
  skyvern/cli/docs.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/extract-action-dynamic.j2
  skyvern/forge/prompts/skyvern/extract-action-static.j2
  skyvern/forge/prompts/skyvern/extract-action.j2
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/cache/extraction_cache.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/experimentation/enrich_tree.py
  skyvern/forge/sdk/prompting.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/script_service.py
  skyvern/services/task_v2_service.py
  skyvern/utils/prompt_engine.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/domUtils.js
  skyvern/webeye/scraper/non_vision_context.py
  skyvern/webeye/scraper/scraper.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_disable_llm_screenshots_flag.py
  tests/unit/test_enrich_tree_flag.py
  tests/unit/test_enrich_tree_resolver.py
  tests/unit/test_enriched_element_trim.py
  tests/unit/test_load_prompt_with_elements_ceiling.py
  tests/unit/test_non_vision_context.py
Due: none

Replace non-vision blob with enrich_tree experiment (#6266)
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/extract-action-dynamic.j2
  skyvern/forge/prompts/skyvern/extract-action-static.j2
  skyvern/forge/prompts/skyvern/extract-action.j2
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/cache/extraction_cache.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/experimentation/enrich_tree.py
  skyvern/forge/sdk/prompting.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/script_service.py
  skyvern/services/task_v2_service.py
  skyvern/utils/prompt_engine.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/domUtils.js
  skyvern/webeye/scraper/non_vision_context.py
  skyvern/webeye/scraper/scraper.py
  skyvern/webeye/utils/page.py
  tests/unit/test_disable_llm_screenshots_flag.py
  tests/unit/test_enrich_tree_flag.py
  tests/unit/test_enrich_tree_resolver.py
  tests/unit/test_enriched_element_trim.py
  tests/unit/test_load_prompt_with_elements_ceiling.py
  tests/unit/test_non_vision_context.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_per_tool_budget.py
  tests/unit/test_copilot_probable_site_block.py
Due: none

SKY-10346: Render terminal anti-bot blockers (PR 12/12) (#6267)
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_per_tool_budget.py
  tests/unit/test_copilot_probable_site_block.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.test.ts
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/composition_evidence.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/hooks.py
  skyvern/forge/sdk/copilot/output_utils.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
  skyvern/forge/sdk/copilot/verification_evidence.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarTreeNav.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.test.ts
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_output_utils.py
  tests/unit/test_copilot_per_tool_budget.py
Due: none

SKY-10143: keep the copilot chat live during the in-turn test (queue + cancel) (#6268)
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.test.ts
  skyvern-frontend/src/routes/workflows/copilot/sendQueue.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-10559): reveal collapsed sidebar flyout on hover (#6270)
  skyvern-frontend/src/components/SidebarTreeNav.tsx
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/composition_evidence.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/hooks.py
  skyvern/forge/sdk/copilot/output_utils.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools.py
  skyvern/forge/sdk/copilot/verification_evidence.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_output_utils.py
  tests/unit/test_copilot_per_tool_budget.py
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update (#6265)
  fern/openapi/skyvern_openapi.json
Due: none

security: update axios to 1.16.1 to fix CVE-2026-44494 and CVE-2026-44492
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

fix(cli): resolve IndentationErrors and gate environment lookup
  skyvern/cli/mcp_commands.py
Due: none

Fix JSON parsing error message and indentation
  skyvern/cli/setup_commands.py
Due: none

Update README with MCP endpoint usage notes
  integrations/mcp/README.md
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
  skyvern-frontend/src/routes/browserSessions/browserSessionQueryUtils.test.ts
  skyvern-frontend/src/routes/browserSessions/browserSessionQueryUtils.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useCloseBrowserSessionMutation.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useCreateBrowserSessionMutation.ts
Due: frontend-precommit, vitest-type-check

Fix browser session UI not updating after create (#6272)
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
  skyvern-frontend/src/routes/browserSessions/browserSessionQueryUtils.test.ts
  skyvern-frontend/src/routes/browserSessions/browserSessionQueryUtils.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useCloseBrowserSessionMutation.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useCreateBrowserSessionMutation.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/services/otp_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_otp_service.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
