Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

Delete skyvern-frontend/package-lock.json
  skyvern-frontend/package-lock.json
Due: vitest-type-check

refactor
  skyvern-frontend/package-lock.json
Due: vitest-type-check

fix: remove incorrect example ID from prompt instruction
  skyvern/forge/prompts/skyvern/extract-action.j2
Due: none

browser profile page + button + drawer
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileDetailsDialog.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesPage.tsx
  skyvern-frontend/src/routes/browserProfiles/CreateBrowserProfileDrawer.tsx
  skyvern-frontend/src/routes/browserProfiles/DeleteBrowserProfileButton.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
Due: frontend-precommit, vitest-type-check

refactor: consolidate Windows event loop policy setup
  skyvern/__init__.py
  skyvern/cli/init_command.py
  skyvern/cli/run_commands.py
  skyvern/config.py
  skyvern/forge/__main__.py
  skyvern/forge/app.py
  skyvern/utils/__init__.py
  skyvern/webeye/browser_manager.py
Due: none

refactor: removed unnecessary loop
  skyvern/cli/run_commands.py
Due: none

refactor unnecessary codes
  skyvern/cli/run_commands.py
  skyvern/cli/utils.py
Due: none

refactor
  skyvern/utils/__init__.py
Due: none

sudocode init
  .sudocode/.gitignore
  .sudocode/config.json
  .sudocode/issues.jsonl
  .sudocode/specs.jsonl
  AGENTS.md
Due: none

update
  .sudocode/issues.jsonl
  .sudocode/specs.jsonl
  AGENTS.md
Due: none

commit
  .sudocode/specs.jsonl
  specs/conditional_workflow_branching.md
Due: none

Parameter search & inline display for Past Runs and Run History pages (#3985)
  skyvern-frontend/src/components/TableSearchInput.tsx
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/components/ParameterDisplayInline.tsx
  skyvern-frontend/src/routes/workflows/hooks/useKeywordSearch.ts
  skyvern-frontend/src/routes/workflows/hooks/useParameterExpansion.ts
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/agent_protocol.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
Due: none

changed the naming of the parameter keys that are created from credentials
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/models.py
Due: none

parallelize goal check within task (#3997)
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/models.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/webeye/browser_factory.py
Due: none

fix error reason when page is no data (#3998)
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/webeye/browser_factory.py
Due: none

add issues
  .sudocode/issues.jsonl
Due: none

conditional block model
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/schemas/workflows.py
  specs/conditional_workflow_branching.md
  tests/unit_tests/test_conditional_block_models.py
Due: none

Update skyvern/_ddtrace.py
  skyvern/_ddtrace.py
Due: none

Update skyvern/__init__.py
  skyvern/__init__.py
Due: none

[Core] Fix: Handle missing ddtrace dependency
  skyvern/__init__.py
  skyvern/_ddtrace.py
  tests/unit_tests/test_optional_dependencies.py
Due: none

Update tests/unit_tests/test_optional_dependencies.py
  tests/unit_tests/test_optional_dependencies.py
Due: none

fix parameter validation & boolean parameter conversion
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowParameterInput.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowParameterEditPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/utils.ts
Due: frontend-precommit, vitest-type-check

clearing an input (even for parameters with default values) triggers validation error and prevents submission
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
Due: frontend-precommit, vitest-type-check

fix linter error
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
Due: frontend-precommit, vitest-type-check

SDK: more embedded mode configuration
  skyvern/library/embedded_server_factory.py
  skyvern/library/skyvern.py
Due: none

add Vertex AI, Groq
  skyvern/library/embedded_server_factory.py
  skyvern/library/skyvern.py
Due: none

Extract dataclasses
  skyvern/library/embedded_server_factory.py
  skyvern/library/llm_config_types.py
  skyvern/library/skyvern.py
Due: none

version = "1.0.0"
  pyproject.toml
Due: none

Py
  skyvern/client/browser_profiles/client.py
  skyvern/client/core/client_wrapper.py
Due: none

Ts
  skyvern-ts/client/README.md
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  skyvern-ts/client/src/Client.ts
  skyvern-ts/client/src/version.ts
  uv.lock
Due: none

Release 1.0.0 (#4003)
  pyproject.toml
  skyvern-ts/client/README.md
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  skyvern-ts/client/src/Client.ts
  skyvern-ts/client/src/version.ts
  skyvern/client/browser_profiles/client.py
  skyvern/client/core/client_wrapper.py
  uv.lock
Due: none

refactor: improve database string driver replacement logic
  skyvern/config.py
Due: none

Update API specifications with fern api update (#4002)
  fern/openapi/skyvern_openapi.json
Due: none

validate task_id, workflow_id, workflow_run_id for send_totp_code endpoint before llm prompt to parse totp prompt to fail early
  skyvern/forge/sdk/routes/credentials.py
Due: none

validate task_id, workflow_id, workflow_run_id for send_totp_code endpoint before llm prompt to parse totp prompt to fail early (#4004)
  skyvern/forge/sdk/routes/credentials.py
Due: none
