Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/workflow/test_code_block_recorder.py
Due: none

fix(SKY-12044): resolve in-process page.extract() via SkyvernPage recorder wrapper (#7226)
  pyproject.toml
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/code_block_recorder.py
  skyvern/forge/sdk/workflow/models/code_block_recording.py
  tests/unit/workflow/test_code_block_recorder.py
  uv.lock
Due: none

SKY-12070 mint requested-output criteria for quoted fields (#7227)
  skyvern/forge/sdk/copilot/request_policy.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
Due: none

codex: fix CI failure on PR #7225 (yamlfmt pnpm-lock)
  skyvern-ts/client/pnpm-lock.yaml
Due: none

security: pin undici to ^7.28.0 in skyvern-frontend (fixes 2 HIGH alerts) (#6958)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

security: bump form-data to 4.0.6 in skyvern-frontend (#6912)
  skyvern-frontend/package-lock.json
Due: vitest-type-check

security: fix vite HIGH-severity fs.deny bypass (alert #720) (#6772)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/schemas/copilot_turn_outcome.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_output_policy.py
Due: none

security: restore jupyter-server >=2.20.0 and msgpack >=1.2.1 (regressed by SKY-12044) (#7229)
  pyproject.toml
  uv.lock
Due: none

fix(SKY-11996): restore copilot actuation-obligation feature reverted by #13210 (#7230)
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/schemas/copilot_turn_outcome.py
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_output_policy.py
Due: none

security: fix cryptography HIGH vulnerability in integrations/llama_index (#6935)
  integrations/llama_index/pyproject.toml
  integrations/llama_index/uv.lock
Due: none

chore: remove deprecated LangChain and LlamaIndex integrations
  integrations/langchain/README.md
  integrations/langchain/pyproject.toml
  integrations/langchain/skyvern_langchain/__init__.py
  integrations/langchain/skyvern_langchain/agent.py
  integrations/langchain/skyvern_langchain/client.py
  integrations/langchain/skyvern_langchain/py.typed
  integrations/langchain/skyvern_langchain/schema.py
  integrations/langchain/skyvern_langchain/settings.py
  integrations/langchain/uv.lock
  integrations/llama_index/README.md
  integrations/llama_index/pyproject.toml
  integrations/llama_index/skyvern_llamaindex/__init__.py
  integrations/llama_index/skyvern_llamaindex/agent.py
  integrations/llama_index/skyvern_llamaindex/client.py
  integrations/llama_index/skyvern_llamaindex/py.typed
  integrations/llama_index/skyvern_llamaindex/settings.py
  integrations/llama_index/uv.lock
Due: none

chore: remove deprecated LangChain and LlamaIndex integrations (#7095)
  integrations/langchain/README.md
  integrations/langchain/pyproject.toml
  integrations/langchain/skyvern_langchain/__init__.py
  integrations/langchain/skyvern_langchain/agent.py
  integrations/langchain/skyvern_langchain/client.py
  integrations/langchain/skyvern_langchain/py.typed
  integrations/langchain/skyvern_langchain/schema.py
  integrations/langchain/skyvern_langchain/settings.py
  integrations/langchain/uv.lock
  integrations/llama_index/README.md
  integrations/llama_index/pyproject.toml
  integrations/llama_index/skyvern_llamaindex/__init__.py
  integrations/llama_index/skyvern_llamaindex/agent.py
  integrations/llama_index/skyvern_llamaindex/client.py
  integrations/llama_index/skyvern_llamaindex/py.typed
  integrations/llama_index/skyvern_llamaindex/settings.py
  integrations/llama_index/uv.lock
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/hooks/useWorkflowRunViewingV2.ts
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.tsx
  skyvern-frontend/src/routes/tasks/detail/RunViewingModeToggle.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/shared.tsx
  skyvern-frontend/src/store/RunViewingPreferenceStore.test.ts
  skyvern-frontend/src/store/RunViewingPreferenceStore.ts
Due: frontend-precommit, vitest-type-check

refactor(SKY-11967): remove internal run-viewing toggle + orphaned compact action list (#7231)
  skyvern-frontend/src/hooks/useWorkflowRunViewingV2.ts
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.tsx
  skyvern-frontend/src/routes/tasks/detail/RunViewingModeToggle.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/shared.tsx
  skyvern-frontend/src/store/RunViewingPreferenceStore.test.ts
  skyvern-frontend/src/store/RunViewingPreferenceStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.reveal.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/actionReveal.test.ts
  skyvern-frontend/src/routes/workflows/copilot/actionReveal.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.blockActions.test.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/workflowRun/useShimmerText.ts
  skyvern-frontend/src/util/featureFlags.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11339): progressive action reveal for copilot verify cards (#7232)
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.reveal.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/actionReveal.test.ts
  skyvern-frontend/src/routes/workflows/copilot/actionReveal.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.blockActions.test.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/workflowRun/useShimmerText.ts
  skyvern-frontend/src/util/featureFlags.ts
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerMode.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.scroll.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/util/utils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerMode.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.scroll.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.test.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.ts
  skyvern-frontend/src/util/utils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_credential_rotation.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_totp_identifier_fallback.py
  tests/unit/workflow/test_workflow_trigger_block.py
Due: none

feat(SKY-11973): copilot narrates studio runs happening next to it (#7233)
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerMode.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.scroll.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/useRunLifecycleAnnouncements.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/util/utils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/schedules.py
  skyvern/forge/sdk/routes/workflow_schedules.py
  skyvern/forge/sdk/schemas/workflow_schedules.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/schedules.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/schedules/CreateOrgScheduleDialog.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.test.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.ts
  skyvern-frontend/src/routes/workflows/types/scheduleTypes.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.ts
  skyvern-frontend/src/util/getErrorDetail.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/core/browser_ops.py
  skyvern/cli/mcp_tools/_element_state.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/client/types/task_run_list_item.py
  skyvern/client/types/workflow_run_trigger_type.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/db/enums.py
  skyvern/forge/sdk/db/repositories/schedules.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/routes/trigger_type.py
  skyvern/forge/sdk/routes/workflow_schedules.py
  skyvern/forge/sdk/schemas/workflow_schedules.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/schedules.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/runs.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/TriggerTypeBadge.tsx
  skyvern-frontend/src/components/TriggerTypeFilterDropdown.tsx
  skyvern-frontend/src/routes/history/RunHistory.test.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/schedules/CreateOrgScheduleDialog.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.test.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.ts
  skyvern-frontend/src/routes/workflows/types/scheduleTypes.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.ts
  skyvern-frontend/src/util/getErrorDetail.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'fern/' with remote 'fern/'
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/_mcp_browser_fakes.py
  tests/unit/forge/sdk/test_trigger_type.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_credential_test_trigger_type.py
  tests/unit/test_mcp_browser_extensions.py
  tests/unit/test_mcp_browser_tools.py
  tests/unit/test_mcp_observe_execute.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_totp_identifier_fallback.py
  tests/unit/workflow/test_workflow_trigger_block.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/core/browser_ops.py
  skyvern/cli/mcp_tools/_element_state.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/forge/sdk/db/repositories/schedules.py
  skyvern/forge/sdk/routes/workflow_schedules.py
  skyvern/forge/sdk/schemas/workflow_schedules.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/schedules.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/_mcp_browser_fakes.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_mcp_browser_extensions.py
  tests/unit/test_mcp_browser_tools.py
  tests/unit/test_mcp_observe_execute.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_totp_identifier_fallback.py
  tests/unit/workflow/test_workflow_trigger_block.py
Due: none

fix(schedules): preserve paused state on edit, stricter cron validation, schedule UX (#7235)
  skyvern-frontend/src/routes/schedules/CreateOrgScheduleDialog.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.test.ts
  skyvern-frontend/src/routes/workflows/runWorkflowCredentials.ts
  skyvern-frontend/src/routes/workflows/types/scheduleTypes.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowBlockUtils.ts
  skyvern-frontend/src/util/getErrorDetail.ts
  skyvern/forge/sdk/db/repositories/schedules.py
  skyvern/forge/sdk/routes/workflow_schedules.py
  skyvern/forge/sdk/schemas/workflow_schedules.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/schedules.py
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_totp_identifier_fallback.py
  tests/unit/workflow/test_workflow_trigger_block.py
Due: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
