Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

refactor
  skyvern-frontend/package-lock.json
Due: vitest-type-check

feat: limit hover element parent traversal depth and rename hover attribute
  skyvern/webeye/scraper/domUtils.js
  skyvern/webeye/scraper/scraper.py
Due: none

feat: clarify element ID requirements and improve attribute naming
  skyvern/forge/prompts/skyvern/extract-action-static.j2
  skyvern/webeye/scraper/scraper.py
Due: none

fix: remove incorrect example ID from prompt instruction
  skyvern/forge/prompts/skyvern/extract-action.j2
Due: none

add schema validation and default value filling for extraction results
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/sdk/api/llm/schema_validator.py
  skyvern/webeye/actions/handler.py
Due: none

Delete skyvern-frontend/package-lock.json
  skyvern-frontend/package-lock.json
Due: vitest-type-check

Allow running Skyvern on newer DB version when explicitly requested (#3955)
  entrypoint-skyvern.sh
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/streaming/agent.py
  skyvern/forge/sdk/routes/streaming/auth.py
  skyvern/forge/sdk/routes/streaming/channels/README.md
  skyvern/forge/sdk/routes/streaming/channels/__init__.py
  skyvern/forge/sdk/routes/streaming/channels/cdp.py
  skyvern/forge/sdk/routes/streaming/channels/execution.py
  skyvern/forge/sdk/routes/streaming/channels/exfiltration.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/clients.py
  skyvern/forge/sdk/routes/streaming/messages.py
  skyvern/forge/sdk/routes/streaming/registries.py
  skyvern/forge/sdk/routes/streaming/screenshot.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/forge/sdk/routes/streaming/vnc.py
  skyvern/py.typed
Due: none

Browser streaming refactor (#4064)
  skyvern/forge/sdk/routes/streaming/agent.py
  skyvern/forge/sdk/routes/streaming/auth.py
  skyvern/forge/sdk/routes/streaming/channels/README.md
  skyvern/forge/sdk/routes/streaming/channels/__init__.py
  skyvern/forge/sdk/routes/streaming/channels/cdp.py
  skyvern/forge/sdk/routes/streaming/channels/execution.py
  skyvern/forge/sdk/routes/streaming/channels/exfiltration.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/clients.py
  skyvern/forge/sdk/routes/streaming/messages.py
  skyvern/forge/sdk/routes/streaming/registries.py
  skyvern/forge/sdk/routes/streaming/screenshot.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/forge/sdk/routes/streaming/vnc.py
  skyvern/py.typed
Due: none

Use schema default value when filling missing required fields
  skyvern/forge/sdk/api/llm/schema_validator.py
Due: none

Return new instances for mutable default values to avoid sharing across fields
  skyvern/forge/sdk/api/llm/schema_validator.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
Due: none

Respect disable goal check in parallel flow (#4021)
  skyvern/forge/agent.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
Due: frontend-precommit, vitest-type-check

allow Show Code controls to render on OSS builds without auth (#4065)
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
Due: frontend-precommit, vitest-type-check

generic clone function
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

removed tests of workflowEdiorUtils because it tries to reach env vars that we don't have test vars for
  skyvern-frontend/src/routes/workflows/editor/__tests__/workflowEditorUtils.test.ts
Due: frontend-precommit, vitest-type-check

upgrade editor saves to version 2 by auto-filling next_block_label (top-level + loops), wiring version into all creation/save paths, and covering it with workflowEditorUtils tests
  skyvern-frontend/src/routes/tasks/create/SavedTaskForm.tsx
  skyvern-frontend/src/routes/tasks/create/SavedTasks.tsx
  skyvern-frontend/src/routes/tasks/list/TaskActions.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsPageBanner.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/__tests__/workflowEditorUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/workflows.py
Due: none

Add workflow definition version (#4066)
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/workflows.py
Due: none

Address comments
  skyvern/core/script_generations/skyvern_page.py
  skyvern/library/ai_locator.py
Due: none

Prompt locator
  fern/openapi/skyvern_openapi.json
  skyvern/client/__init__.py
  skyvern/client/client.py
  skyvern/client/prompts/__init__.py
  skyvern/client/prompts/client.py
  skyvern/client/prompts/raw_client.py
  skyvern/client/raw_client.py
  skyvern/client/types/__init__.py
  skyvern/client/types/improve_prompt_response.py
  skyvern/client/types/locate_element_action.py
  skyvern/client/types/run_sdk_action_request_action.py
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/core/script_generations/skyvern_page.py
  skyvern/core/script_generations/skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/single-locate-element.j2
  skyvern/forge/sdk/routes/sdk.py
  skyvern/forge/sdk/schemas/sdk_actions.py
  skyvern/library/ai_locator.py
  skyvern/library/skyvern_browser_page_ai.py
Due: none

Address comments: use element id
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/single-locate-element.j2
Due: none

Rework AILocator
  skyvern/core/script_generations/skyvern_page.py
  skyvern/library/ai_locator.py
Due: none

Xpath fallback
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/single-locate-element.j2
Due: none

doc
  skyvern/core/script_generations/skyvern_page.py
Due: none

workflow definition version transition for skip if and future DAG support (#4012)
  skyvern-frontend/src/routes/tasks/create/SavedTaskForm.tsx
  skyvern-frontend/src/routes/tasks/create/SavedTasks.tsx
  skyvern-frontend/src/routes/tasks/list/TaskActions.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsPageBanner.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
Due: frontend-precommit, vitest-type-check

SDK: Prompt-based locator (#4027)
  fern/openapi/skyvern_openapi.json
  skyvern/client/__init__.py
  skyvern/client/client.py
  skyvern/client/prompts/__init__.py
  skyvern/client/prompts/client.py
  skyvern/client/prompts/raw_client.py
  skyvern/client/raw_client.py
  skyvern/client/types/__init__.py
  skyvern/client/types/improve_prompt_response.py
  skyvern/client/types/locate_element_action.py
  skyvern/client/types/run_sdk_action_request_action.py
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/core/script_generations/skyvern_page.py
  skyvern/core/script_generations/skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/single-locate-element.j2
  skyvern/forge/sdk/routes/sdk.py
  skyvern/forge/sdk/schemas/sdk_actions.py
  skyvern/library/ai_locator.py
  skyvern/library/skyvern_browser_page_ai.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/client/__init__.py
  skyvern/client/client.py
  skyvern/client/prompts/__init__.py
  skyvern/client/prompts/client.py
  skyvern/client/prompts/raw_client.py
  skyvern/client/raw_client.py
  skyvern/client/types/__init__.py
  skyvern/client/types/improve_prompt_response.py
  skyvern/client/types/locate_element_action.py
  skyvern/client/types/run_sdk_action_request_action.py
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/core/script_generations/skyvern_page.py
  skyvern/core/script_generations/skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/single-locate-element.j2
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/models.py
  skyvern/forge/sdk/api/llm/utils.py
  skyvern/forge/sdk/routes/sdk.py
  skyvern/forge/sdk/schemas/sdk_actions.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/library/ai_locator.py
  skyvern/library/skyvern_browser_page_ai.py
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/models.py
  skyvern/forge/sdk/api/llm/utils.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/webeye/actions/handler.py
Due: none

allow extract result to be non dict (#4069)
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/models.py
  skyvern/forge/sdk/api/llm/utils.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/streaming/channels/execution.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/messages.py
Due: none

Browser Stream Refactor Fast Follow (#4070)
  skyvern/forge/sdk/routes/streaming/channels/execution.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/messages.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/service.py
Due: none

avoid unnecessary code regeneration when the workflow has non task based blocks (#4071)
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

Pedro/thinking budget tests (#4072)
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/script_service.py
Due: none
