Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

fix: restore cdp migration test lookup
  tests/unit/test_cdp_connect_headers_migration.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesList.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cdp_connect_headers_migration.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesList.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowVisualComparisonDrawer.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
  skyvern-frontend/src/util/secretHeaders.test.ts
  skyvern-frontend/src/util/secretHeaders.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'skyvern-frontend/vitest.config.ts' with remote 'skyvern-frontend/vitest.config.ts'
  skyvern-frontend/vitest.config.ts
Due: vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cdp_connect_headers_migration.py
  tests/unit/workflow/test_reorder_graph_validation.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_api_handler_factory.py
  tests/unit/test_cdp_connect_headers_migration.py
  tests/unit/workflow/test_reorder_graph_validation.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/scripts.py
  skyvern/services/workflow_script_service.py
  skyvern/webeye/utils/dom.py
Due: none

feat: auto-generate OSS alembic migration from cloud PR #11123
  alembic/versions/2026_05_23_0034-7389b537b3a4_add_reviewer_version_to_script_fallback_episodes.py
  alembic/versions/2026_05_23_0034-a2de08504119_add_composite_index_organization_id_workflow_run_id_on_script_fallback_episodes.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/scripts.py
  skyvern/services/script_reviewer_v3/__init__.py
  skyvern/services/script_reviewer_v3/agent_loop.py
  skyvern/services/script_reviewer_v3/budget.py
  skyvern/services/script_reviewer_v3/cohort.py
  skyvern/services/script_reviewer_v3/decision.py
  skyvern/services/script_reviewer_v3/llm_adapter.py
  skyvern/services/script_reviewer_v3/midrun.py
  skyvern/services/script_reviewer_v3/mint_audit.py
  skyvern/services/script_reviewer_v3/mint_review.py
  skyvern/services/script_reviewer_v3/postrun.py
  skyvern/services/script_reviewer_v3/prompts.py
  skyvern/services/script_reviewer_v3/registry_builder.py
  skyvern/services/script_reviewer_v3/skills/__init__.py
  skyvern/services/script_reviewer_v3/skills/base.py
  skyvern/services/script_reviewer_v3/skills/interact.py
  skyvern/services/script_reviewer_v3/skills/investigate.py
  skyvern/services/script_reviewer_v3/skills/investigate_artifacts.py
  skyvern/services/script_reviewer_v3/skills/persist.py
  skyvern/services/script_reviewer_v3/skills/terminal.py
  skyvern/services/script_reviewer_v3/skills/validate.py
  skyvern/services/script_reviewer_v3/types.py
  skyvern/services/workflow_script_service.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/experimentation/llm_prompt_config.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/scripts.py
  skyvern/services/script_reviewer_v3/__init__.py
  skyvern/services/script_reviewer_v3/agent_loop.py
  skyvern/services/script_reviewer_v3/budget.py
  skyvern/services/script_reviewer_v3/cohort.py
  skyvern/services/script_reviewer_v3/decision.py
  skyvern/services/script_reviewer_v3/llm_adapter.py
  skyvern/services/script_reviewer_v3/midrun.py
  skyvern/services/script_reviewer_v3/mint_audit.py
  skyvern/services/script_reviewer_v3/mint_review.py
  skyvern/services/script_reviewer_v3/postrun.py
  skyvern/services/script_reviewer_v3/prompts.py
  skyvern/services/script_reviewer_v3/registry_builder.py
  skyvern/services/script_reviewer_v3/skills/__init__.py
  skyvern/services/script_reviewer_v3/skills/base.py
  skyvern/services/script_reviewer_v3/skills/interact.py
  skyvern/services/script_reviewer_v3/skills/investigate.py
  skyvern/services/script_reviewer_v3/skills/investigate_artifacts.py
  skyvern/services/script_reviewer_v3/skills/persist.py
  skyvern/services/script_reviewer_v3/skills/terminal.py
  skyvern/services/script_reviewer_v3/skills/validate.py
  skyvern/services/script_reviewer_v3/types.py
  skyvern/services/workflow_script_service.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_api_handler_factory.py
  tests/unit/test_cdp_connect_headers_migration.py
  tests/unit/test_check_user_goal_llm_override.py
  tests/unit/workflow/test_reorder_graph_validation.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/experimentation/wait_config.py
  skyvern/experimentation/wait_utils.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/artifact/manager.py
  skyvern/forge/sdk/artifact/storage/base.py
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/experimentation/llm_prompt_config.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/scripts.py
  skyvern/services/script_reviewer_v3/__init__.py
  skyvern/services/script_reviewer_v3/agent_loop.py
  skyvern/services/script_reviewer_v3/budget.py
  skyvern/services/script_reviewer_v3/cohort.py
  skyvern/services/script_reviewer_v3/decision.py
  skyvern/services/script_reviewer_v3/llm_adapter.py
  skyvern/services/script_reviewer_v3/midrun.py
  skyvern/services/script_reviewer_v3/mint_audit.py
  skyvern/services/script_reviewer_v3/mint_review.py
  skyvern/services/script_reviewer_v3/postrun.py
  skyvern/services/script_reviewer_v3/prompts.py
  skyvern/services/script_reviewer_v3/registry_builder.py
  skyvern/services/script_reviewer_v3/skills/__init__.py
  skyvern/services/script_reviewer_v3/skills/base.py
  skyvern/services/script_reviewer_v3/skills/interact.py
  skyvern/services/script_reviewer_v3/skills/investigate.py
  skyvern/services/script_reviewer_v3/skills/investigate_artifacts.py
  skyvern/services/script_reviewer_v3/skills/persist.py
  skyvern/services/script_reviewer_v3/skills/terminal.py
  skyvern/services/script_reviewer_v3/skills/validate.py
  skyvern/services/script_reviewer_v3/types.py
  skyvern/services/workflow_script_service.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_api_handler_factory.py
  tests/unit/test_artifact_url_expiry_org_config.py
  tests/unit/test_block_output_download_refresh.py
  tests/unit/test_browser_session_download_artifacts.py
  tests/unit/test_browser_session_recording_artifacts.py
  tests/unit/test_cdp_connect_headers_migration.py
  tests/unit/test_check_user_goal_llm_override.py
  tests/unit/test_downloaded_files_artifact_urls.py
  tests/unit/test_self_host_artifact_url_fallback.py
  tests/unit/test_step_archive_accumulator.py
  tests/unit/workflow/test_reorder_graph_validation.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/test_agent_function_upload_file.py
  tests/unit/test_api_handler_factory.py
  tests/unit/test_artifact_url_expiry_org_config.py
  tests/unit/test_block_output_download_refresh.py
  tests/unit/test_browser_session_download_artifacts.py
  tests/unit/test_browser_session_recording_artifacts.py
  tests/unit/test_cdp_connect_headers_migration.py
  tests/unit/test_check_user_goal_llm_override.py
  tests/unit/test_downloaded_files_artifact_urls.py
  tests/unit/test_self_host_artifact_url_fallback.py
  tests/unit/test_step_archive_accumulator.py
  tests/unit/workflow/test_reorder_graph_validation.py
Due: none

chore(frontend): add @dnd-kit/core, @dnd-kit/sortable, fast-check to OSS manifest
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

chore(frontend): bump jsdom from ^25.0.1 to ^29.1.1 in OSS frontend
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

fix(experimentation): narrow None branch for CHECK_USER_GOAL_LLM_NAME variant
  skyvern/forge/sdk/experimentation/llm_prompt_config.py
Due: none

chore(alembic): add reviewer_version column + sfe_org_wrid_idx for script_fallback_episodes
  alembic/versions/2026_05_14_1030-d1e2f3a4b5c6_add_reviewer_version_to_script_fallback_episodes.py
  alembic/versions/2026_05_14_1100-d7e8f9a0b1c2_add_composite_index_org_wrid_on_script_fallback_episodes.py
Due: none

fix(tests): point cdp_connect_headers migration test at the OSS migration filename
  tests/unit/test_cdp_connect_headers_migration.py
Due: none
