Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/TriggerTypeBadge.tsx
  skyvern-frontend/src/components/TriggerTypeFilterDropdown.tsx
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/schedules/CreateOrgScheduleDialog.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailRoute.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesRoute.tsx
  skyvern-frontend/src/routes/schedules/useCreateOrgScheduleMutation.ts
  skyvern-frontend/src/routes/schedules/useOrganizationSchedulesQuery.ts
  skyvern-frontend/src/routes/schedules/useScheduleActions.ts
  skyvern-frontend/src/routes/schedules/useScheduleDetailQuery.ts
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowScriptDetailPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowScriptsPage.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/CreateScheduleDialog.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/ScheduleCard.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/WorkflowSchedulePanel.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.ts
  skyvern-frontend/src/routes/workflows/hooks/useScheduleMutations.ts
  skyvern-frontend/src/routes/workflows/hooks/useScriptRunsQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowSchedulesQuery.ts
  skyvern-frontend/src/routes/workflows/types/scheduleTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern-frontend/src/store/WorkflowPanelStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cached_download_s3_upload.py
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_phantom_script_block_entries.py
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/test_temporal_v2_workflow_activities.py
  tests/unit/worker_activity_import_helpers.py
  tests/unit/workflow/test_file_parser_error_code.py
Due: none

[SKY-8181] Migration
  alembic/versions/2026_03_18_0220-e8c78980ed9d_add_workflow_schedules_table_and_.py
Due: none

feat: DB migration for workflow schedules (#SKY-8181) (#5140)
  alembic/versions/2026_03_18_0220-e8c78980ed9d_add_workflow_schedules_table_and_.py
  skyvern/forge/sdk/db/enums.py
  skyvern/forge/sdk/db/id.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/schemas/workflow_schedules.py
  skyvern/forge/sdk/workflow/models/workflow.py
  uv.lock
Due: none

fix: skip script_block entries for blocks with no actions (#SKY-8443) (#5141)
  skyvern/core/script_generations/generate_script.py
  tests/unit/test_phantom_script_block_entries.py
Due: none

fix: replace instant download check with progress-aware polling loop (#SKY-8433) (#5142)
  skyvern/exceptions.py
  skyvern/services/script_service.py
  tests/unit/test_cached_download_s3_upload.py
Due: none

fix: resolve Code 2.0 script UI issues (SKY-8444–8448) (#5143)
  skyvern-frontend/src/routes/workflows/WorkflowScriptDetailPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowScriptsPage.tsx
  skyvern-frontend/src/routes/workflows/hooks/useScriptRunsQuery.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/scripts.py
Due: frontend-precommit, vitest-type-check

[SKY-8182] P
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

[SKY-8182] PE
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

[SKY-8182] Remov etest
  tests/unit/test_local_schedule_runner.py
Due: none

Add workflow schedules support (DB model, API routes, Temporal integration) (#SKY-8182) (#5144)
  pyproject.toml
  skyvern/forge/sdk/core/permissions/schedule_limit_checker.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/workflow/schedules.py
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_temporal_v2_workflow_activities.py
  uv.lock
Due: none

[NO-TICKET] Add migration
  alembic/versions/2026_03_19_0735-786acdf95243_add_error_codes_to_workflow_run_blocks.py
Due: none

fix: reload settings_manager in test fixture to pick up env vars
  tests/unit/test_minimax_model_config.py
Due: none

[NO-TICKET] Remove
  tests/unit/test_local_schedule_runner.py
Due: none

feat: report FILE_PARSER_ERROR code on file parser block failures (SKY-7939) (#5145)
  alembic/versions/2026_03_19_0735-786acdf95243_add_error_codes_to_workflow_run_blocks.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/schemas/workflow_runs.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/workflows.py
  tests/unit/workflow/test_file_parser_error_code.py
Due: none

[NO-TICKET] Bump
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

[NO-TICKET] Cleanup
  tests/unit/test_schedule_orphan_cleanup.py
Due: none

feat: add frontend schedule panel to workflow editor (#SKY-8184) (#5146)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/TriggerTypeBadge.tsx
  skyvern-frontend/src/components/TriggerTypeFilterDropdown.tsx
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/schedules/CreateOrgScheduleDialog.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/ScheduleDetailRoute.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesRoute.tsx
  skyvern-frontend/src/routes/schedules/useCreateOrgScheduleMutation.ts
  skyvern-frontend/src/routes/schedules/useOrganizationSchedulesQuery.ts
  skyvern-frontend/src/routes/schedules/useScheduleActions.ts
  skyvern-frontend/src/routes/schedules/useScheduleDetailQuery.ts
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/CreateScheduleDialog.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/ScheduleCard.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/WorkflowSchedulePanel.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/schedulePanel/cronUtils.ts
  skyvern-frontend/src/routes/workflows/hooks/useScheduleMutations.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowSchedulesQuery.ts
  skyvern-frontend/src/routes/workflows/types/scheduleTypes.ts
  skyvern-frontend/src/store/WorkflowPanelStore.ts
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/worker_activity_import_helpers.py
Due: frontend-precommit, vitest-type-check

fix: update TOTP docs, SDK reference, light mode logo, and broken API key links
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
Due: none

fix: fail immediately on non-retriable navigation errors
  skyvern/constants.py
  skyvern/webeye/navigation.py
  skyvern/webeye/real_browser_state.py
  tests/unit_tests/webeye/__init__.py
  tests/unit_tests/webeye/test_navigation_retry.py
Due: none

docs/fix: update TOTP docs, SDK reference, light mode logo, and broken API key links (#5150)
  docs/cloud/managing-credentials/totp-setup.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/complete-reference.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/cloud/managing-credentials/totp-setup.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/complete-reference.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

[NO-TICKET] Cleanup
  tests/unit/test_local_schedule_runner.py
Due: none

Fix bulk operations: defer selection clear, add concurrency control and summary toast (#SKY-8451) (#5148)
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  tests/unit/test_schedule_orphan_cleanup.py
Due: frontend-precommit, vitest-type-check

fix: show Used instead of Generated when run uses cached script without fallback (#5147)
  tests/unit/test_local_schedule_runner.py
Due: none

Fix: Add confirmation dialog for bulk schedule deletion (SKY-8450) (#5149)
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
Due: frontend-precommit, vitest-type-check

[NO-TICKET] Cleanup
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

[NO-TICKET] Remove bad tests
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

Revert "feat: add MiniMax LLM provider support (#5109)"
  .env.example
  README.md
  docs/self-hosted/llm-configuration.mdx
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/__init__.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerBlockRuns.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserSessionRateLimit.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.ts
Due: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
