Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/WorkflowBlockInput.tsx
Due: frontend-precommit, vitest-type-check

Fix cursor jumping to end in conditional expression editor (#SKY-7938) (#4682)
  skyvern-frontend/src/components/WorkflowBlockInput.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/blocks.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/cli/mcp_tools/workflow.py
Due: none

Block discovery MCP tools + improved MCP instructions (#SKY-7804) (#4683)
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/blocks.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/cli/mcp_tools/workflow.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

Fix rendered expression display for dotted Jinja variables (#SKY-7937) (#4684)
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ModelSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRunOutput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOutput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineItemInfoSection.tsx
Due: frontend-precommit, vitest-type-check

Surface block failure_reason in UI for all block types (#SKY-7620) (#4672)
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRunOutput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOutput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineItemInfoSection.tsx
Due: frontend-precommit, vitest-type-check

Fix: Added scipts/start_vnc_streaming.sh in entrypoint and added dependecies to the Dockerfile of the backend
  Dockerfile
  entrypoint-skyvern.sh
Due: none

Add GEMINI_3.0_FLASH support and update docker-compose.yml
  README.md
  docker-compose.yml
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

Improve self-hosting docs
  docker-compose.yml
  docs/self-hosted/browser.mdx
  docs/self-hosted/docker.mdx
  docs/self-hosted/kubernetes.mdx
  docs/self-hosted/llm-configuration.mdx
  docs/self-hosted/overview.mdx
  docs/self-hosted/proxy.mdx
  docs/self-hosted/storage.mdx
Due: none

Add self-hosted section to docs.json navigation
  docs/docs.json
Due: none

feat: new self-hosting docs (#4689)
  docker-compose.yml
  docs/docs.json
  docs/self-hosted/browser.mdx
  docs/self-hosted/docker.mdx
  docs/self-hosted/kubernetes.mdx
  docs/self-hosted/llm-configuration.mdx
  docs/self-hosted/overview.mdx
  docs/self-hosted/proxy.mdx
  docs/self-hosted/storage.mdx
Due: none

Improve your-first-task guide
  docs/cloud/your-first-task.mdx
Due: none

Cloud docs/add getting started (#4690)
  docs/cloud/getting-started.mdx
  docs/cloud/ui-overview.mdx
  docs/cloud/your-first-task.mdx
  docs/docs.json
  docs/getting-started/quickstart.mdx
  docs/images/cloud/discover-prompt-in-process.png
  docs/images/cloud/discover-workflow-completed.png
  docs/images/cloud/skyvern-cloud-discover.png
Due: none

fix: resolve dependabot security alerts across Python and JS dependencies
  integrations/langchain/uv.lock
  integrations/llama_index/uv.lock
  pyproject.toml
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-ts/client/package.json
  skyvern-ts/client/pnpm-lock.yaml
  uv.lock
Due: vitest-type-check

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

fix: resolve 60+ dependabot security alerts (#4664)
  integrations/langchain/uv.lock
  integrations/llama_index/uv.lock
  pyproject.toml
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-ts/client/package.json
  skyvern-ts/client/pnpm-lock.yaml
  uv.lock
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/services/credential/azure_credential_vault_service.py
  skyvern/forge/sdk/services/credential/bitwarden_credential_service.py
  skyvern/forge/sdk/services/credential/credential_vault_service.py
  skyvern/forge/sdk/services/credential/custom_credential_vault_service.py
Due: none

Add endpoint to update existing credential data (#SKY-7883) (#4693)
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/services/credential/azure_credential_vault_service.py
  skyvern/forge/sdk/services/credential/bitwarden_credential_service.py
  skyvern/forge/sdk/services/credential/credential_vault_service.py
  skyvern/forge/sdk/services/credential/custom_credential_vault_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/EngineSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowNodeLibraryPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

Merge Navigation V1 and Task V2 blocks into unified Browser Task block (#4695)
  skyvern-frontend/src/components/EngineSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowNodeLibraryPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

Add error_code and search_key filters to workflow runs API (#SKY-7884) (#4694)
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/service.py
Due: none

Add auto-merge workflow for sync-labeled PRs
  .github/workflows/auto-merge-sync.yml
Due: none

Remove jomido and stanislaw89 from auto-merge approved list
  .github/workflows/auto-merge-sync.yml
Due: none

Remove jomido and stanislaw89 from sync-skyvern-cloud workflow
  .github/workflows/sync-skyvern-cloud.yml
Due: none

Add GPT 5 Mini to model selector and hide GPT 5 (#4686)
  skyvern-frontend/src/components/ModelSelector.tsx
  skyvern/config.py
Due: frontend-precommit, vitest-type-check

Revert "Merge pull request #11 from naman06dev/cloud-docs/add-running-tasks-section"
  fern/docs.yml
  fern/getting-started/core-concepts.mdx
Due: none

Apply captcha docs rewrite
  docs/going-to-production/captcha-bot-detection.mdx
  docs/images/take-control.png
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/forge_log.py
Due: none
