Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_real_browser_manager.py
  tests/unit/test_real_browser_manager_frame_publisher.py
  tests/unit/test_real_browser_manager_publisher_self_stops_on_close.py
  tests/unit/test_real_browser_manager_publisher_start_race.py
  tests/unit/test_real_browser_state_on_close_hook.py
  tests/unit/test_stream_ref_dec_no_publisher_access.py
  tests/unit/test_worker_cdp_frame_publisher.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/webeye/browser_artifacts.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/browser_state.py
  skyvern/webeye/cdp_frame_publisher.py
  skyvern/webeye/real_browser_manager.py
  skyvern/webeye/real_browser_state.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_real_browser_manager.py
  tests/unit/test_real_browser_manager_frame_publisher.py
  tests/unit/test_real_browser_manager_publisher_self_stops_on_close.py
  tests/unit/test_real_browser_manager_publisher_start_race.py
  tests/unit/test_real_browser_state_on_close_hook.py
  tests/unit/test_stream_ref_dec_no_publisher_access.py
  tests/unit/test_tag_endpoints.py
  tests/unit/test_worker_cdp_frame_publisher.py
  tests/unit/test_workflows_list_tag_filter.py
Due: none

SKY-10723: Add worker-side CDP livestream publishing (#6895)
  skyvern/webeye/browser_artifacts.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/browser_state.py
  skyvern/webeye/cdp_frame_publisher.py
  skyvern/webeye/real_browser_manager.py
  skyvern/webeye/real_browser_state.py
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_real_browser_manager.py
  tests/unit/test_real_browser_manager_frame_publisher.py
  tests/unit/test_real_browser_manager_publisher_self_stops_on_close.py
  tests/unit/test_real_browser_manager_publisher_start_race.py
  tests/unit/test_real_browser_state_on_close_hook.py
  tests/unit/test_stream_ref_dec_no_publisher_access.py
  tests/unit/test_worker_cdp_frame_publisher.py
Due: none

fix(SKY-11536): gate WORKFLOW_TAGGING on shared workflow-tag filter endpoints (#6896)
  skyvern/forge/sdk/routes/agent_protocol.py
  tests/unit/test_tag_endpoints.py
  tests/unit/test_workflows_list_tag_filter.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_loop_detection_blocker.py
  tests/unit/test_copilot_streaming_adapter.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_loop_detection_blocker.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_copilot_streaming_adapter.py
Due: none

fix(SKY-11495): credit validation review fallback floor (#6897)
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_loop_detection_blocker.py
  tests/unit/test_copilot_streaming_adapter.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/request_policy.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SelectionCheckbox.tsx
  skyvern-frontend/src/components/ui/context-menu.tsx
  skyvern-frontend/src/routes/workflows/WorkflowActions.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsFlat.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsTree.tsx
  skyvern-frontend/src/routes/workflows/components/BulkActionBar.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowFolderSelector.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowRowContextMenu.delete.test.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowRowContextMenu.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/BulkTagPicker.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.clarity.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.tsx
  skyvern-frontend/src/routes/workflows/components/tree/FolderTreeNode.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tagging.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowsListContext.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRowActions.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
Due: none

SKY-11544: Fix value-grounded Copilot completion criteria (#6899)
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/request_policy.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
Due: none

fix(SKY-11337): add missing @radix-ui/react-context-menu dependency
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

feat(SKY-11337): unified right-click + bulk action menus for the agents list (#6900)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/components/SelectionCheckbox.tsx
  skyvern-frontend/src/components/ui/context-menu.tsx
  skyvern-frontend/src/routes/workflows/WorkflowActions.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsFlat.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsTree.tsx
  skyvern-frontend/src/routes/workflows/components/BulkActionBar.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowFolderSelector.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowRowContextMenu.delete.test.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowRowContextMenu.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/BulkTagPicker.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.clarity.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.tsx
  skyvern-frontend/src/routes/workflows/components/tree/FolderTreeNode.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tagging.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowsListContext.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRowActions.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_input_text_phone_readback.py
Due: none

SKY-11549: tolerate NANP country-code phone readback (#6901)
  skyvern/webeye/actions/handler.py
  tests/unit/test_input_text_phone_readback.py
Due: none

[LLM] Scope custom models by organization
  skyvern/config.py
  skyvern/forge/sdk/api/llm/custom_llm_registry.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/custom_llms.py
  skyvern/forge/sdk/schemas/task_v2.py
  skyvern/forge/sdk/schemas/tasks.py
  skyvern/services/task_v2_service.py
  tests/unit/test_custom_llms.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
Due: none

SKY-11559: Verify validation classifications deterministically (#6902)
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigSidebar.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/BulkActionBar.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigSidebar.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/BulkActionBar.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.largeJson.test.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/oversizedDocument.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigSidebar.test.tsx
Due: frontend-precommit, vitest-type-check

test(SKY-11383): guard block config panel top gap below workflow header (#6903)
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigSidebar.test.tsx
Due: frontend-precommit, vitest-type-check

fix(SKY-11567): guard workflow document editor against absent values (#6905)
  skyvern-frontend/src/routes/workflows/components/BulkActionBar.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.largeJson.test.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.test.tsx
  skyvern-frontend/src/routes/workflows/components/FolderPickerCommand.tsx
  skyvern-frontend/src/routes/workflows/components/oversizedDocument.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/copilotRunId.test.ts
  skyvern-frontend/src/routes/workflows/editor/copilotRunId.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11276): bridge studio run id into the workflow copilot request (#6906)
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/copilotRunId.test.ts
  skyvern-frontend/src/routes/workflows/editor/copilotRunId.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/studio/RunTab.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/runFixMessage.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/runFixMessage.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11580): seed a grounded diagnose turn from "Fix with Copilot" (#6908)
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/studio/RunTab.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/runFixMessage.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/runFixMessage.ts
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/header/EditorOverflowMenu.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.ts
  skyvern-frontend/src/routes/workflows/studio/StudioTopBar.tsx
Due: frontend-precommit, vitest-type-check

fix(SKY-11516): fire copilot.discover.started on /discover copilot handoff (#6913)
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useViaEntryPointCapture.ts
Due: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
