Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

Update API specifications with fern api update (#6209)
  fern/openapi/skyvern_openapi.json
Due: none

Scope security fix to LLM artifact masking
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/artifact/manager.py
  skyvern/utils/prompt_engine.py
  skyvern/webeye/dialog_handler.py
  tests/unit/test_bulk_artifact_creation.py
Due: none

chore(frontend): align tailwind config shape for clean cross-repo sync
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

chore(frontend): align tailwind config shape for clean cross-repo sync (#6227)
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_script_mode_browser_url.py
Due: none

fix(SKY-10452): pre-create browser with block URL in script mode for proxy selection (#6228)
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_script_mode_browser_url.py
Due: none

[Streaming] Add browser controls to CDP streams
  docs/assets/pr/cdp-browser-controls.png
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionStream.tsx
  skyvern-frontend/src/routes/streaming/InteractiveStreamView.tsx
  skyvern-frontend/src/routes/streaming/cdpInputUtils.test.ts
  skyvern-frontend/src/routes/streaming/cdpInputUtils.ts
  skyvern-frontend/src/routes/streaming/useCdpInput.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStream.tsx
  skyvern/forge/sdk/routes/streaming/cdp_input.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/types/workflowRunTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineUnexecutedBlockItem.tsx
Due: frontend-precommit, vitest-type-check

feat(SKY-10222): show N/M block completion and unexecuted blocks on run UI (#6230)
  skyvern-frontend/src/routes/workflows/types/workflowRunTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineUnexecutedBlockItem.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/toolActivity.test.ts
  skyvern-frontend/src/routes/workflows/copilot/toolActivity.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
Due: frontend-precommit, vitest-type-check

SKY-10142: render turn narrative bubble (FE, 2/2) (#6231)
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/toolActivity.test.ts
  skyvern-frontend/src/routes/workflows/copilot/toolActivity.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/collapse/NodeBody.tsx
Due: frontend-precommit, vitest-type-check

fix(SKY-10457): stop block-body clip from cutting focused input rings (#6232)
  skyvern-frontend/src/routes/workflows/editor/collapse/NodeBody.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/composition_evidence.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_composition_evidence.py
Due: none

SKY-10346: Add page evidence parser contract (PR 1/12) (#6233)
  skyvern/forge/sdk/copilot/composition_evidence.py
  tests/unit/test_copilot_composition_evidence.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_discovery.py
Due: none

SKY-10346: Wire MCP page inspection tool (PR 2/12) (#6234)
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_discovery.py
Due: none

SKY-10346: Harden page evidence boundaries (PR 3/12) (#6235)
  skyvern/forge/sdk/copilot/composition_evidence.py
  tests/unit/test_copilot_composition_evidence.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

feat(frontend): show workflow step timestamps
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.test.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
Due: frontend-precommit, vitest-type-check

fix: use solid open session pill styling (#6237)
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.test.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/icons/N8nIcon.test.tsx
  skyvern-frontend/src/components/icons/N8nIcon.tsx
  skyvern-frontend/src/routes/root/SideNav.test.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
Due: frontend-precommit, vitest-type-check

fix(SKY-10405): update n8n integration logo (#6239)
  skyvern-frontend/src/components/icons/N8nIcon.test.tsx
  skyvern-frontend/src/components/icons/N8nIcon.tsx
  skyvern-frontend/src/routes/root/SideNav.test.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

fix: truncate loop_over_value in for-loop iteration log (#6240)
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/Flippable.tsx
  skyvern-frontend/src/routes/workflows/editor/nestedConditionalSave.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/ActionNode/ActionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/CodeBlockNode/CodeBlockNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/BranchesEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/ConditionalNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/applyEdgeVisibility.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/applyEdgeVisibility.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/DownloadNode/DownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ExtractionNode/ExtractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileDownloadNode/FileDownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileParserNode/FileParserNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileUploadNode/FileUploadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/GoogleSheetsReadNode/GoogleSheetsReadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/GoogleSheetsWriteNode/GoogleSheetsWriteNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HumanInteractionNode/HumanInteractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoopNode/LoopNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/PDFParserNode/PDFParserNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/PrintPageNode/PrintPageNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/SendEmailNode/SendEmailNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/TaskNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/Taskv2Node/Taskv2Node.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TextPromptNode/TextPromptNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/URLNode/URLNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/UploadNode/UploadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ValidationNode/ValidationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WaitNode/WaitNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WorkflowTriggerNode/WorkflowTriggerNode.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/editor/workflowInsertion.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowInsertion.ts
Due: frontend-precommit, vitest-type-check

fix(SKY-10351): flatten 3D context on Flippable face containers (#6241)
  skyvern-frontend/src/components/Flippable.tsx
  skyvern-frontend/src/routes/workflows/editor/nestedConditionalSave.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/ActionNode/ActionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/CodeBlockNode/CodeBlockNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/BranchesEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/ConditionalNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/applyEdgeVisibility.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/ConditionalNode/applyEdgeVisibility.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/DownloadNode/DownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ExtractionNode/ExtractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileDownloadNode/FileDownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileParserNode/FileParserNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileUploadNode/FileUploadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/GoogleSheetsReadNode/GoogleSheetsReadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/GoogleSheetsWriteNode/GoogleSheetsWriteNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HumanInteractionNode/HumanInteractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoopNode/LoopNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/PDFParserNode/PDFParserNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/PrintPageNode/PrintPageNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/SendEmailNode/SendEmailNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/TaskNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/Taskv2Node/Taskv2Node.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TextPromptNode/TextPromptNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/URLNode/URLNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/UploadNode/UploadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ValidationNode/ValidationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WaitNode/WaitNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WorkflowTriggerNode/WorkflowTriggerNode.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/editor/workflowInsertion.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowInsertion.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/datetime_utils.py
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/db/repositories/tasks.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/db/test_datetime_utils.py
  tests/unit/test_browser_session_update_started_at.py
Due: none

SKY-10346: Normalize repository datetimes (PR 6/12) (#6242)
  skyvern/forge/sdk/db/datetime_utils.py
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/db/repositories/scripts.py
  skyvern/forge/sdk/db/repositories/tasks.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  tests/unit/db/test_datetime_utils.py
  tests/unit/test_browser_session_update_started_at.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
