Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

Add conditional block support for script caching (v2 - with bug fix) (#4642)
  skyvern/core/script_generations/CLAUDE.md
  skyvern/core/script_generations/generate_script.py
  skyvern/core/script_generations/transform_workflow_run.py
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/workflow_script_service.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/transform_workflow_run.py
  skyvern/forge/sdk/db/CLAUDE.md
  skyvern/forge/sdk/db/agent_db.py
Due: none

fix: restore DESC order in get_tasks_actions for timeline UI (#4643)
  skyvern/core/script_generations/transform_workflow_run.py
  skyvern/forge/sdk/db/CLAUDE.md
  skyvern/forge/sdk/db/agent_db.py
Due: none

debugging docs section (#4638)
  docs/debugging/faq.mdx
  docs/debugging/troubleshooting-guide.mdx
  docs/debugging/using-artifacts.mdx
  docs/docs.json
  docs/images/debugging-checklist.png
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowParameterEditPanel.tsx
  skyvern-frontend/src/routes/workflows/hooks/useLabelChangeHandler.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/exceptions.py
  skyvern/schemas/workflows.py
  skyvern/utils/strings.py
  skyvern/utils/templating.py
Due: none

Fix Jinja2 template errors from invalid parameter/block names with special characters (SKY-7356) (#4644)
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowParameterEditPanel.tsx
  skyvern-frontend/src/routes/workflows/hooks/useLabelChangeHandler.ts
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/exceptions.py
  skyvern/schemas/workflows.py
  skyvern/utils/strings.py
  skyvern/utils/templating.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
Due: frontend-precommit, vitest-type-check

Fix HTTP request block overflowing wrapper blocks (#SKY-7486) (#4645)
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/AutoResizingTextarea/AutoResizingTextarea.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
Due: frontend-precommit, vitest-type-check

Fix React error #185 when copy-pasting content between blocks (#SKY-7638) (#4646)
  skyvern-frontend/src/components/AutoResizingTextarea/AutoResizingTextarea.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/forge_log.py
Due: none

Fix structlog AttributeError when logging from stdlib loggers (#4647)
  skyvern/forge/sdk/forge_log.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

Fix third-party logger noise flooding stderr after structlog StreamHandler addition (#4649)
  skyvern/forge/sdk/forge_log.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/utils/pdf_parser.py
  skyvern/forge/sdk/utils/sanitization.py
Due: none

Fix: Sanitize PDF text to prevent PostgreSQL NUL byte errors (#4650)
  skyvern/forge/sdk/utils/pdf_parser.py
  skyvern/forge/sdk/utils/sanitization.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/base_alchemy_db.py
Due: none

Fix replica conflict errors and optimize screenshot worker DB calls (#4651)
  skyvern/forge/sdk/db/base_alchemy_db.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/generate-workflow-title.j2
  skyvern/forge/sdk/routes/prompts.py
  skyvern/forge/sdk/schemas/prompts.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/WorkflowBlockInputTextarea.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ActionNode/ActionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileDownloadNode/FileDownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/TaskNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/Taskv2Node/Taskv2Node.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/URLNode/URLNode.tsx
  skyvern-frontend/src/routes/workflows/hooks/useAutoGenerateWorkflowTitle.ts
  skyvern-frontend/src/store/WorkflowTitleStore.ts
Due: frontend-precommit, vitest-type-check

Auto-generate meaningful workflow titles via debounced LLM (#SKY-7287) (#4652)
  skyvern-frontend/src/components/WorkflowBlockInputTextarea.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ActionNode/ActionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileDownloadNode/FileDownloadNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NavigationNode/NavigationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/TaskNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/Taskv2Node/Taskv2Node.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/URLNode/URLNode.tsx
  skyvern-frontend/src/routes/workflows/hooks/useAutoGenerateWorkflowTitle.ts
  skyvern-frontend/src/store/WorkflowTitleStore.ts
  skyvern/forge/prompts/skyvern/generate-workflow-title.j2
  skyvern/forge/sdk/routes/prompts.py
  skyvern/forge/sdk/schemas/prompts.py
  skyvern/forge/sdk/workflow/service.py
Due: frontend-precommit, vitest-type-check

Fix validation errors when saving old workflows with special characters
  skyvern/forge/sdk/routes/agent_protocol.py
Due: none

Increase webhook timeout from 10 seconds to 60 seconds
  skyvern/forge/sdk/routes/webhooks.py
  skyvern/services/webhook_service.py
Due: none

Increase webhook request timeout from 10 to 60 seconds (#4653)
  skyvern/forge/sdk/routes/webhooks.py
  skyvern/services/webhook_service.py
Due: none

Auto-sanitize workflow YAML block labels and import references (#4654)
  skyvern/forge/sdk/routes/agent_protocol.py
Due: none

Align frontend npm scripts with skyvern-cloud
  skyvern-frontend/package.json
Due: vitest-type-check

Add start-local npm script for local development (#4655)
  skyvern-frontend/package.json
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/discover/WorkflowTemplates.tsx
  skyvern-frontend/src/routes/root/Header.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/DebugToBuildRedirect.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsPageLayout.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerBlockRuns.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/hooks/useCreateWorkflowMutation.ts
  skyvern-frontend/src/store/DebugStoreContext.tsx
Due: frontend-precommit, vitest-type-check

Rename workflow /debug URL path to /build (#SKY-7362) (#4656)
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/discover/WorkflowTemplates.tsx
  skyvern-frontend/src/routes/root/Header.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/DebugToBuildRedirect.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsPageLayout.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerBlockRuns.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/hooks/useCreateWorkflowMutation.ts
  skyvern-frontend/src/store/DebugStoreContext.tsx
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update (#4657)
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/nodes/HumanInteractionNode/HumanInteractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ValidationNode/ValidationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowNodeLibraryPanel.tsx
Due: frontend-precommit, vitest-type-check

Split AI Validation and Human Interaction blocks in frontend (#4658)
  skyvern-frontend/src/routes/workflows/editor/nodes/HumanInteractionNode/HumanInteractionNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/ValidationNode/ValidationNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowNodeLibraryPanel.tsx
Due: frontend-precommit, vitest-type-check

Fix typo and update Claude 4.5 Opus max_completion_tokens
  README.md
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/service.py
Due: none

Fix finally block executing twice on successful workflow runs (#4659)
  skyvern/forge/sdk/workflow/service.py
Due: none

Use tini as init for proper signal handling
  Dockerfile.ui
  entrypoint-skyvernui.sh
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/core/__init__.py
  skyvern/cli/core/artifacts.py
  skyvern/cli/core/client.py
  skyvern/cli/core/result.py
  skyvern/cli/core/session_manager.py
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/_client.py
  skyvern/cli/mcp_tools/_common.py
  skyvern/cli/mcp_tools/_session.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/cli/mcp_tools/session.py
  skyvern/cli/run_commands.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
