Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/services/task_v2_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_api_handler_factory.py
Due: none

fix(llm): disable Gemini safety filters for agent calls (SKY-11766) (#7120)
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  tests/unit/test_api_handler_factory.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/services/task_v2_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/loginGoalPrefill.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/loginGoalPrefill.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/useLoginGoalAutoFill.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/useLoginGoalAutoFill.ts
Due: frontend-precommit, vitest-type-check

Add vendor worker queues with DYNAMIC_BROWSER_TYPE routing (#7121)
  skyvern/services/task_v2_service.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/browser_artifacts.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/real_browser_state.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_real_browser_manager.py
  tests/unit/test_real_browser_state_discards_orphaned_tab_video.py
Due: none

feat(SKY-11471): prefill login block goal from saved credential instructions (#7122)
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/loginGoalPrefill.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/loginGoalPrefill.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/useLoginGoalAutoFill.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/useLoginGoalAutoFill.ts
Due: frontend-precommit, vitest-type-check

fix(SKY-11500): drop the throwaway default-tab recording (#7123)
  skyvern/webeye/browser_artifacts.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/real_browser_state.py
  tests/unit/test_real_browser_manager.py
  tests/unit/test_real_browser_state_discards_orphaned_tab_video.py
Due: none

[Frontend] Fix: Preserve repeated cache key parameters
  skyvern-frontend/src/routes/workflows/editor/utils.test.ts
  skyvern-frontend/src/routes/workflows/editor/utils.ts
Due: frontend-precommit, vitest-type-check

[Frontend] Fix: Encode workflow recording paths
  skyvern-frontend/src/routes/workflows/workflowRun/recordingUrls.test.ts
  skyvern-frontend/src/routes/workflows/workflowRun/recordingUrls.ts
Due: frontend-precommit, vitest-type-check

[Prompt] Fix: Preserve under-budget previous extraction info
  skyvern/utils/prompt_truncation.py
  tests/unit/test_prompt_truncation.py
Due: none

[Utils] Fix random string PRNG side effect
  skyvern/utils/strings.py
  tests/unit_tests/test_strings.py
Due: none

[Webeye] Fix SKY-11840 enable_download parsing
  skyvern/webeye/browser_factory.py
  tests/unit/test_browser_extra_headers.py
Due: none

[Webeye] Fix: Preserve zero mouse coordinates
  skyvern/webeye/actions/handler_utils.py
  tests/unit/test_handler_utils_mouse.py
Due: none

[Frontend] Fix workflow block label collision
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

[Browser Sessions] Add startup URL support
  docs/api-reference/openapi.json
  fern/openapi/skyvern_openapi.json
  skyvern-ts/client/src/api/client/requests/CreateBrowserSessionRequest.ts
  skyvern/client/client.py
  skyvern/client/raw_client.py
  skyvern/forge/sdk/routes/browser_sessions.py
  skyvern/schemas/browser_sessions.py
  tests/unit/forge/sdk/routes/test_browser_sessions.py
  tests/unit/test_client_proxy_pin_types.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cdp_download_interceptor.py
  tests/unit/test_workflow_parameter_validation.py
Due: none

test(SKY-11847): matrix workflow-parameter-validation tests (65→28, coverage-identical) (#7133)
  tests/unit/test_cdp_download_interceptor.py
  tests/unit/test_workflow_parameter_validation.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_sky11865_mint_satisfiability.py
Due: none

security: fix 7 HIGH npm vulnerabilities in skyvern-ts/client (vite, fast-uri, rollup, serialize-javascript) (#7082)
  skyvern-ts/client/package.json
  skyvern-ts/client/pnpm-lock.yaml
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/workflowAnalyticsPath.test.ts
  skyvern-frontend/src/routes/workflows/workflowAnalyticsPath.ts
  skyvern-frontend/src/store/PageSlots.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

security: update cryptography to fix CVE-2024-12797 in langchain integration (#7012)
  integrations/langchain/pyproject.toml
  integrations/langchain/uv.lock
Due: none

SKY-11865: mint-time satisfiability + typed fail-safe degrade on the classifier-fallback completion producer (#7135)
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  tests/unit/test_copilot_sky11865_mint_satisfiability.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_text_prompt_block.py
  tests/unit/test_workflow_system_prompt_llm_forwarding.py
Due: none

SKY-11575 Restore unified runs toolbar with gesture zoom and pulse feedback (#7136)
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/workflowAnalyticsPath.test.ts
  skyvern-frontend/src/routes/workflows/workflowAnalyticsPath.ts
  skyvern-frontend/src/store/PageSlots.ts
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

fix(SKY-11793): remove non-sandboxed second render in TextPromptBlock (SSTI) (#7137)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_text_prompt_block.py
  tests/unit/test_workflow_system_prompt_llm_forwarding.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/index.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/RunBlockingSurface.test.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/RunBlockingSurface.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/getRunBlockingBlocks.test.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/getRunBlockingBlocks.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runBlockingCopy.test.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runBlockingCopy.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runValidationClasses.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useLocateBlockStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useRunValidationStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useSyncRunValidationStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/withRunValidationHighlight.test.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/withRunValidationHighlight.tsx
  skyvern-frontend/src/routes/workflows/runValidation.test.ts
  skyvern-frontend/src/routes/workflows/runValidation.ts
  skyvern-frontend/src/routes/workflows/studio/StudioTopBar.tsx
Due: frontend-precommit, vitest-type-check

feat(editor): highlight run-blocking blocks and gate the Run CTA (SKY-10569) (#7139)
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/index.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/RunBlockingSurface.test.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/RunBlockingSurface.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/getRunBlockingBlocks.test.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/getRunBlockingBlocks.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runBlockingCopy.test.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runBlockingCopy.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/runValidationClasses.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useLocateBlockStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useRunValidationStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/useSyncRunValidationStore.ts
  skyvern-frontend/src/routes/workflows/editor/runValidation/withRunValidationHighlight.test.tsx
  skyvern-frontend/src/routes/workflows/editor/runValidation/withRunValidationHighlight.tsx
  skyvern-frontend/src/routes/workflows/runValidation.test.ts
  skyvern-frontend/src/routes/workflows/runValidation.ts
  skyvern-frontend/src/routes/workflows/studio/StudioTopBar.tsx
Due: frontend-precommit, vitest-type-check
