Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/composition_browser_expressions.py
  skyvern/forge/sdk/copilot/composition_evidence.py
  skyvern/forge/sdk/copilot/tools.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useIsFirstNodeInWorkflow.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/ValidationBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ObserverThoughtScreenshot.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockScreenshot.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_workflow_copilot_llm_config.py
Due: none

fix: serve recordings as webm
  skyvern-frontend/artifactServer.js
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/vitest.setup.ts' with remote 'skyvern-frontend/vitest.setup.ts'
  skyvern-frontend/vitest.setup.ts
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useIsFirstNodeInWorkflow.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/ValidationBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ObserverThoughtScreenshot.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockScreenshot.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/screenshots/schedule-button-placement-before.png
  docs/screenshots/schedule-button-placement.png
Due: none

Move schedule button beside save (#6368)
  docs/screenshots/schedule-button-placement-before.png
  docs/screenshots/schedule-button-placement.png
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useIsFirstNodeInWorkflow.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/ValidationBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ObserverThoughtScreenshot.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockScreenshot.tsx
  skyvern-frontend/vitest.setup.ts
  skyvern/forge/sdk/copilot/composition_browser_expressions.py
  skyvern/forge/sdk/copilot/composition_evidence.py
  skyvern/forge/sdk/copilot/tools.py
  tests/unit/test_copilot_composition_evidence.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_workflow_copilot_llm_config.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/scraper.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_animation_wait_attrs.py
Due: none

perf(SKY-10319): add caller/timeout span attrs to animation wait (#6369)
  skyvern/forge/agent.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/scraper.py
  skyvern/webeye/utils/page.py
  tests/unit/test_animation_wait_attrs.py
Due: none

fix(SKY-9781): port prebuilt-UI Dockerfile + entrypoint from cloud (#5998)
  Dockerfile.ui
  Dockerfile.ui.dockerignore
  entrypoint-skyvernui.sh
Due: none

Bump version to 1.0.38
  pyproject.toml
Due: none

Update changelog — May 21 through June 3, 2026 (#6370)
  docs/changelog.mdx
  fern/docs/changelog.mdx
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/extract-information.j2
  skyvern/forge/prompts/skyvern/handle-dialog.j2
  skyvern/forge/sdk/prompting.py
  skyvern/utils/prompt_engine.py
  skyvern/utils/strings.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/scraped_page.py
  skyvern/webeye/scraper/scraper.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_template_input_sanitization.py
Due: none

feat(SKY-10415): consolidate prompt-input sanitization onto template-level boundary (#6372)
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/extract-information.j2
  skyvern/forge/prompts/skyvern/handle-dialog.j2
  skyvern/forge/sdk/prompting.py
  skyvern/utils/prompt_engine.py
  skyvern/utils/strings.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/scraped_page.py
  skyvern/webeye/scraper/scraper.py
  tests/unit/test_template_input_sanitization.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/cdp_retry.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cdp_connection_retry.py
Due: none

feat: generic remote CDP browser type(SKY-10648) (#6373)
  skyvern/webeye/cdp_retry.py
  tests/unit/test_cdp_connection_retry.py
Due: none

Bump version to 1.0.38 (#6371)
  pyproject.toml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/observer.py
  skyvern/forge/sdk/db/repositories/tasks.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/sdk/workflow/status_mapping.py
Due: none

fix(SKY-10622): clean up child entities on workflow run timeout (#6374)
  skyvern/forge/sdk/db/repositories/observer.py
  skyvern/forge/sdk/db/repositories/tasks.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/sdk/workflow/status_mapping.py
Due: none

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/id.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/credential_folders.py
  skyvern/forge/sdk/db/repositories/credentials.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/schemas/credentials.py
  skyvern/schemas/credential_folders.py
Due: none

🔄 synced local 'fern/' with remote 'fern/'
  fern/openapi/overrides.yml
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_credential_folders_repository.py
  tests/unit/forge/sdk/db/test_repositories.py
  tests/unit/test_get_credentials_query_defaults.py
Due: none

feat: auto-generate OSS alembic migration from cloud PR #11677
  alembic/versions/2026_06_04_0930-8266bacba614_add_credential_folders.py
Due: none

SKY-10578: Add credential folders (backend) (#6375)
  alembic/versions/2026_06_04_0930-8266bacba614_add_credential_folders.py
  fern/openapi/overrides.yml
  pyproject.toml
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/id.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/credential_folders.py
  skyvern/forge/sdk/db/repositories/credentials.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/schemas/credentials.py
  skyvern/schemas/credential_folders.py
  tests/unit/forge/sdk/db/test_credential_folders_repository.py
  tests/unit/forge/sdk/db/test_repositories.py
  tests/unit/test_get_credentials_query_defaults.py
Due: none

security: fix 5 high-severity pip vulnerabilities in langchain integration (#6353)
  integrations/langchain/pyproject.toml
  integrations/langchain/uv.lock
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/credentials/CreateCredentialFolderDialog.tsx
  skyvern-frontend/src/routes/credentials/CredentialFolderCard.tsx
  skyvern-frontend/src/routes/credentials/CredentialFolderSelector.tsx
  skyvern-frontend/src/routes/credentials/CredentialItem.tsx
  skyvern-frontend/src/routes/credentials/CredentialsList.tsx
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/credentials/DeleteCredentialFolderButton.tsx
  skyvern-frontend/src/routes/credentials/EditCredentialFolderDialog.tsx
  skyvern-frontend/src/routes/credentials/ViewAllCredentialFoldersDialog.tsx
  skyvern-frontend/src/routes/credentials/hooks/useCredentialFolderMutations.ts
  skyvern-frontend/src/routes/credentials/hooks/useCredentialFoldersQuery.ts
  skyvern-frontend/src/routes/credentials/hooks/useInfiniteCredentialFoldersQuery.ts
  skyvern-frontend/src/routes/credentials/types/credentialFolderTypes.ts
  skyvern-frontend/src/routes/workflows/hooks/useCredentialsQuery.ts
  skyvern-frontend/src/util/folderSlug.ts
Due: frontend-precommit, vitest-type-check

SKY-10578: Add credential folders (frontend) (#6376)
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/credentials/CreateCredentialFolderDialog.tsx
  skyvern-frontend/src/routes/credentials/CredentialFolderCard.tsx
  skyvern-frontend/src/routes/credentials/CredentialFolderSelector.tsx
  skyvern-frontend/src/routes/credentials/CredentialItem.tsx
  skyvern-frontend/src/routes/credentials/CredentialsList.tsx
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/credentials/DeleteCredentialFolderButton.tsx
  skyvern-frontend/src/routes/credentials/EditCredentialFolderDialog.tsx
  skyvern-frontend/src/routes/credentials/ViewAllCredentialFoldersDialog.tsx
  skyvern-frontend/src/routes/credentials/hooks/useCredentialFolderMutations.ts
  skyvern-frontend/src/routes/credentials/hooks/useCredentialFoldersQuery.ts
  skyvern-frontend/src/routes/credentials/hooks/useInfiniteCredentialFoldersQuery.ts
  skyvern-frontend/src/routes/credentials/types/credentialFolderTypes.ts
  skyvern-frontend/src/routes/workflows/hooks/useCredentialsQuery.ts
  skyvern-frontend/src/util/folderSlug.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesPage.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
Due: frontend-precommit, vitest-type-check

feat(SKY-9957): clarify Browsers vs Browser Profiles subheader copy (#6377)
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesPage.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/BrowserProfileSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none
