Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

test(SKY-11187): cover text/SMS OTP credentials in Copilot (#6745)
  tests/unit/test_copilot_fill_credential_field.py
Due: none

SKY-11247 render copilot code-seam repair as quiet progress, not repeated chat (#6746)
  skyvern/forge/sdk/copilot/narration.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_narrative_activity.py
  tests/unit/test_copilot_streaming_adapter.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/workflow.py
  skyvern/forge/agent_functions.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/test_svg_convert_cache_resilience.py
  tests/unit/test_copilot_run_outcome_event.py
  tests/unit/test_mcp_workflow_tools.py
Due: none

SKY-11251 avoid CodeQL url-substring alert in run outcome tests
  tests/unit/test_copilot_run_outcome_event.py
Due: none

fix(SKY-11251): repair main-red code-repair-progress seam test after import-strip merge skew (#6749)
  skyvern/cli/mcp_tools/workflow.py
  skyvern/forge/agent_functions.py
  tests/unit/forge/test_svg_convert_cache_resilience.py
  tests/unit/test_mcp_workflow_tools.py
Due: none

ci: skip sdk-release when target version is already on PyPI (#6285)
  .github/workflows/sdk-release.yml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_taskv2_block_browser_address_propagation.py
  tests/unit/test_taskv2_block_downloaded_files.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/client/core/pydantic_utilities.py
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/_shared.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_client_pydantic_utilities.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_loop_detection_blocker.py
  tests/unit/test_copilot_output_policy.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_copilot_run_outcome_event.py
  tests/unit/test_copilot_run_output_content_gate.py
  tests/unit/test_copilot_timeout_wip.py
  tests/unit/test_taskv2_block_browser_address_propagation.py
  tests/unit/test_taskv2_block_downloaded_files.py
  tests/unit/test_workflow_copilot_cancel.py
Due: none

fix(SKY-9282): forward browser connection fields from TaskV2Block to child run (#6750)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_taskv2_block_browser_address_propagation.py
  tests/unit/test_taskv2_block_downloaded_files.py
Due: none

SKY-11182: verify structured run outputs before terminal success (#6751)
  skyvern/client/core/pydantic_utilities.py
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/_shared.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_client_pydantic_utilities.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_loop_detection_blocker.py
  tests/unit/test_copilot_output_policy.py
  tests/unit/test_copilot_page_evidence_policy.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_copilot_run_outcome_event.py
  tests/unit/test_copilot_run_output_content_gate.py
  tests/unit/test_copilot_timeout_wip.py
  tests/unit/test_workflow_copilot_cancel.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

SKY-11307 Scope Copilot chat history to the workflow (backend) (#6752)
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunTimelineQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunWithWorkflowQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
  skyvern-frontend/src/routes/workflows/workflowRun/RunParametersDialog.tsx
  skyvern-frontend/src/store/ActiveOrgContext.test.ts
  skyvern-frontend/src/store/ActiveOrgContext.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/diagnosis_repair_contract.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/hooks.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/terminal_predicates.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/turn_halt.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_hooks.py
  tests/unit/test_copilot_recoverable_failures.py
  tests/unit/test_copilot_response_coverage_gate.py
  tests/unit/test_copilot_streaming_adapter.py
  tests/unit/test_copilot_timeout_wip.py
  tests/unit/test_copilot_turn_halt.py
  tests/unit/test_workflow_copilot_route.py
Due: none

fix(SKY-11244): preserve run context on org switch (#6753)
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunTimelineQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunWithWorkflowQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
  skyvern-frontend/src/routes/workflows/workflowRun/RunParametersDialog.tsx
  skyvern-frontend/src/store/ActiveOrgContext.test.ts
  skyvern-frontend/src/store/ActiveOrgContext.ts
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

SKY-11222: atomic satisfying-run commit barrier for copilot terminalization (#6755)
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/diagnosis_repair_contract.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/hooks.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/terminal_predicates.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/turn_halt.py
  tests/unit/test_copilot_agent_blocker_renderer.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_hooks.py
  tests/unit/test_copilot_recoverable_failures.py
  tests/unit/test_copilot_response_coverage_gate.py
  tests/unit/test_copilot_streaming_adapter.py
  tests/unit/test_copilot_timeout_wip.py
  tests/unit/test_copilot_turn_halt.py
  tests/unit/test_workflow_copilot_route.py
Due: none

fix(SKY-11308): fail open on 401/403 from local auth diagnostics
  skyvern-frontend/src/hooks/useAuthDiagnostics.test.ts
  skyvern-frontend/src/hooks/useAuthDiagnostics.ts
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/webhook_delivery.py
  skyvern/services/webhook_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WebhookDeliveryStatus.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOutput.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/pr-screenshots/webhook-delivery-pending.png
  docs/pr-screenshots/webhook-failure-reason.png
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_webhook_timestamps.py
  tests/unit/test_workflow_webhook_delivery.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/webhook_delivery.py
  skyvern/services/webhook_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_webhook_timestamps.py
  tests/unit/test_workflow_webhook_delivery.py
Due: none

revert(SKY-11055): remove workflow webhook-delivery hardening (#11731) (#6758)
  docs/pr-screenshots/webhook-delivery-pending.png
  docs/pr-screenshots/webhook-failure-reason.png
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WebhookDeliveryStatus.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOutput.tsx
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/webhook_delivery.py
  skyvern/services/webhook_service.py
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_webhook_timestamps.py
  tests/unit/test_workflow_webhook_delivery.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
  skyvern/services/webhook_delivery.py
  skyvern/services/webhook_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/sortable/loadValidation.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WebhookDeliveryStatus.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOutput.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_webhook_timestamps.py
  tests/unit/test_workflow_definition_version_inference.py
  tests/unit/test_workflow_webhook_delivery.py
Due: none

fix(SKY-11301): completion-criteria floor on classifier fallback (#6759)
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/request_policy.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_request_policy_prompt.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
