Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WorkflowTriggerNode/WorkflowTriggerNode.tsx
  skyvern-frontend/src/routes/workflows/hooks/useFallbackEpisodesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useReviewScriptMutation.ts
  skyvern-frontend/src/routes/workflows/types/scriptTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptFixInput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptUpdateCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowPostRunParameters.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern-frontend/src/util/version.test.ts
  skyvern-frontend/src/util/version.ts
  skyvern-frontend/src/vite-env.d.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'fern/' with remote 'fern/'
  fern/getting-started/quickstart.mdx
  fern/integrations/cli.mdx
  fern/integrations/mcp.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_analytics.py
  tests/unit/test_init_mcp.py
  tests/unit/test_loop_download_baseline_timeout.py
  tests/unit/test_mcp_telemetry.py
  tests/unit/test_script_service_loop_download_filter.py
  tests/unit/test_setup_commands.py
  tests/unit/test_setup_quickstart.py
  tests/unit/test_taskv2_block_context_preservation.py
  tests/unit/test_taskv2_block_downloaded_files.py
  tests/unit/workflow/test_file_parser_block.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/getting-started/quickstart.mdx
  docs/integrations/cli.mdx
  docs/integrations/mcp.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_analytics.py
  tests/unit/test_mcp_telemetry.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/analytics.py
  skyvern/cli/core/result.py
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/telemetry.py
  skyvern/cli/run_commands.py
  skyvern/config.py
  skyvern/forge/api_app.py
  skyvern/forge/forge_app.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/streaming/auth.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/messages.py
  skyvern/forge/sdk/routes/streaming/registries.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/forge/sdk/routes/streaming/vnc.py
  skyvern/webeye/cdp_ports.py
  skyvern/webeye/default_persistent_sessions_manager.py
  skyvern/webeye/persistent_sessions_manager.py
Due: none

remove test
  tests/unit_tests/test_cdp_port_allocator.py
Due: none

fix linter
  skyvern/forge/api_app.py
  tests/unit/test_mcp_telemetry.py
Due: none

Fix MCP PostHog telemetry routing (#SKY-8198) (#5027)
  skyvern/analytics.py
  skyvern/cli/core/result.py
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/telemetry.py
  skyvern/cli/run_commands.py
  skyvern/config.py
  skyvern/forge/api_app.py
  skyvern/forge/forge_app.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/streaming/auth.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/messages.py
  skyvern/forge/sdk/routes/streaming/registries.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/forge/sdk/routes/streaming/vnc.py
  skyvern/webeye/cdp_ports.py
  skyvern/webeye/default_persistent_sessions_manager.py
  skyvern/webeye/persistent_sessions_manager.py
  tests/unit/test_analytics.py
  tests/unit/test_mcp_telemetry.py
  tests/unit_tests/test_cdp_port_allocator.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/hooks/useFallbackEpisodesQuery.ts
  skyvern-frontend/src/routes/workflows/types/scriptTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptUpdateCard.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_telemetry.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/analytics.py
  skyvern/cli/commands/__init__.py
  skyvern/cli/init_command.py
  skyvern/cli/mcp.py
  skyvern/cli/mcpb/claude_desktop/.mcpbignore
  skyvern/cli/mcpb/claude_desktop/README.md
  skyvern/cli/mcpb/claude_desktop/manifest.json
  skyvern/cli/mcpb/claude_desktop/package-lock.json
  skyvern/cli/mcpb/claude_desktop/package.json
  skyvern/cli/mcpb/releases/README.md
  skyvern/cli/mcpb/releases/skyvern-claude-desktop.mcpb
  skyvern/cli/setup_commands.py
  skyvern/cli/skills/README.md
  skyvern/cli/skills/skyvern/SKILL.md
  skyvern/config.py
  skyvern/forge/prompts/skyvern/script-reviewer-extraction.j2
  skyvern/forge/prompts/skyvern/script-reviewer-form-filling.j2
  skyvern/forge/prompts/skyvern/script-reviewer.j2
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/scripts.py
  skyvern/forge/sdk/utils/pdf_parser.py
  skyvern/forge/sdk/workflow/loop_download_filter.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/scripts.py
  skyvern/services/script_reviewer.py
  skyvern/services/script_service.py
  skyvern/services/workflow_script_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_init_mcp.py
  tests/unit/test_loop_download_baseline_timeout.py
  tests/unit/test_script_service_loop_download_filter.py
  tests/unit/test_setup_commands.py
  tests/unit/test_setup_quickstart.py
  tests/unit/test_taskv2_block_context_preservation.py
  tests/unit/test_taskv2_block_downloaded_files.py
  tests/unit/workflow/test_file_parser_block.py
Due: none

docs: remove --database-string example from README quickstart (#SKY-8287)
  README.md
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/hooks/useFeatureFlag.ts
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WorkflowTriggerNode/WorkflowTriggerNode.tsx
  skyvern-frontend/src/routes/workflows/hooks/useFallbackEpisodesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useReviewScriptMutation.ts
  skyvern-frontend/src/routes/workflows/types/scriptTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptFixInput.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptUpdateCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowPostRunParameters.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern-frontend/src/util/version.test.ts
  skyvern-frontend/src/util/version.ts
  skyvern-frontend/src/vite-env.d.ts
Due: frontend-precommit, vitest-type-check

Add missing @codemirror/merge dependency for ScriptDiffViewer
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

Update API specifications with fern api update (#5036)
  fern/openapi/skyvern_openapi.json
Due: none

Fix critical security vulnerabilities from Dependabot and CodeQL
  .github/workflows/sync-skyvern-cloud.yml
  Dockerfile.ui
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

docs: align brand with skyvern.com redesign
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/favicon.png
  docs/logo/dark.png
  docs/logo/light.png
  docs/style.css
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

fix: prevent circular next_block_label in conditional branch serialization (#SKY-8216) (#5044)
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

docs: convert ASCII art diagrams to mermaid and fix landing page spacing
  docs/cloud/building-workflows/build-a-workflow.mdx
  docs/docs.json
  docs/getting-started/core-concepts.mdx
  docs/getting-started/introduction.mdx
  docs/images/skyvern-agent-loop.png
  docs/images/skyvern-system-architecture.png
  docs/index.mdx
  docs/snippets/homepage-hero.jsx
  docs/snippets/persona-lanes.jsx
  docs/snippets/use-case-grid.jsx
  docs/style.css
Due: none

docs: update homepage version badge to v1.0.22
  docs/index.mdx
Due: none

docs: homepage redesign, mermaid diagrams, cookbook screenshots, and Laminar observability
  docs/cloud/building-workflows/build-a-workflow.mdx
  docs/cookbooks/bulk-invoice-downloader.mdx
  docs/cookbooks/job-application-filler.mdx
  docs/cookbooks/overview.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/favicon.png
  docs/getting-started/core-concepts.mdx
  docs/getting-started/introduction.mdx
  docs/images/cookbooks/add-block.png
  docs/images/cookbooks/add-params.png
  docs/images/cookbooks/create-workflow.png
  docs/images/cookbooks/credentials.png
  docs/images/cookbooks/creds-id-copy.png
  docs/images/cookbooks/ember--roasters.png
  docs/images/cookbooks/er-creds.png
  docs/images/cookbooks/job-stash.png
  docs/images/cookbooks/js-creds.png
  docs/images/laminar-keys.mp4
  docs/images/skyvern-agent-loop.png
  docs/images/skyvern-system-architecture.png
  docs/index.mdx
  docs/logo/dark.png
  docs/logo/light.png
  docs/snippets/homepage-hero.jsx
  docs/snippets/persona-lanes.jsx
  docs/snippets/use-case-grid.jsx
  docs/style.css
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/script_skyvern_page.py
Due: none

fix: simplify code block gating and fix empty script execution reasoning (#5047)
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern/core/script_generations/script_skyvern_page.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/real_browser_state.py
Due: none

perf: replace fixed browser waits with jittered settle delay (#5048)
  skyvern/webeye/real_browser_state.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/script_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check
