Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
Due: none

SKY-11327 Fix Copilot code authoring repair loop (#6792)
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/code_block_preflight.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/diagnosis_repair_contract.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_diagnosis_repair_contract.py
Due: none

fix(deps): bump litellm to >=1.84.0 in llama_index integration lock
  integrations/llama_index/uv.lock
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_outcome_verification_trace.py
Due: none

SKY-11363: make declared completion-criteria count match the graded set (#6794)
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_outcome_verification_trace.py
Due: none

🔄 synced local 'skyvern-frontend/vitest.setup.ts' with remote 'skyvern-frontend/vitest.setup.ts'
  skyvern-frontend/vitest.setup.ts
Due: vitest-type-check

fix(SKY-11404): flush Radix focus-scope unmount timer in vitest teardown (#6795)
  skyvern-frontend/vitest.setup.ts
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/workflow_runs.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/cdp_download_interceptor.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_download_dir_rebind.py
Due: none

fix(SKY-11217): restore parameter-value search on the v2 runs list (#6796)
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/core/session_ops.py
  skyvern/cli/mcp_tools/README.md
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/browser_profiles.py
  skyvern/cli/mcp_tools/session.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/library/skyvern.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/cdp_download_interceptor.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cli_shared_core.py
  tests/unit/test_download_dir_rebind.py
  tests/unit/test_mcp_browser_profiles.py
  tests/unit/test_mcp_session_lifecycle.py
  tests/unit/test_sdk_run_metadata.py
Due: none

SKY-11359: bind copilot code-block downloads to the run-scoped dir (#6797)
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/webeye/browser_factory.py
  skyvern/webeye/cdp_download_interceptor.py
  tests/unit/test_download_dir_rebind.py
Due: none

Allow MCP browser sessions to use browser profiles (#6798)
  skyvern/cli/core/session_ops.py
  skyvern/cli/mcp_tools/README.md
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/mcp_tools/browser_profiles.py
  skyvern/cli/mcp_tools/session.py
  skyvern/library/skyvern.py
  tests/unit/test_cli_shared_core.py
  tests/unit/test_mcp_browser_profiles.py
  tests/unit/test_mcp_session_lifecycle.py
  tests/unit/test_sdk_run_metadata.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/webeye/test_screenshot_load_state_nonfatal.py
Due: none

fix(SKY-11433): make pre-screenshot load-state wait non-fatal (#6799)
  skyvern/config.py
  skyvern/webeye/utils/page.py
  tests/unit/webeye/test_screenshot_load_state_nonfatal.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/extract-action-static.j2
  skyvern/forge/prompts/skyvern/extract-action.j2
  skyvern/forge/sdk/models.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/actions/parse_actions.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_actions.py
  tests/unit/test_extract_action_prompt.py
  tests/unit/test_navigation_action_handlers.py
  tests/unit/test_step_goal_achieved.py
  tests/unit/webeye/test_screenshot_load_state_nonfatal.py
Due: none

feat(SKY-9276): let the v1 planner emit EXTRACT_INFORMATION and GOTO_URL (#6800)
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/extract-action-static.j2
  skyvern/forge/prompts/skyvern/extract-action.j2
  skyvern/forge/sdk/models.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/actions/parse_actions.py
  tests/unit/test_actions.py
  tests/unit/test_extract_action_prompt.py
  tests/unit/test_navigation_action_handlers.py
  tests/unit/test_step_goal_achieved.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsFlat.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsTree.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChip.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChipList.shape.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChipList.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagColorSwatchPicker.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagFilter.tsx
  skyvern-frontend/src/routes/workflows/components/tree/FolderTreeNode.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowsListContext.ts
  skyvern-frontend/src/routes/workflows/hooks/useTagValuesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowTagMutations.ts
  skyvern-frontend/src/routes/workflows/types/tagColors.test.ts
  skyvern-frontend/src/routes/workflows/types/tagColors.ts
  skyvern-frontend/src/routes/workflows/types/tagTypes.ts
Due: frontend-precommit, vitest-type-check

feat(SKY-11144): color grouped workflow tags with a curated palette (#6801)
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsFlat.tsx
  skyvern-frontend/src/routes/workflows/WorkflowsTree.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChip.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChipList.shape.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagChipList.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagColorSwatchPicker.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagEditor.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/WorkflowTagFilter.tsx
  skyvern-frontend/src/routes/workflows/components/tree/FolderTreeNode.test.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowRow.tsx
  skyvern-frontend/src/routes/workflows/components/tree/WorkflowsListContext.ts
  skyvern-frontend/src/routes/workflows/hooks/useTagValuesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowTagMutations.ts
  skyvern-frontend/src/routes/workflows/types/tagColors.test.ts
  skyvern-frontend/src/routes/workflows/types/tagColors.ts
  skyvern-frontend/src/routes/workflows/types/tagTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
Due: frontend-precommit, vitest-type-check

fix(deps): bump litellm to >=1.84.0 in llama_index integration lock (Dependabot #789) (#6793)
  integrations/llama_index/uv.lock
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/client/types/workflow.py
  skyvern/client/types/workflow_create_yaml_request.py
  skyvern/forge/sdk/copilot/tools/frontier.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/workflows.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/routes/browser_profiles.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/workflow/browser_profile_key.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/WorkflowVisualComparisonDrawer.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerMode.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nestedConditionalSave.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/StartNode.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/sortable/perf.test.ts
  skyvern-frontend/src/routes/workflows/editor/sortable/roundTrip.test.ts
  skyvern-frontend/src/routes/workflows/editor/types.ts
  skyvern-frontend/src/routes/workflows/editor/utils.test.ts
  skyvern-frontend/src/routes/workflows/editor/utils.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
  skyvern-frontend/src/store/WorkflowSettingsStore.ts
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_update_workflow_definition_fields.py
  tests/unit/test_browser_profile_key.py
  tests/unit/test_workflow_service_profile_writeback.py
Due: none

feat: auto-generate OSS alembic migration from cloud PR #12504
  alembic/versions/2026_06_25_0017-45128d67bc1a_add_browser_profile_key_to_workflows.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_completion_verification.py
Due: none

SKY-11365: Add terminal goal record verification (#6807)
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.test.tsx
  skyvern-frontend/src/routes/workflows/components/tagging/TagFilterControl.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.test.tsx
  skyvern-frontend/src/store/onboarding/OnboardingProvider.tsx
  skyvern-frontend/src/store/onboarding/types.ts
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_completion_verification.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ApiWebhookActionsMenu.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigSidebar.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
Due: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
