Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_block_type_parity.py
  tests/unit/test_setup_openclaw.py
Due: none

chore: remove references (#6210)
  tests/unit/test_mcp_block_type_parity.py
  tests/unit/test_setup_openclaw.py
Due: none

fix: apply prettier formatting to SidebarResourceLinks
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
Due: frontend-precommit, vitest-type-check

fix(frontend): match OSS prettier class order in SidebarResourceLinks
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/types/workflowRunTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockDetail.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockDetail.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOverview.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailConditional.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailConditional.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailGeneric.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHeader.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHttpRequest.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHumanInteraction.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailLoop.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailLoop.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailTask.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailTask.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailThought.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailWorkflowTrigger.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/EmptyState.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/formatValue.ts
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/shared.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/workflowTimelineUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowRun/workflowTimelineUtils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/workflow/test_workflow_run_timeline_tree.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesList.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.test.tsx
  skyvern-frontend/src/routes/tasks/detail/ActionCardCompact.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/types/workflowRunTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockDetail.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunBlockDetail.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunOverview.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimeline.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailConditional.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailConditional.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailGeneric.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHeader.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHttpRequest.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailHumanInteraction.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailLoop.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailLoop.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailTask.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailTask.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailThought.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockDetailWorkflowTrigger.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/BlockInspector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/EmptyState.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/formatValue.ts
  skyvern-frontend/src/routes/workflows/workflowRun/blockDetail/shared.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/workflowTimelineUtils.test.ts
  skyvern-frontend/src/routes/workflows/workflowRun/workflowTimelineUtils.ts
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

feat(SKY-9506): add selector + ai_fallback fields to Action Block schema (#6212)
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
Due: none

chore(frontend): bump prettier-plugin-tailwindcss to ^0.8.0
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

security: update protobufjs to 7.6.1 in skyvern-frontend
  skyvern-frontend/package-lock.json
Due: vitest-type-check

chore(frontend): bump prettier-plugin-tailwindcss to ^0.8.0 (#6217)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

security: update fast-uri to 3.1.2 in skyvern-ts/client
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/pnpm-lock.yaml
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/cloud/building-workflows/build-a-workflow.mdx
Due: none

feat: auto-generate OSS alembic migration from cloud PR #11098
  alembic/versions/2026_05_28_0106-c636e511753d_add_cost_columns_to_task_runs.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/tasks.py
  skyvern/forge/sdk/schemas/runs.py
  skyvern/services/task_v2_service.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
Due: none

chore(frontend): teach tailwind config about cloud-side cta + collapsible utilities
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

feat(SKY-10415): consolidate prompt-input sanitization onto template-level boundary
  skyvern/core/script_generations/real_skyvern_page_ai.py
  skyvern/forge/prompts/skyvern/extract-information.j2
  skyvern/forge/prompts/skyvern/handle-dialog.j2
  skyvern/forge/sdk/prompting.py
  skyvern/utils/prompt_engine.py
  skyvern/utils/strings.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/scraper/scraped_page.py
  tests/unit/test_template_input_sanitization.py
Due: none

fix(frontend): apply prettier formatting to satisfy lint CI
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check

security: update protobufjs to fix 4 high-severity CVEs in frontend
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

fix(frontend): re-prettier WorkflowRunTimelineBlockItem after tailwind theme bump
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check

[Streaming] Support local VNC browser sessions
  skyvern/forge/sdk/routes/debug_sessions.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/webeye/default_persistent_sessions_manager.py
  skyvern/webeye/schemas.py
  skyvern/webeye/vnc_streaming.py
  tests/unit/forge/sdk/routes/streaming/test_verify_browser_session.py
  tests/unit/test_vnc_streaming.py
Due: none

chore(frontend): add cta color and collapsible animations to tailwind config (#6222)
  skyvern-frontend/src/components/SidebarResourceLinks.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

[Streaming] Format VNC helper
  skyvern/webeye/vnc_streaming.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
