Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/workflow.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/script_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_workflow_create_defaults.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_workflow_create_defaults.py
  tests/unit/test_script_service_loop_download_filter.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/workflow.py
  skyvern/forge/prompts/skyvern/script-reviewer.j2
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/script_service.py
  skyvern/services/workflow_script_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_fix_static_actions_in_for_loops.py
  tests/unit/test_mcp_workflow_create_defaults.py
  tests/unit/test_script_service_loop_download_filter.py
Due: none

feat: default MCP-created workflows to Code 2.0 (#5050)
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
  skyvern/cli/mcp_tools/workflow.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/script_service.py
  tests/unit/test_mcp_workflow_create_defaults.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunTimelineBlockItem.tsx
Due: frontend-precommit, vitest-type-check

fix: deduplicate extracted_information in code v2 loop output (#5051)
  skyvern/services/script_service.py
  tests/unit/test_script_service_loop_download_filter.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/script-reviewer.j2
  skyvern/services/workflow_script_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_fix_static_actions_in_for_loops.py
Due: none

style: apply ruff format to workflow_script_service.py
  skyvern/services/workflow_script_service.py
Due: none

fix: replace backtracking regex with balanced-paren parser for CodeQL
  skyvern/services/workflow_script_service.py
Due: none

fix: patch static click actions inside for-loops in generated scripts (#5052)
  skyvern/forge/prompts/skyvern/script-reviewer.j2
  skyvern/services/workflow_script_service.py
  tests/unit/test_fix_static_actions_in_for_loops.py
Due: none

fix: preserve run_with mode when rerunning a workflow (#5053)
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

fix: reorder Tailwind classes to satisfy prettier plugin
  skyvern-frontend/src/components/BrowserStream.tsx
Due: frontend-precommit, vitest-type-check

fix: replace backtracking regex with balanced-paren parser (#5056)
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

fix: add glow animation to tailwind config
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

feat: outline browser pane during block runs (#SKY-7679) (#5055)
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SelfHealApiKeyBanner.tsx
  skyvern-frontend/src/hooks/useAuthDiagnostics.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/prompts.py
  skyvern/cli/skills/qa/SKILL.md
  skyvern/forge/sdk/routes/internal_auth.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_qa_skill_content.py
Due: none

fix: default to code-v2 mode when workflow has adaptive_caching enabled (#5057)
  skyvern/forge/sdk/workflow/service.py
Due: none

Drop cloud-only QA skill checks from OSS sync
  tests/unit/test_qa_skill_content.py
Due: none

backend-aware /qa and clarify local auth diagnostics (#5058)
  skyvern-frontend/src/components/SelfHealApiKeyBanner.tsx
  skyvern-frontend/src/hooks/useAuthDiagnostics.ts
  skyvern/cli/mcp_tools/prompts.py
  skyvern/cli/skills/qa/SKILL.md
  skyvern/forge/sdk/routes/internal_auth.py
  tests/unit/test_qa_skill_content.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/prompts.py
  skyvern/cli/skills/qa/SKILL.md
Due: none

Add QA report persistence to /qa skill (#SKY-8305) (#5059)
  skyvern/cli/mcp_tools/prompts.py
  skyvern/cli/skills/qa/SKILL.md
  tests/unit/test_qa_skill_content.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
