Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

add zstd compression for .har (#4420)
  pyproject.toml
  skyvern/forge/sdk/api/aws.py
  skyvern/forge/sdk/api/real_azure.py
  skyvern/forge/sdk/artifact/storage/s3.py
  skyvern/forge/sdk/artifact/storage/test_s3_storage.py
  uv.lock
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

Workflow Copilot: show copilot button for screenshot browser (#4423)
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

fix s3 _get_storage_class_for_org
  skyvern/forge/sdk/api/aws.py
  skyvern/forge/sdk/artifact/storage/s3.py
  skyvern/forge/sdk/artifact/storage/test_s3_storage.py
Due: none

fix s3 _get_storage_class_for_org (#4424)
  skyvern/forge/sdk/api/aws.py
  skyvern/forge/sdk/artifact/storage/s3.py
  skyvern/forge/sdk/artifact/storage/test_s3_storage.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

fix: multiple entry blocks detected on nested loops (#4422)
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
Due: none

Workflow Copilot: more logs and minor UI improvements (#4425)
  skyvern-frontend/src/routes/workflows/editor/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: frontend-precommit, vitest-type-check

preserve preview suffix in vertex cache model name (#4426)
  skyvern/forge/agent.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/conditional-prompt-branch-evaluation.j2
  skyvern/forge/sdk/workflow/models/block.py
Due: none

fix conditional block branch evaluation for all expression types (#4428)
  skyvern/forge/prompts/skyvern/conditional-prompt-branch-evaluation.j2
  skyvern/forge/sdk/workflow/models/block.py
Due: none

use _PATH_VERSION in s3 path instead of hardcoding (#4387)
  skyvern/forge/sdk/artifact/storage/s3.py
Due: none

Update API specifications with fern api update (#4419)
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/agent_functions.py
Due: none

decrease max svg parsing (#4430)
  skyvern/config.py
  skyvern/forge/agent_functions.py
Due: none

join query performance improvement - add organization_id to the workflow_scripts & scripts table join (#4429)
  skyvern/forge/sdk/db/agent_db.py
Due: none

Copilot/loosen websockets dependency (#4431)
  pyproject.toml
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Add openai gpt5 mini flex (#4432)
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

fix: handle wait_for_load_state timeout for JS redirect downloads (#4255)
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

Centria: Pass boolean and integer template values in HTTP Block (#4435)
  skyvern/forge/sdk/workflow/models/block.py
  uv.lock
Due: none

Workflow Copilot: Use get_llm_handler_for_prompt_type (#4436)
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/sse.ts
  skyvern-frontend/src/routes/workflows/editor/WorkflowCopilotChat.tsx
Due: frontend-precommit, vitest-type-check

package.json
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

Workflow Copilot: Use streaming in /chat-post (#4437)
  pyproject.toml
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/api/sse.ts
  skyvern-frontend/src/routes/workflows/editor/WorkflowCopilotChat.tsx
  skyvern/forge/sdk/routes/workflow_copilot.py
  uv.lock
Due: frontend-precommit, vitest-type-check

add getting started/core-concepts.mdx
  fern/docs.yml
  fern/getting-started/core-concepts.mdx
Due: none

added quickstart
  fern/getting-started/quickstart.mdx
Due: none

finishes + images
  fern/getting-started/quickstart.mdx
  fern/images/agent-working.png
  fern/images/prompt-input.png
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
