Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

fix(frontend): declare missing @codemirror/lang-yaml dependency
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

feat(SKY-11487): advanced full-screen YAML editing mode in workflow editor (#7030)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowVisualComparisonDrawer.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/WorkflowYamlEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/YamlModeToggle.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSaveWorkflow.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useWorkflowYamlEditorLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useWorkflowYamlEditorLifecycle.ts
  skyvern-frontend/src/routes/workflows/editor/nestedConditionalSave.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/StartNode.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/sortable/perf.test.ts
  skyvern-frontend/src/routes/workflows/editor/sortable/roundTrip.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/editor/workflowVersionFromSaveData.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowVersionFromSaveData.ts
  skyvern-frontend/src/routes/workflows/hooks/useIsGlobalWorkflow.ts
  skyvern-frontend/src/routes/workflows/studio/StudioTopBar.tsx
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
  skyvern-frontend/src/store/WorkflowYamlEditorStore.test.ts
  skyvern-frontend/src/store/WorkflowYamlEditorStore.ts
Due: frontend-precommit, vitest-type-check

fix(SKY-11722): scout hollow act-observe outcome recording (#7031)
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_build_test_outcome.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_enforcement_pruning.py
  tests/unit/test_copilot_scout_act_observe.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/browser_profiles.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/schemas/browser_profiles.py
  skyvern/forge/sdk/workflow/browser_profile_key.py
  skyvern/forge/sdk/workflow/browser_session_persistence.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/webeye/default_persistent_sessions_manager.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileItem.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesList.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesPage.tsx
  skyvern-frontend/src/routes/workflows/components/BrowserProfileSelector.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserProfilesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useInfiniteBrowserProfilesQuery.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_list_browser_profiles_ordering.py
  tests/unit/forge/sdk/test_create_browser_profile_from_session_route.py
  tests/unit/forge/sdk/test_list_browser_profiles_route.py
  tests/unit/forge/sdk/test_reset_browser_profile_route.py
  tests/unit/test_browser_profile_key.py
  tests/unit/test_credential_test_trigger_type.py
  tests/unit/test_credential_update_params.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_workflow_elapsed_timeout.py
  tests/unit/test_workflow_run_parameter_batching.py
  tests/unit/test_workflow_service_managed_browser_profile.py
  tests/unit/test_workflow_service_profile_writeback.py
Due: none

feat: auto-generate OSS alembic migration from cloud PR #12775
  alembic/versions/2026_07_02_2317-ecf365563e98_managed_browser_profiles_for_save_and_reuse_session.py
Due: none

feat(SKY-11051): back Save & Reuse Session with auto-managed browser profiles (#7032)
  alembic/versions/2026_07_02_2317-ecf365563e98_managed_browser_profiles_for_save_and_reuse_session.py
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileItem.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesList.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfilesPage.tsx
  skyvern-frontend/src/routes/workflows/components/BrowserProfileSelector.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserProfilesQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useInfiniteBrowserProfilesQuery.ts
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/browser_profiles.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/schemas/browser_profiles.py
  skyvern/forge/sdk/workflow/browser_profile_key.py
  skyvern/forge/sdk/workflow/browser_session_persistence.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/webeye/default_persistent_sessions_manager.py
  tests/unit/forge/sdk/db/test_list_browser_profiles_ordering.py
  tests/unit/forge/sdk/test_create_browser_profile_from_session_route.py
  tests/unit/forge/sdk/test_list_browser_profiles_route.py
  tests/unit/forge/sdk/test_reset_browser_profile_route.py
  tests/unit/test_browser_profile_key.py
  tests/unit/test_credential_test_trigger_type.py
  tests/unit/test_credential_update_params.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_workflow_elapsed_timeout.py
  tests/unit/test_workflow_run_parameter_batching.py
  tests/unit/test_workflow_service_managed_browser_profile.py
  tests/unit/test_workflow_service_profile_writeback.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/repositories/tasks.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_repositories.py
Due: none

fix(run_streaming): migrate to AgentDB sub-object accessors
  run_streaming.py
Due: none

fix(check-no-direct-db-delegates): pass when facade fully removed
  scripts/check_no_direct_db_delegates.sh
Due: none

refactor(SKY-11703): remove the AgentDB *args facade entirely (#7033)
  run_streaming.py
  scripts/check_no_direct_db_delegates.sh
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/repositories/tasks.py
  tests/unit/forge/sdk/db/test_repositories.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/BrowserStream.test.tsx
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/hooks/useRecordingElapsedSeconds.test.ts
  skyvern-frontend/src/hooks/useRecordingElapsedSeconds.ts
  skyvern-frontend/src/novnc.d.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useProcessRecordingMutation.ts
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/edges/EdgeWithAddButton.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NodeAdderNode/NodeAdderNode.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/applyRecordedBlocksToGraph.ts
  skyvern-frontend/src/routes/workflows/editor/recording/optimisticSteps.test.ts
  skyvern-frontend/src/routes/workflows/editor/recording/optimisticSteps.ts
  skyvern-frontend/src/routes/workflows/editor/recording/recordingDraftStepEdits.test.ts
  skyvern-frontend/src/routes/workflows/editor/recording/recordingDraftStepEdits.ts
  skyvern-frontend/src/routes/workflows/editor/recording/useApplyRecordedBlocks.test.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/useApplyRecordedBlocks.ts
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.tsx
  skyvern-frontend/src/routes/workflows/studio/EditorTab.tsx
  skyvern-frontend/src/routes/workflows/studio/StreamPresenter.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/store/RecordedBlocksStore.ts
  skyvern-frontend/src/store/useRecordingLauncherStore.ts
  skyvern-frontend/src/store/useRecordingStore.test.ts
  skyvern-frontend/src/store/useRecordingStore.ts
  skyvern-frontend/src/util/recordingClock.ts
Due: frontend-precommit, vitest-type-check

Browser recording front-end: live draft panel replaces editor, clean screenshots, new step kinds (#7036)
  skyvern-frontend/src/components/BrowserStream.test.tsx
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/hooks/useRecordingElapsedSeconds.test.ts
  skyvern-frontend/src/hooks/useRecordingElapsedSeconds.ts
  skyvern-frontend/src/novnc.d.ts
  skyvern-frontend/src/routes/browserSessions/hooks/useProcessRecordingMutation.ts
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/edges/EdgeWithAddButton.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/NodeAdderNode/NodeAdderNode.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/applyRecordedBlocksToGraph.ts
  skyvern-frontend/src/routes/workflows/editor/recording/optimisticSteps.test.ts
  skyvern-frontend/src/routes/workflows/editor/recording/optimisticSteps.ts
  skyvern-frontend/src/routes/workflows/editor/recording/recordingDraftStepEdits.test.ts
  skyvern-frontend/src/routes/workflows/editor/recording/recordingDraftStepEdits.ts
  skyvern-frontend/src/routes/workflows/editor/recording/useApplyRecordedBlocks.test.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/useApplyRecordedBlocks.ts
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.tsx
  skyvern-frontend/src/routes/workflows/studio/EditorTab.tsx
  skyvern-frontend/src/routes/workflows/studio/StreamPresenter.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/store/RecordedBlocksStore.ts
  skyvern-frontend/src/store/useRecordingLauncherStore.ts
  skyvern-frontend/src/store/useRecordingStore.test.ts
  skyvern-frontend/src/store/useRecordingStore.ts
  skyvern-frontend/src/util/recordingClock.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_auto_completion_location.py
Due: none

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

SKY-11526 Collapse autocomplete fanout (#7037)
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/page.py
  tests/unit/test_auto_completion_location.py
Due: none

security: bump joserfc >=1.6.8 to fix CVE-2026-49852 (HMAC auth bypass) (#7038)
  pyproject.toml
  uv.lock
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_code_block_sandbox.py
Due: none

SKY-8927 Block format-string sandbox escape in code blocks (#7039)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_code_block_sandbox.py
Due: none

[LLM] Move custom LLM settings anchor
  skyvern-frontend/src/routes/settings/Settings.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/composition_capture.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_blocker_signal.py
  tests/unit/test_copilot_recorded_outcome_grounding.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/composition_capture.py
  skyvern/forge/sdk/copilot/tools/frontier.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/workflows.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowVisualComparisonDrawer.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/debugger/Debugger.tsx
  skyvern-frontend/src/routes/workflows/defaultWorkflowRequest.ts
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nestedConditionalSave.test.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/StartNode.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/WorkflowSettingsBlockForm.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/WorkflowComparisonPanel.tsx
  skyvern-frontend/src/routes/workflows/editor/sortable/perf.test.ts
  skyvern-frontend/src/routes/workflows/editor/sortable/roundTrip.test.ts
  skyvern-frontend/src/routes/workflows/editor/utils.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/editor/workflowVersionFromSaveData.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_code_block_steps.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_block_goal_wrapping.py
  tests/unit/test_copilot_blocker_signal.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_recorded_outcome_grounding.py
  tests/unit/test_copilot_session_injection.py
  tests/unit/test_copilot_tools_credential_id_misbinding.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_yaml_loader_no_dates.py
  tests/unit/workflow/test_code_block_escalation.py
  tests/unit/workflow/test_code_block_recorder.py
  tests/unit/workflow/test_workflow_yaml_settings_defaults.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

feat: auto-generate OSS alembic migration from cloud PR #12877
  alembic/versions/2026_07_03_0333-2ac47bc1c075_add_enable_self_healing_to_workflows.py
Due: none

[codex] Tolerate missing local LLM setup (#6947)
  skyvern-frontend/src/components/LLMSetupBanner.tsx
  skyvern-frontend/src/hooks/useCustomLLMs.ts
  skyvern-frontend/src/hooks/useLLMDiagnostics.ts
  skyvern-frontend/src/routes/root/RootLayout.tsx
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern/forge/api_app.py
  skyvern/forge/forge_app.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/routes/internal_llms.py
  tests/unit/test_internal_llms.py
  tmp/pr-screenshots/llm-setup-banner-real-backend.png
Due: frontend-precommit, vitest-type-check

SKY-11724 Ground recorded outcome repair attempts (#7040)
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/blocker_signal.py
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/blockers.py
  skyvern/forge/sdk/copilot/tools/composition_capture.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  tests/unit/test_copilot_blocker_signal.py
  tests/unit/test_copilot_recorded_outcome_grounding.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/api_app.py
  skyvern/forge/forge_app.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/routes/internal_llms.py
  skyvern/webeye/actions/handler.py
  skyvern/webeye/utils/dom.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/LLMSetupBanner.tsx
  skyvern-frontend/src/hooks/useCustomLLMs.ts
  skyvern-frontend/src/hooks/useLLMDiagnostics.ts
  skyvern-frontend/src/routes/root/RootLayout.tsx
  skyvern-frontend/src/routes/settings/Settings.tsx
Due: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
