Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

Jump the studio editor to a workflow block when its timeline item is clicked (#7409)
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/timelineBlockJump.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/timelineBlockJump.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/heal_content_sanitization.py
  skyvern/schemas/self_heal.py
  skyvern/webeye/cdp_download_interceptor.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/copilot/test_heal_content_sanitization.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_cdp_download_interceptor.py
Due: none

feat(SKY-12216): heal-content sanitizer for code/error UI surfaces (#7410)
  skyvern/forge/sdk/copilot/heal_content_sanitization.py
  skyvern/schemas/self_heal.py
  tests/unit/forge/sdk/copilot/test_heal_content_sanitization.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
Due: none

Authenticate the download urllib fallback and reject HTML login pages saved as binary files (#7411)
  skyvern/webeye/cdp_download_interceptor.py
  tests/unit/test_cdp_download_interceptor.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/repositories/tags.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/tags.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/routes/history/RunHistory.runTags.test.tsx
  skyvern-frontend/src/routes/history/RunHistory.test.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/tasks/hooks/useRunTagSuggestionsQuery.ts
  skyvern-frontend/src/routes/workflows/WorkflowPage.runTags.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/hooks/useRunTagFilterParam.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useRunTagFilterParam.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_runs_list_run_tag_filter.py
  tests/unit/test_runs_v2_route.py
Due: none

Surface run-level tags: chips + filter on run lists, and analytics picker keys (#7412)
  docs/api-reference/openapi.json
  skyvern-frontend/src/hooks/useRunsQuery.ts
  skyvern-frontend/src/routes/history/RunHistory.runTags.test.tsx
  skyvern-frontend/src/routes/history/RunHistory.test.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/tasks/hooks/useRunTagSuggestionsQuery.ts
  skyvern-frontend/src/routes/workflows/WorkflowPage.runTags.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.test.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/hooks/useRunTagFilterParam.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useRunTagFilterParam.ts
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.test.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunsQuery.ts
  skyvern/forge/sdk/db/repositories/tags.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/tags.py
  tests/unit/test_runs_list_run_tag_filter.py
  tests/unit/test_runs_v2_route.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/heal_content_sanitization.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/self_heal.py
  skyvern/forge/sdk/routes/__init__.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/self_heal.py
  skyvern/schemas/self_heal.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_self_heal_repository.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/forge/sdk/routes/test_self_heal_routes.py
  tests/unit/test_runs_list_run_tag_filter.py
Due: none

feat: auto-generate OSS alembic migration from cloud PR #13282
  alembic/versions/2026_07_14_1836-2b8e37d98d97_add_heal_episode_workflow_block_label_index.py
Due: none

Cap and dedupe parsed run-tag filter terms (SKY-12327 follow-up) (#7413)
  skyvern/forge/sdk/routes/agent_protocol.py
  tests/unit/test_runs_list_run_tag_filter.py
Due: none

[Self-heal] Fix: align OSS migration validation
  alembic/versions/2026_07_14_1836-2b8e37d98d97_add_heal_episode_workflow_block_label_index.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
Due: none

[VNC] Fix: restore CDP session ownership semantics
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_workflow_vnc_session_provisioning.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/heal_content_sanitization.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/self_heal.py
  skyvern/forge/sdk/routes/__init__.py
  skyvern/forge/sdk/routes/self_heal.py
  skyvern/schemas/self_heal.py
  skyvern/services/self_heal_reliability_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_self_heal_repository.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/forge/sdk/routes/test_self_heal_routes.py
Due: none

[VNC] Fix: preserve empty CDP session ownership
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_workflow_vnc_session_provisioning.py
Due: none

feat(SKY-12217): heal-episodes read API + query index + dedupe semantics (#7414)
  alembic/versions/2026_07_14_1836-2b8e37d98d97_add_heal_episode_workflow_block_label_index.py
  skyvern/forge/sdk/copilot/heal_content_sanitization.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/self_heal.py
  skyvern/forge/sdk/routes/__init__.py
  skyvern/forge/sdk/routes/self_heal.py
  skyvern/schemas/self_heal.py
  tests/unit/forge/sdk/db/test_self_heal_repository.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/forge/sdk/routes/test_self_heal_routes.py
Due: none

[DB] Fix: rebase VNC metadata migration
  alembic/versions/2026_07_13_1818-d4f7a9c2e681_add_vnc_metadata_to_persistent_browser_sessions.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
Due: none

feat(SKY-12215): self-heal reliability aggregation service (runs × episodes) (#7415)
  skyvern/forge/sdk/db/repositories/self_heal.py
  skyvern/forge/sdk/routes/self_heal.py
  skyvern/schemas/self_heal.py
  skyvern/services/self_heal_reliability_service.py
  tests/unit/forge/sdk/db/test_self_heal_repository.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/forge/sdk/routes/test_self_heal_routes.py
Due: none

[VNC] Fix: preserve installed session on cancellation
  skyvern/forge/sdk/workflow/service.py
  skyvern/webeye/default_persistent_sessions_manager.py
  skyvern/webeye/vnc_manager.py
  tests/unit/test_workflow_vnc_session_provisioning.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/BlockCodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/BlockOutputs.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.test.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.credentialCard.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.credentialPause.test.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_self_heal_schema.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/composition_browser_expressions.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/__init__.py
  skyvern/forge/sdk/copilot/tools/mcp_hooks.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/BlockCodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/BlockOutputs.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.test.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.checklist.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.credentialCard.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/copilotPhases.test.ts
  skyvern-frontend/src/routes/workflows/copilot/copilotPhases.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.credentialPause.test.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/test_copilot_hooks.py
  tests/unit/test_copilot_scout_act_observe.py
Due: none

[Task V2] Optimize: Gate token-spend controls
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/task_v2.j2
  skyvern/forge/sdk/core/skyvern_context.py
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
  skyvern/services/task_v2_optimizations.py
  skyvern/services/task_v2_service.py
  skyvern/webeye/actions/caching.py
  tests/unit/test_task_v2_optimizations.py
Due: none

[Task V2] Validate generated loop values
  docs/task-v2-optimizations/agent_cost_283.png
  docs/task-v2-optimizations/pass_rate_283.png
  skyvern/services/task_v2_service.py
  tests/unit/test_task_v2_optimizations.py
Due: none

[Evaluation] Remove local benchmark chart assets
  docs/task-v2-optimizations/agent_cost_283.png
  docs/task-v2-optimizations/pass_rate_283.png
Due: none

fix(SKY-12081): declare Tokyo Night Day theme dependency
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

fix(SKY-12081): align migration head expectation
  tests/unit/forge/sdk/db/test_self_heal_schema.py
Due: none

fix(SKY-12081): author-time reject for unresolvable freehand copilot selectors + idempotent login (#7419)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/routes/workflows/components/BlockCodeEditor.tsx
  skyvern-frontend/src/routes/workflows/components/BlockOutputs.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.test.tsx
  skyvern-frontend/src/routes/workflows/components/CodeEditor.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.checklist.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.blockActions.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.credentialCard.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runGrounding.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.runLifecycle.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/copilotPhases.test.ts
  skyvern-frontend/src/routes/workflows/copilot/copilotPhases.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.credentialPause.test.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern-frontend/src/routes/workflows/workflowRun/ScriptDiffViewer.tsx
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/copilot/composition_browser_expressions.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/__init__.py
  skyvern/forge/sdk/copilot/tools/mcp_hooks.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/test_copilot_hooks.py
  tests/unit/test_copilot_scout_act_observe.py
Due: frontend-precommit, vitest-type-check
