Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

fix: don't block the event loop while waiting for the browser to start
  skyvern/webeye/browser_factory.py
Due: none

fix: hold a reference to the store_artifact task
  skyvern/services/script_service.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

restore main's encrypt, bitwarden and run-view safeguards over the mirror reversion
  skyvern-frontend/src/routes/runs/runViewTabsNavigation.test.tsx
  skyvern/forge/sdk/encrypt/aes.py
  skyvern/forge/sdk/encrypt/bootstrap.py
  skyvern/forge/sdk/services/bitwarden.py
  tests/unit/test_aes_fallback_decrypt.py
  tests/unit/test_bitwarden_session_cache.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit_tests/' with remote 'tests/unit_tests/'
  tests/unit_tests/test_streaming_screencast.py
  tests/unit_tests/webeye/test_navigation_retry.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/developers/optimization/chrome-extension.mdx
Due: none

fix(sync): restore encrypt, bitwarden fingerprint, and run-view test safeguards
  skyvern-frontend/src/routes/runs/runViewTabsNavigation.test.tsx
  skyvern/forge/sdk/encrypt/aes.py
  skyvern/forge/sdk/encrypt/bootstrap.py
  skyvern/forge/sdk/services/bitwarden.py
  tests/unit/test_aes_fallback_decrypt.py
  tests/unit/test_bitwarden_session_cache.py
Due: frontend-precommit, vitest-type-check

Revert encrypt files to the synced cloud versions
  skyvern/forge/sdk/encrypt/aes.py
  skyvern/forge/sdk/encrypt/bootstrap.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_code_block_downloads.py
Due: none

Bump version to 1.0.52
  packages/skyvern-ui/pyproject.toml
  pyproject.toml
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  uv.lock
Due: none

Accept UI session tokens on credential routes when Clerk is absent (SKY-15107) (#8305)
  tests/unit/test_code_block_downloads.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/streaming/channels/js/exfiltrate.js
  skyvern/services/browser_recording/interpretation.py
  skyvern/services/browser_recording/redact.py
  skyvern/services/browser_recording/service.py
  skyvern/services/browser_recording/state_machines/input_text.py
  skyvern/services/browser_recording/types.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.test.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.tsx
  skyvern-frontend/src/store/useRecordingStore.test.ts
  skyvern-frontend/src/store/useRecordingStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/services/test_browser_recording.py
Due: none

Save credentials from the live draft (#8307)
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.test.tsx
  skyvern-frontend/src/routes/workflows/editor/recording/RecordingPanel.tsx
  skyvern-frontend/src/store/useRecordingStore.test.ts
  skyvern-frontend/src/store/useRecordingStore.ts
  skyvern/forge/sdk/routes/streaming/channels/js/exfiltrate.js
  skyvern/services/browser_recording/interpretation.py
  skyvern/services/browser_recording/redact.py
  skyvern/services/browser_recording/service.py
  skyvern/services/browser_recording/state_machines/input_text.py
  skyvern/services/browser_recording/types.py
  tests/unit/services/test_browser_recording.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_agent_task_v3.py
  tests/unit/test_browser_effect_sink_enumeration.py
  tests/unit/test_taskv3_engine.py
  tests/unit/test_taskv3_loop.py
  tests/unit/test_taskv3_tools.py
Due: none

Task V3: continue a batched turn past a tool failure that did not move the page (#8309)
  skyvern/forge/agent.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_browser_effect_sink_enumeration.py
  tests/unit/test_taskv3_engine.py
  tests/unit/test_taskv3_loop.py
  tests/unit/test_taskv3_tools.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/cdp_download_interceptor.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_cdp_download_interceptor.py
  tests/unit/test_download_file_action_handler.py
  tests/unit/test_download_in_page_fetch_recovery_e2e.py
  tests/unit/test_read_blob_url_bytes.py
Due: none

fix: pin minimum TLS version in cdp_https_site test fixture (SKY sync #8310)
  tests/unit/test_download_in_page_fetch_recovery_e2e.py
Due: none

Check in five dead Datadog log monitors before any delete (#8310)
  skyvern/webeye/cdp_download_interceptor.py
  skyvern/webeye/utils/page.py
  tests/unit/test_cdp_download_interceptor.py
  tests/unit/test_download_file_action_handler.py
  tests/unit/test_download_in_page_fetch_recovery_e2e.py
  tests/unit/test_read_blob_url_bytes.py
Due: none

🔄 synced local 'tests/unit_tests/' with remote 'tests/unit_tests/'
  tests/unit_tests/test_streaming_screencast.py
Due: none

feat: auto-generate alembic migration for sync PR 16322
  alembic/versions/2026_08_29_1938-8a7f32c5f807_grant_the_app_hex_analytics_role_select_on_the_stranded_analytics_tables.py
Due: none

[Sync] Fix: declare markdown dependencies
  alembic/versions/2026_08_29_1938-8a7f32c5f807_grant_the_app_hex_analytics_role_select_on_the_stranded_analytics_tables.py
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/WorkflowInputs.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/StartNode.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_scraper_engine_timeout_classification.py
Due: none

Scope the scraper sleep recorder so a foreign sleeper cannot corrupt its assertions (#8313)
  skyvern-frontend/src/routes/workflows/editor/WorkflowInputs.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/StartNode.test.tsx
  tests/unit/test_scraper_engine_timeout_classification.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/google/test_agent_function_google_credentials.py
  tests/unit/test_login_block_debug_session_profile.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
