Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
Due: none

formatting post rebase
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
Due: frontend-precommit, vitest-type-check

set up xp for using cheaper model for verication result (#3853)
  skyvern/forge/agent.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

Fix z-indexing issue for timeline/browser stream in debugger view (#3854)
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
Due: frontend-precommit, vitest-type-check

preserve run config in curl
  skyvern-frontend/src/routes/tasks/create/CreateNewTaskForm.tsx
  skyvern-frontend/src/routes/tasks/create/SavedTaskForm.tsx
  skyvern-frontend/src/routes/tasks/detail/TaskDetails.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
Due: frontend-precommit, vitest-type-check

set workflow status to 'published' when a user saves a workflow (#3855)
  skyvern-frontend/src/routes/workflows/editor/FlowRenderer.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/store/WorkflowHasChangesStore.ts
Due: frontend-precommit, vitest-type-check

Run Codeflash with async option
  .github/workflows/codeflash.yaml
Due: none

ellipsis PR comments
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/credentials.py
Due: none

fix unused params
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/hooks/useTotpCodesQuery.ts
Due: frontend-precommit, vitest-type-check

endpoint for 2fa code management features
  fern/credentials/totp.mdx
  fern/docs.yml
  fern/openapi/skyvern_openapi.json
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/credentials.py
Due: none

remove credential vault not configured
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/credentials/CredentialsTotpTab.tsx
Due: frontend-precommit, vitest-type-check

fix build issues
  skyvern-frontend/src/components/PushTotpCodeForm.tsx
  skyvern-frontend/src/hooks/useTotpCodesQuery.ts
  skyvern-frontend/src/routes/credentials/CredentialsTotpTab.tsx
Due: frontend-precommit, vitest-type-check

revert openapi.json to main version
  fern/openapi/skyvern_openapi.json
Due: none

coderabbit api spec feedback
  fern/openapi/skyvern_openapi.json
Due: none

2fa creds screen submit
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/PushTotpCodeForm.tsx
  skyvern-frontend/src/hooks/useTotpCodesQuery.ts
  skyvern-frontend/src/routes/credentials/CredentialsList.tsx
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/credentials/CredentialsTotpTab.tsx
  skyvern/forge/sdk/routes/credentials.py
Due: frontend-precommit, vitest-type-check

remove legacy base router decorators
  skyvern/forge/sdk/routes/credentials.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

Suppress lint
  skyvern/__init__.py
  skyvern/library/__init__.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/__init__.py
  skyvern/library/__init__.py
Due: none

Revert setup_logger
  skyvern/__init__.py
Due: none

Use lazy imports in __init__.py (#3847)
  skyvern/__init__.py
  skyvern/library/__init__.py
Due: none

fixes from local testing
  skyvern-frontend/src/components/PushTotpCodeForm.tsx
  skyvern-frontend/src/hooks/useTotpCodesQuery.ts
  skyvern/forge/sdk/routes/credentials.py
Due: frontend-precommit, vitest-type-check

Add GET /v1/credentials/totp to list recent 2FA codes per org (#3770)
  fern/credentials/totp.mdx
  fern/docs.yml
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/PushTotpCodeForm.tsx
  skyvern-frontend/src/hooks/useTotpCodesQuery.ts
  skyvern-frontend/src/routes/credentials/CredentialsList.tsx
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/credentials/CredentialsTotpTab.tsx
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/credentials.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/agent.py
  skyvern/forge/app.py
  skyvern/forge/sdk/trace/experiment_utils.py
  skyvern/forge/sdk/trace/lmnr.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/task_v2_service.py
Due: none

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

adding back lmnr.py for OSS
  skyvern/forge/sdk/trace/lmnr.py
Due: none

removing laminar (#3858)
  pyproject.toml
  skyvern/config.py
  skyvern/forge/agent.py
  skyvern/forge/app.py
  skyvern/forge/sdk/trace/experiment_utils.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/task_v2_service.py
Due: none

revert #2154 - fix complete action bug
  skyvern/webeye/actions/handler.py
  skyvern/webeye/actions/parse_actions.py
Due: none

revert #2154 - fix complete action bug (#3859)
  skyvern/webeye/actions/handler.py
  skyvern/webeye/actions/parse_actions.py
Due: none

Update `Copy to cURL` buttons to reference the new Runs API spec (#3765)
  skyvern-frontend/src/routes/tasks/create/CreateNewTaskForm.tsx
  skyvern-frontend/src/routes/tasks/create/SavedTaskForm.tsx
  skyvern-frontend/src/routes/tasks/detail/TaskDetails.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/util/env.ts
  skyvern-frontend/src/util/taskRunPayload.test.ts
  skyvern-frontend/src/util/taskRunPayload.ts
Due: frontend-precommit, vitest-type-check

Remove unused dependencies from base install
  pyproject.toml
  uv.lock
Due: none

Fixes documentation for completeness
  README.md
Due: none

Restore orjson dependency (required by ORJSONResponse)
  pyproject.toml
  uv.lock
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStatusAlert.tsx
Due: frontend-precommit, vitest-type-check

OS-level workflow run alert (w sound) on status change (#3862)
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/hooks/useWorkflowRunQuery.ts
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStatusAlert.tsx
Due: frontend-precommit, vitest-type-check

fixed migration order
  alembic/versions/2025_10_30_1414-541870962332_add_folders_table.py
Due: none

add notification sound for workflow runs
  skyvern-frontend/public/dragon-cry.mp3
Due: vitest-type-check

add notification sound for workflow runs (#3863)
  skyvern-frontend/public/dragon-cry.mp3
Due: vitest-type-check
