Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

SKY-10560: route TOTP verification requests through NAT egress proxy (#6274)
  skyvern/forge/agent_functions.py
  skyvern/services/otp_service.py
  tests/unit/test_otp_service.py
Due: none

security: update axios to 1.16.1 to fix MITM and proxy bypass CVEs
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

🔄 synced local 'pyproject.toml' with remote 'pyproject.toml'
  pyproject.toml
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_block_type_parity.py
  tests/unit/test_sdk_run_metadata.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.collapse.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarTreeNav.tsx
  skyvern-frontend/src/routes/root/SideNav.test.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/root/SidebarContent.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.collapse.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_turn_intent.py
  tests/unit/test_mcp_block_type_parity.py
  tests/unit/test_sdk_run_metadata.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/SidebarTreeNav.tsx
  skyvern-frontend/src/routes/root/SideNav.test.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/root/SidebarContent.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.collapse.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.scroll.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/useStickToBottom.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/useStickToBottom.ts
Due: frontend-precommit, vitest-type-check

ci: skip sdk-release when target version is already on PyPI
  .github/workflows/sdk-release.yml
Due: none

fix: resolve #6004 — http://localhost:8080/ is blank window
  .env.example
Due: none

security: update axios to 1.16.1 to fix CVE-2026-44494 and CVE-2026-44492 (#6286)
  skyvern-frontend/package-lock.json
Due: vitest-type-check

security: ignore npm lifecycle scripts in skyvern-ts/client
  skyvern-ts/client/.npmrc
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/schemas/workflow_copilot.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_workflow_copilot_cancel.py
  tests/unit/test_workflow_copilot_route.py
Due: none

SKY-10581: Fix live Copilot terminal rollups (#6290)
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.queue.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/schemas/workflow_copilot.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_workflow_copilot_cancel.py
  tests/unit/test_workflow_copilot_route.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/tools.py
Due: none
