Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

Fix CodeQL format string alert: pass user-controlled values as arguments
  skyvern-frontend/artifactServer.js
  skyvern-frontend/localServer.js
Due: vitest-type-check

Bump version to 1.0.20 (#4835)
  pyproject.toml
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  skyvern-ts/client/src/Client.ts
  skyvern-ts/client/src/version.ts
  skyvern/client/core/client_wrapper.py
  uv.lock
Due: none

Apply prettier formatting
  skyvern-frontend/artifactServer.js
  skyvern-frontend/localServer.js
Due: vitest-type-check

Fix CodeQL: extract user-controlled query param to variable before logging
  skyvern-frontend/artifactServer.js
Due: vitest-type-check

[SKY-45] add figma-use MCP integration documentation
  docs/integrations/figma-use.mdx
Due: none

Add bump-version Claude skill for OSS releases (#4834)
  .claude/skills/bump-version/SKILL.md
  .gitignore
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/schemas/task_v2.py
  skyvern/forge/sdk/schemas/tasks.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_text_prompt_block.py
Due: none

fix: Use SettingsManager for model-to-LLM-key mapping so cloud fallback overrides apply (#4839)
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/schemas/task_v2.py
  skyvern/forge/sdk/schemas/tasks.py
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_text_prompt_block.py
Due: none

Add PostHog analytics for setup pain points tracking
  skyvern/analytics.py
  skyvern/cli/browser.py
  skyvern/cli/database.py
  skyvern/cli/init_command.py
  skyvern/cli/llm_setup.py
  skyvern/cli/quickstart.py
  skyvern/cli/utils.py
  skyvern/utils/__init__.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/conditional-prompt-branch-evaluation.j2
  skyvern/forge/sdk/workflow/models/block.py
Due: none

Fix conditional block misinterpreting resolved template variables (#4841)
  skyvern/forge/prompts/skyvern/conditional-prompt-branch-evaluation.j2
  skyvern/forge/sdk/workflow/models/block.py
Due: none

Fix PR feedback: handle failures properly & clean up start events
  skyvern/cli/database.py
  skyvern/cli/init_command.py
  skyvern/cli/llm_setup.py
  skyvern/cli/quickstart.py
  skyvern/cli/utils.py
  skyvern/utils/__init__.py
Due: none

Fix circular import in utils/__init__.py
  skyvern/utils/__init__.py
Due: none

Change error handling to warnings instead of exits
  skyvern/cli/database.py
Due: none

Only show success message when container starts successfully
  skyvern/cli/database.py
Due: none

make posthog default timeout 2 seconds
  skyvern/analytics.py
Due: none

Add PostHog analytics for setup pain points tracking (#4840)
  skyvern/analytics.py
  skyvern/cli/browser.py
  skyvern/cli/database.py
  skyvern/cli/init_command.py
  skyvern/cli/llm_setup.py
  skyvern/cli/quickstart.py
  skyvern/cli/utils.py
  skyvern/utils/__init__.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/setup_commands.py
  skyvern/forge/api_app.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/integrations/mcp.mdx
Due: none

Mount MCP remote server on existing API service at /mcp (#4843)
  docs/integrations/mcp.mdx
  skyvern/cli/setup_commands.py
  skyvern/forge/api_app.py
Due: none

Add request logging and error handling to artifact and frontend servers (#4829)
  skyvern-frontend/artifactServer.js
  skyvern-frontend/localServer.js
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_exception_messages.py
Due: none

Clean up browser launch failure messaging (#4844)
  skyvern/exceptions.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/service.py
  tests/unit/test_exception_messages.py
Due: none

feat: allow custom proxy per session
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/schemas/task_v2.py
  skyvern/schemas/browser_sessions.py
  skyvern/schemas/runs.py
  skyvern/webeye/browser_factory.py
Due: none

[SKY-48] Normalize to UTC: backend sends ISO 8601 without timezone suffix
  skyvern-frontend/src/hooks/useVerificationCodeAlert.ts
Due: frontend-precommit, vitest-type-check

test: add unit tests for custom proxy location
  tests/unit/test_proxy_location.py
Due: none

style: fix linting and formatting issues
  skyvern/forge/sdk/db/utils.py
  skyvern/schemas/browser_sessions.py
  tests/unit/test_proxy_location.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

🔄 synced local 'fern/' with remote 'fern/'
  fern/docs.yml
  fern/integrations/cli.mdx
  fern/integrations/mcp.mdx
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/mcp.mdx
Due: none

Add Gemini 3.1 Pro and Inception Mercury-2 model support (#4847)
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/mcp.mdx
  fern/docs.yml
  fern/integrations/cli.mdx
  fern/integrations/mcp.mdx
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

[SKY-48] Update TOTP Entry Remaining Display Time (#4845)
  skyvern-frontend/src/hooks/useVerificationCodeAlert.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
Due: frontend-precommit, vitest-type-check

Add URL-based tab navigation to browser session page (#4848)
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSession.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: none

Fix conditional block crash when all prompt branches are Jinja-rendered (#4849)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/artifact/storage/s3.py
  skyvern/forge/sdk/artifact/storage/test_s3_storage.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
