Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

Show only failing tests' output in CI logs, and stop a test from leaving SQL logging on
  .github/workflows/ci.yml
  tests/unit/test_forge_log_foreign_tracebacks.py
  tests/unit/test_run_commands_cleanup.py
Due: none

Give page-derived values in a Task V3 goal no customer authority under the precedence arm (SKY-17090) (#8663)
  skyvern/forge/agent.py
  skyvern/forge/sdk/forge_log.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/page_derived_templates.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/goal_composition.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_forge_log_redaction.py
  tests/unit/test_mcp_browser_tools.py
  tests/unit/test_page_derived_templates.py
  tests/unit/test_taskv3_engine.py
  tests/unit/test_taskv3_goal_composition.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/forge/sdk/experimentation/providers.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/code_block_recorder.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
  skyvern/schemas/self_heal.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/workflowRun/healStatus.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_feature_flag_resolution_logging.py
  tests/unit/test_forge_log_foreign_tracebacks.py
  tests/unit/test_run_commands_cleanup.py
  tests/unit/test_taskv3_engine.py
  tests/unit/test_taskv3_tools.py
  tests/unit/workflow/test_code_block_escalation.py
  tests/unit/workflow/test_code_block_recorder.py
Due: none

Route API workflow runs (#8667)
  skyvern-frontend/src/routes/workflows/workflowRun/healStatus.ts
  skyvern/forge/agent.py
  skyvern/forge/sdk/experimentation/providers.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/code_block_recorder.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
  skyvern/schemas/self_heal.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_feature_flag_resolution_logging.py
  tests/unit/test_forge_log_foreign_tracebacks.py
  tests/unit/test_run_commands_cleanup.py
  tests/unit/test_taskv3_engine.py
  tests/unit/test_taskv3_tools.py
  tests/unit/workflow/test_code_block_escalation.py
  tests/unit/workflow/test_code_block_recorder.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/BrowserStream.test.tsx
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionStream.test.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionStream.tsx
  skyvern-frontend/src/routes/streaming/streamState.ts
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.test.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserPaneHeader.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.test.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.tsx
  skyvern-frontend/src/routes/workflows/studio/StreamPresenter.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.test.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/routes/workflows/studio/browserPaneView.test.ts
  skyvern-frontend/src/routes/workflows/studio/browserPaneView.ts
  skyvern-frontend/src/routes/workflows/studio/constants.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunLiveStream.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunLiveStream.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStream.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStream.tsx
  skyvern-frontend/src/store/useStudioBrowserStore.ts
Due: frontend-precommit, vitest-type-check

Quieter Browser pane header: overflow menu, run-only replay tabs, browser status (SKY-17128) (#8668)
  skyvern-frontend/src/components/BrowserStream.test.tsx
  skyvern-frontend/src/components/BrowserStream.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionStream.test.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionStream.tsx
  skyvern-frontend/src/routes/streaming/streamState.ts
  skyvern-frontend/src/routes/workflows/editor/WorkflowEditor.test.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserPaneHeader.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.test.tsx
  skyvern-frontend/src/routes/workflows/studio/BrowserTab.tsx
  skyvern-frontend/src/routes/workflows/studio/StreamPresenter.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.test.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioBrowserStream.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/routes/workflows/studio/browserPaneView.test.ts
  skyvern-frontend/src/routes/workflows/studio/browserPaneView.ts
  skyvern-frontend/src/routes/workflows/studio/constants.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunLiveStream.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunLiveStream.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStream.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunStream.tsx
  skyvern-frontend/src/store/useStudioBrowserStore.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

Pin GPT-6 Luna to high reasoning effort, matching Task V3's GPT-5.6 Luna (SKY-16907) (#8669)
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_taskv3_loop.py
  tests/unit/test_taskv3_tools.py
Due: none

Let Task V3 run toggle clicks after an earlier call in the batch fails (#8670)
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/tools.py
  tests/unit/test_taskv3_loop.py
  tests/unit/test_taskv3_tools.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skills/' with remote 'skills/'
  skills/skyvern/references/tool-map.md
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/browser_extension/extension/README.md
  skyvern/browser_extension/extension/build_hash.json
  skyvern/browser_extension/extension/control_indicator.js
  skyvern/browser_extension/extension/debugger_router.js
  skyvern/browser_extension/extension/dom_router.js
  skyvern/browser_extension/extension/indicator_state.js
  skyvern/browser_extension/extension/manifest.json
  skyvern/browser_extension/extension/service_worker.js
  skyvern/browser_extension/extension/tab_scope.js
  skyvern/browser_extension/runtime.py
  skyvern/cli/commands/browser.py
  skyvern/cli/mcp_tools/browser.py
  skyvern/cli/mcp_tools/instructions.py
  skyvern/cli/mcp_tools/prompts.py
  skyvern/cli/skills/qa/SKILL.md
  skyvern/cli/skills/skyvern/references/tool-map.md
  skyvern/cli/skills/smoke-test/SKILL.md
  skyvern/cli/skills/testing/SKILL.md
  skyvern/config.py
  skyvern/forge/agent.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/taskv3/engine.py
  skyvern/forge/taskv3/loop.py
  skyvern/forge/taskv3/run_arms.py
  skyvern/forge/taskv3/tools.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/changelog-emails/2026-05-may.md
  docs/changelog-emails/2026-06-june.md
  docs/changelog-emails/2026-07-july.md
  docs/changelog-emails/2026-08-august.md
  docs/developers/optimization/chrome-extension.mdx
  docs/index.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/browser_extension/test_control_indicator.py
  tests/unit/browser_extension/test_extension_bridge_hardening.py
  tests/unit/browser_extension/test_mcp_glue.py
  tests/unit/browser_extension/test_protocol.py
  tests/unit/browser_extension/test_runtime.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_mcp_browser_tools.py
  tests/unit/test_mcp_legacy_manifest.py
  tests/unit/test_non_secret_credential_fields.py
  tests/unit/test_taskv3_loop.py
  tests/unit/test_taskv3_tools.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/browserSessions/BrowserSessionTimeline.test.tsx
Due: frontend-precommit, vitest-type-check

Enable Azure GPT-6 Luna on the staging and production API and workers (SKY-16907) (#8672)
  skyvern-frontend/src/routes/browserSessions/BrowserSessionTimeline.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/browser_extension/extension/build_hash.json
  skyvern/browser_extension/extension/manifest.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/browser_extension/test_protocol.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/cookbooks/job-application-filler.mdx
  docs/developers/going-to-production/proxy-geolocation.mdx
  docs/developers/optimization/chrome-extension.mdx
Due: none

Upgrade the PyPI publish action so Metadata-Version 2.5 wheels pass its check (SKY-17228)
  .github/workflows/sdk-release.yml
Due: none

Correct the profile proxy and job application fee statements in the docs (SKY-17202) (#8673)
  docs/cookbooks/job-application-filler.mdx
  docs/developers/going-to-production/proxy-geolocation.mdx
  docs/developers/optimization/chrome-extension.mdx
  skyvern/browser_extension/extension/build_hash.json
  skyvern/browser_extension/extension/manifest.json
  tests/unit/browser_extension/test_protocol.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/routes/run_blocks.py
  skyvern/forge/sdk/routes/sdk.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/runs.py
  skyvern/services/block_service.py
  skyvern/services/task_v2_service.py
  skyvern/services/workflow_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/icons/SparklesIcon.tsx
  skyvern-frontend/src/routes/history/HistoryPage.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/copilot/CopilotWorkingStatus.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/CopilotWorkingStatus.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
Due: none

feat: auto-generate alembic migration for sync PR 17414
  alembic/versions/2026_09_27_0234-adf6f1f2e672_add_created_by_to_workflow_runs.py
Due: none

Record who started each workflow run and show it on the Runs page (#8677)
  alembic/versions/2026_09_27_0234-adf6f1f2e672_add_created_by_to_workflow_runs.py
  docs/api-reference/openapi.json
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/icons/SparklesIcon.tsx
  skyvern-frontend/src/routes/history/HistoryPage.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/copilot/CopilotWorkingStatus.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/CopilotWorkingStatus.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.composerControls.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.tsx
  skyvern-frontend/tailwind.config.js
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/routes/run_blocks.py
  skyvern/forge/sdk/routes/sdk.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/runs.py
  skyvern/services/block_service.py
  skyvern/services/task_v2_service.py
  skyvern/services/workflow_service.py
  tests/unit/forge/sdk/db/test_workflow_runs_repository.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/azure.py
  skyvern/forge/sdk/api/real_azure.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_real_azure.py
Due: none

Treat deleting an already-absent Azure vault secret as success (SKY-17087) (#8678)
  skyvern/forge/sdk/api/azure.py
  skyvern/forge/sdk/api/real_azure.py
  tests/unit/test_real_azure.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/prompts/skyvern/surface-web-search-errors.j2
  skyvern/forge/sdk/workflow/models/web_search_block.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/WebSearchNode/WebSearchEditor.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WebSearchNode/WebSearchEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/WebSearchNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/WebSearchBlockForm.tsx
  skyvern-frontend/src/routes/workflows/editor/undefinedParametersGuard.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
  docs/cloud/building-agents/configure-blocks.mdx
Due: none
