Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/core/script_generations/generate_script.py
  skyvern/services/script_service.py
Due: none

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

map failure page to error code if any, when Script run when task failed (#4149)
  skyvern/core/script_generations/generate_script.py
  skyvern/services/script_service.py
  uv.lock
Due: none

feat: 프론트엔드 UI 한글화 (1차)
  skyvern-frontend/src/routes/discover/WorkflowTemplates.tsx
  skyvern-frontend/src/routes/root/SideNav.tsx
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/ImportWorkflowButton.tsx
  skyvern-frontend/src/routes/workflows/WorkflowActions.tsx
  skyvern-frontend/src/routes/workflows/Workflows.tsx
  skyvern-frontend/src/routes/workflows/components/CreateFolderDialog.tsx
  skyvern-frontend/src/routes/workflows/components/DeleteFolderButton.tsx
  skyvern-frontend/src/routes/workflows/components/EditFolderDialog.tsx
  skyvern-frontend/src/routes/workflows/components/FolderCard.tsx
  skyvern-frontend/src/routes/workflows/components/ViewAllFoldersDialog.tsx
  skyvern-frontend/src/routes/workflows/components/WorkflowFolderSelector.tsx
Due: frontend-precommit, vitest-type-check

feat: 프론트엔드 UI 한글화 (2차)
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
  skyvern-frontend/src/routes/credentials/CredentialsList.tsx
  skyvern-frontend/src/routes/credentials/CredentialsModal.tsx
  skyvern-frontend/src/routes/credentials/CredentialsPage.tsx
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/runs/RunRouter.tsx
Due: frontend-precommit, vitest-type-check

feat: Supabase 인증 및 데이터베이스 통합
  skyvern-frontend/.env.example
  skyvern-frontend/.env.production.local
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/App.tsx
  skyvern-frontend/src/api/database.types.ts
  skyvern-frontend/src/api/supabase.ts
  skyvern-frontend/src/router.tsx
  skyvern-frontend/src/routes/auth/AuthGuard.tsx
  skyvern-frontend/src/routes/auth/LoginPage.tsx
  skyvern-frontend/src/store/SupabaseAuthContext.tsx
  skyvern-frontend/supabase/migrations/001_initial_schema.sql
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/schemas/task_v2.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/GeoTargetSelector.tsx
  skyvern-frontend/src/components/ProxySelector.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
  skyvern-frontend/src/routes/browserSessions/hooks/useCreateBrowserSessionMutation.ts
  skyvern-frontend/src/routes/tasks/create/taskFormTypes.ts
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/util/geoData.ts
  skyvern-frontend/src/util/geoSearch.ts
Due: frontend-precommit, vitest-type-check

npm package
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/request_logging.py
Due: none

CUSTOM_LLM
  skyvern/library/embedded_server_factory.py
  skyvern/library/llm_config_types.py
  skyvern/library/skyvern.py
Due: none

Add legacy credentials endpoint to SENSITIVE_ENDPOINTS (#4151)
  skyvern/forge/request_logging.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

add drop_params to router fallback call to handle unsupported parameters (#4152)
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

[Backend] Fix - Task V2 conversion changes to make new proxy city/state feature work (#4153)
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/db/utils.py
  skyvern/forge/sdk/schemas/task_v2.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/run_blocks.py
  skyvern/forge/sdk/schemas/credentials.py
  skyvern/forge/sdk/services/credential/credential_vault_service.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

store totp_identifier to credentials with fallback for login runs (#4154)
  skyvern/forge/sdk/db/client.py
  skyvern/forge/sdk/routes/run_blocks.py
  skyvern/forge/sdk/schemas/credentials.py
  skyvern/forge/sdk/services/credential/credential_vault_service.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/forge_app.py
  skyvern/forge/forge_openai_client.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

Silence annoying OpenAI client shutdown error (#4157)
  skyvern/forge/forge_app.py
  skyvern/forge/forge_openai_client.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/pylon.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
Due: none

Warn some noisy errors (#4158)
  skyvern/forge/sdk/routes/pylon.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
Due: none

country-state-city
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
Due: vitest-type-check

[Frontend] Marc/frontend granular city/state geo proxy (#4156)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/GeoTargetSelector.tsx
  skyvern-frontend/src/components/ProxySelector.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessions.tsx
  skyvern-frontend/src/routes/browserSessions/hooks/useCreateBrowserSessionMutation.ts
  skyvern-frontend/src/routes/tasks/create/taskFormTypes.ts
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern-frontend/src/util/geoData.ts
  skyvern-frontend/src/util/geoSearch.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/service.py
Due: none

Handle WorkflowNotFound in create_workflow_from_request (#4159)
  skyvern/forge/sdk/workflow/service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/GeoTargetSelector.tsx
Due: frontend-precommit, vitest-type-check

UI tweak - single checkmark for either US proxy option (#4160)
  skyvern-frontend/src/components/GeoTargetSelector.tsx
Due: frontend-precommit, vitest-type-check

feat: 카카오 로그인 및 로그아웃 기능 추가
  skyvern-frontend/src/routes/auth/LoginPage.tsx
  skyvern-frontend/src/routes/root/SidebarContent.tsx
  skyvern-frontend/src/store/SupabaseAuthContext.tsx
Due: frontend-precommit, vitest-type-check

feat: JadongAI 브랜딩 적용
  skyvern-frontend/index.html
  skyvern-frontend/src/components/Logo.tsx
  skyvern-frontend/src/components/LogoMinimized.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/forge/sdk/workflow/service.py
Due: none

fix recording for browser session run (#4161)
  skyvern/forge/agent.py
  skyvern/forge/sdk/workflow/service.py
Due: none

update
  fern/browser-sessions/introduction.mdx
Due: none

update browser session docs
  fern/browser-sessions/introduction.mdx
Due: none

updte
  fern/browser-sessions/introduction.mdx
Due: none

Fix ESLinit linting errors
  skyvern-frontend/src/components/CustomCredentialServiceConfigForm.tsx
  skyvern-frontend/src/hooks/useCustomCredentialServiceConfig.ts
Due: frontend-precommit, vitest-type-check

Remove unsused post_delete_credential_item method in custom credential vault
  skyvern/forge/sdk/services/credential/custom_credential_vault_service.py
Due: none

Fix import related linting errors
  skyvern/forge/sdk/api/custom_credential_client.py
  skyvern/forge/sdk/routes/credentials.py
  skyvern/forge/sdk/services/credential/custom_credential_vault_service.py
Due: none
