Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/debugger/DebuggerBlockRuns.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserSessionRateLimit.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.ts
Due: frontend-precommit, vitest-type-check

Rate limit browser session refresh in debug UI (#SKY-7514) (#5152)
  skyvern-frontend/src/routes/workflows/debugger/DebuggerBlockRuns.tsx
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/components/NodeHeader.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserSessionRateLimit.ts
  skyvern-frontend/src/routes/workflows/hooks/useDebugSessionQuery.ts
Due: frontend-precommit, vitest-type-check

fix: add nopan class to credential selectors in ReactFlow nodes (SKY-8470)
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/__init__.py
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/workflow-copilot-system.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-user.j2
  skyvern/forge/sdk/api/llm/api_handler.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/cloud/managing-credentials/totp-setup.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/complete-reference.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/test_temporal_v2_workflow_activities.py
  tests/unit/test_workflow_copilot_prompt_injection.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/__init__.py
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/workflow-copilot-system.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-user.j2
  skyvern/forge/sdk/api/llm/api_handler.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/webeye/actions/handler.py
Due: none

[NO-TICKET] Remove bad tests
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

[NO-TICKET] Remove bad tests (#5159)
  tests/unit/test_local_schedule_runner.py
  tests/unit/test_temporal_v2_workflow_activities.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/__init__.py
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/workflow-copilot-system.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-user.j2
  skyvern/forge/sdk/api/llm/api_handler.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/script_reviewer.py
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/test_script_reviewer_validators.py
  tests/unit/test_workflow_copilot_prompt_injection.py
Due: none

Fix: generate if/else for conditional blocks in Code 2.0 + branch return validation (#5160)
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern/__init__.py
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/workflow-copilot-system.j2
  skyvern/forge/prompts/skyvern/workflow-copilot-user.j2
  skyvern/forge/sdk/api/llm/api_handler.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/services/script_reviewer.py
  skyvern/webeye/actions/handler.py
  tests/unit/test_schedule_orphan_cleanup.py
  tests/unit/test_script_reviewer_validators.py
  tests/unit/test_workflow_copilot_prompt_injection.py
Due: frontend-precommit, vitest-type-check

[NO-TICKET] Remove tests
  tests/unit/test_schedule_orphan_cleanup.py
Due: none

[NO-TICKET] Remove tests (#5161)
  tests/unit/test_schedule_orphan_cleanup.py
Due: none

fix: credential selectors stuck on skeleton during background refetch (#5151)
  docs/cloud/managing-credentials/totp-setup.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/complete-reference.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
Due: none

Add workflow runs links from scheduler pages (#SKY-8468) (#5162)
  docs/cloud/managing-credentials/totp-setup.mdx
  docs/debugging/observability-with-laminar.mdx
  docs/docs.json
  docs/integrations/cli.mdx
  docs/integrations/make.mdx
  docs/integrations/n8n.mdx
  docs/integrations/workato.mdx
  docs/integrations/zapier.mdx
  docs/sdk-reference/complete-reference.mdx
  docs/sdk-reference/overview.mdx
  docs/ts-sdk-reference/overview.mdx
  skyvern-frontend/src/routes/schedules/ScheduleDetailPage.tsx
  skyvern-frontend/src/routes/schedules/SchedulesPage.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunCode.tsx
  skyvern/__init__.py
  skyvern/forge/agent_functions.py
  skyvern/forge/prompts/skyvern/workflow-copilot-user.j2
  skyvern/forge/prompts/skyvern/workflow-copilot.j2
  skyvern/forge/sdk/api/llm/api_handler.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/webeye/actions/handler.py
  tests/unit/test_workflow_copilot_prompt_injection.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern-frontend/src/util/version.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_code_block_sandbox.py
Due: none

fix: prevent settings page crash for self-hosted users (#5164)
  skyvern-frontend/src/routes/settings/Settings.tsx
  skyvern-frontend/src/util/version.ts
Due: frontend-precommit, vitest-type-check

[Critical] Fix CodeBlock sandbox: remove asyncio, block dangerous attrs (#SKY-7897) (#5165)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_code_block_sandbox.py
Due: none

fix: prevent settings page crash when __APP_VERSION__ is not defined
  skyvern-frontend/vite.config.ts
Due: vitest-type-check

fix: bake app version into self-hosted Docker builds
  .github/workflows/build-docker-image.yml
  Dockerfile.ui
  skyvern-frontend/vite.config.ts
Due: vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: none

refactor: remove broken effective_browser_session_id suppression (SKY-8465) (#5166)
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_workflow_copilot_prompt_injection.py
Due: none

Revert "feat: add MiniMax LLM provider support" (#5153)
  .env.example
  README.md
  docs/self-hosted/llm-configuration.mdx
  skyvern/config.py
  skyvern/forge/sdk/api/llm/config_registry.py
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
