Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

frontend-precommit:
  name: Frontend Precommit (lint-staged)
  entry: bash -c 'cd skyvern-frontend && npm run precommit'
  language: system
  pass_filenames: false

vitest-type-check:
  name: vitest
  entry: bash -c 'cd skyvern-frontend && ([ -d node_modules ] || npm ci) && npm run test'
  language: system
  pass_filenames: false

[Tests] Fix: Loosen download handler timing tolerances
  tests/unit/test_download_file_action_handler.py
Due: none

[MCP] Harden: Bound raw argument wrapper parsing
  skyvern/cli/mcp_tools/arg_repair.py
  tests/unit/test_mcp_arg_repair.py
Due: none

[MCP] Fix: Keep argument repair conservative
  skyvern/cli/mcp_tools/arg_repair.py
  skyvern/forge/sdk/copilot/tools/mcp_hooks.py
  tests/unit/test_copilot_banned_block_policy.py
  tests/unit/test_mcp_arg_repair.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/copilot/code_block_synthesis.py
  skyvern/forge/sdk/db/models.py
  skyvern/webeye/schemas.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/webeye/test_browser_session_response.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileDetailPage.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileItem.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileUsageList.tsx
  skyvern-frontend/src/routes/browserProfiles/DeleteBrowserProfileButton.test.tsx
  skyvern-frontend/src/routes/browserProfiles/RefreshBrowserProfileButton.tsx
  skyvern-frontend/src/routes/browserProfiles/browserProfileRole.test.ts
  skyvern-frontend/src/routes/browserProfiles/browserProfileRole.ts
  skyvern-frontend/src/routes/credentials/CredentialItem.tsx
  skyvern-frontend/src/routes/credentials/CredentialsModal.test.tsx
  skyvern-frontend/src/routes/credentials/CredentialsModal.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.test.ts
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
  skyvern-frontend/src/routes/workflows/components/BrowserProfileControl.tsx
  skyvern-frontend/src/routes/workflows/components/browserProfileControlModel.test.ts
  skyvern-frontend/src/routes/workflows/components/browserProfileControlModel.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/BrowserProfileSettingsSection.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/WorkflowSettingsBlockForm.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserProfileScenario.ts
  skyvern-frontend/src/routes/workflows/studio/runProjections.test.ts
  skyvern-frontend/src/routes/workflows/studio/runProjections.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunOutputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunOutputsSection.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/artifact/storage/test_local_storage.py
  tests/unit/forge/sdk/artifact/storage/test_s3_storage.py
  tests/unit/forge/sdk/test_create_browser_profile_from_session_route.py
  tests/unit/services/test_get_workflow_run_response_passthrough.py
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_browser_profile_usage.py
  tests/unit/test_code_block_captcha.py
  tests/unit/test_copilot_banned_block_policy.py
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/test_credential_delete_reaps_profile.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_credential_update_params.py
  tests/unit/test_llm_response_parsing.py
  tests/unit/test_login_block_debug_session_profile.py
  tests/unit/test_login_block_fresh_login_signal.py
  tests/unit/test_profile_cookie_merge.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_seed_precedence_engine.py
  tests/unit/test_start_fresh_browser_flag.py
  tests/unit/test_task_request_validation.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_workflow_run_detail_template_cross_org.py
  tests/unit/test_workflow_run_parameter_batching.py
  tests/unit/test_workflow_service_managed_browser_profile.py
  tests/unit/test_workflow_service_profile_writeback.py
  tests/unit/webeye/test_browser_session_response.py
  tests/unit/workflow/test_execute_single_block_phases.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/components/icons/PencilSolidIcon.tsx
  skyvern-frontend/src/components/icons/TrashSolidIcon.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileDetailPage.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileItem.tsx
  skyvern-frontend/src/routes/browserProfiles/BrowserProfileUsageList.tsx
  skyvern-frontend/src/routes/browserProfiles/DeleteBrowserProfileButton.test.tsx
  skyvern-frontend/src/routes/browserProfiles/RefreshBrowserProfileButton.tsx
  skyvern-frontend/src/routes/browserProfiles/browserProfileRole.test.ts
  skyvern-frontend/src/routes/browserProfiles/browserProfileRole.ts
  skyvern-frontend/src/routes/credentials/CredentialFolderCard.tsx
  skyvern-frontend/src/routes/credentials/CredentialItem.tsx
  skyvern-frontend/src/routes/credentials/CredentialsBulkBar.tsx
  skyvern-frontend/src/routes/credentials/CredentialsModal.test.tsx
  skyvern-frontend/src/routes/credentials/CredentialsModal.tsx
  skyvern-frontend/src/routes/credentials/DeleteCredentialFolderButton.tsx
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.test.ts
  skyvern-frontend/src/routes/workflows/RunWorkflowForm.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRunParameters.tsx
  skyvern-frontend/src/routes/workflows/components/BrowserProfileControl.tsx
  skyvern-frontend/src/routes/workflows/components/browserProfileControlModel.test.ts
  skyvern-frontend/src/routes/workflows/components/browserProfileControlModel.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/BrowserProfileSettingsSection.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/WorkflowSettingsEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/WorkflowSettingsBlockForm.tsx
  skyvern-frontend/src/routes/workflows/hooks/useBrowserProfileScenario.ts
  skyvern-frontend/src/routes/workflows/studio/runProjections.test.ts
  skyvern-frontend/src/routes/workflows/studio/runProjections.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunOutputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunOutputsSection.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/artifact/storage/test_local_storage.py
  tests/unit/forge/sdk/artifact/storage/test_s3_storage.py
  tests/unit/forge/sdk/test_create_browser_profile_from_session_route.py
  tests/unit/services/test_get_workflow_run_response_passthrough.py
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_browser_profile_usage.py
  tests/unit/test_code_block_captcha.py
  tests/unit/test_collapse_fanout_gates.py
  tests/unit/test_copilot_banned_block_policy.py
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/test_copilot_scout_act_observe.py
  tests/unit/test_credential_delete_reaps_profile.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_credential_update_params.py
  tests/unit/test_llm_response_parsing.py
  tests/unit/test_login_block_debug_session_profile.py
  tests/unit/test_login_block_fresh_login_signal.py
  tests/unit/test_mcp_workflow_create_defaults.py
  tests/unit/test_mcp_workflow_guidance.py
  tests/unit/test_profile_cookie_merge.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_seed_precedence_engine.py
  tests/unit/test_select_shadow_match.py
  tests/unit/test_start_fresh_browser_flag.py
  tests/unit/test_task_request_validation.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_workflow_persist_code_only.py
  tests/unit/test_workflow_run_detail_template_cross_org.py
  tests/unit/test_workflow_run_parameter_batching.py
  tests/unit/test_workflow_service_managed_browser_profile.py
  tests/unit/test_workflow_service_profile_writeback.py
  tests/unit/webeye/test_browser_session_response.py
  tests/unit/workflow/test_execute_single_block_phases.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/artifact/storage/test_local_storage.py
  tests/unit/forge/sdk/artifact/storage/test_s3_storage.py
  tests/unit/forge/sdk/test_create_browser_profile_from_session_route.py
  tests/unit/services/test_get_workflow_run_response_passthrough.py
  tests/unit/test_browser_context_factory_marker.py
  tests/unit/test_browser_profile_usage.py
  tests/unit/test_code_block_captcha.py
  tests/unit/test_collapse_fanout_gates.py
  tests/unit/test_copilot_banned_block_policy.py
  tests/unit/test_copilot_build_phase.py
  tests/unit/test_copilot_code_block_synthesis.py
  tests/unit/test_copilot_context.py
  tests/unit/test_copilot_scout_act_observe.py
  tests/unit/test_credential_delete_reaps_profile.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_credential_update_params.py
  tests/unit/test_llm_response_parsing.py
  tests/unit/test_login_block_debug_session_profile.py
  tests/unit/test_login_block_fresh_login_signal.py
  tests/unit/test_mcp_workflow_create_defaults.py
  tests/unit/test_mcp_workflow_guidance.py
  tests/unit/test_profile_cookie_merge.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_saved_session_proxy_pin.py
  tests/unit/test_seed_precedence_engine.py
  tests/unit/test_select_shadow_match.py
  tests/unit/test_start_fresh_browser_flag.py
  tests/unit/test_task_request_validation.py
  tests/unit/test_workflow_browser_profile_id.py
  tests/unit/test_workflow_copilot_cancel.py
  tests/unit/test_workflow_persist_code_only.py
  tests/unit/test_workflow_run_detail_template_cross_org.py
  tests/unit/test_workflow_run_parameter_batching.py
  tests/unit/test_workflow_service_managed_browser_profile.py
  tests/unit/test_workflow_service_profile_writeback.py
  tests/unit/webeye/test_browser_session_response.py
  tests/unit/workflow/test_execute_single_block_phases.py
Due: none

Unblock sync PRs: add missing migration and fix CodeQL url-substring alert
  alembic/versions/2026_07_24_2300-9c1f2a7be4d0_sync_browser_profile_and_browser_seed_columns.py
  tests/unit/test_extract_action_open_tabs_context.py
Due: none

Mark the scouted-evidence fingerprint as a non-security hash
  skyvern/forge/sdk/copilot/code_block_synthesis.py
Due: none

Rename password-named test helpers that taint an unrelated fingerprint hash
  tests/unit/test_copilot_enforcement_pruning.py
Due: none

Drop the non-security hash marker; CodeQL ignores it for this query
  skyvern/forge/sdk/copilot/code_block_synthesis.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/terminal_envelope.py
  skyvern/forge/sdk/routes/workflow_copilot.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_zero_run_plane.py
  tests/unit/test_copilot_terminal_envelope.py
  tests/unit/test_workflow_copilot_route.py
  tests/unit/test_workflow_copilot_route_helpers.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.reviewGate.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
Due: frontend-precommit, vitest-type-check

feat: auto-generate OSS alembic migration from cloud PR #13617
  alembic/versions/2026_07_24_1802-2cdf64661540_browser_memory_browser_profiles_last_verified_login_at.py
  alembic/versions/2026_07_24_1802-b192c2ddb005_credential_pin_saved_session_ip_keep_the_same_ip_for_sign_ins_with_this_credential.py
  alembic/versions/2026_07_24_1802-efd117d09dd9_credentials_partial_unique_index_on_browser_profile_id_one_credential_per_profile.py
  alembic/versions/2026_07_24_1802-f244c178e9a9_browser_memory_workflow_runs_seed_columns_browser_seed_source_browser_sink_profile_id_start_fresh_browser.py
Due: none

fix(SKY-12998): route verified copilot fixes through the review gate (#7739)
  skyvern-frontend/src/api/types.ts
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.reviewGate.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/terminal_envelope.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_completion_zero_run_plane.py
  tests/unit/test_copilot_terminal_envelope.py
  tests/unit/test_workflow_copilot_route.py
  tests/unit/test_workflow_copilot_route_helpers.py
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ModelSelector.test.tsx
  skyvern-frontend/src/components/ModelSelector.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local '.env.example' with remote '.env.example'
  .env.example
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/llm_setup.py
  skyvern/config.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/copilot/turn_ownership.py
  skyvern/forge/sdk/enterprise_features.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_api_handler_factory.py
  tests/unit/test_copilot_enforcement_hardening.py
  tests/unit/test_copilot_output_contract_actuation.py
  tests/unit/workflow/test_enterprise_feature_gating.py
Due: none

Scan tests/unit for the url-substring anti-pattern before it reaches OSS CodeQL (#7743)
  .env.example
  skyvern-frontend/src/components/ModelSelector.test.tsx
  skyvern-frontend/src/components/ModelSelector.tsx
  skyvern/cli/llm_setup.py
  skyvern/config.py
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/copilot/turn_ownership.py
  skyvern/forge/sdk/enterprise_features.py
  tests/unit/test_api_handler_factory.py
  tests/unit/test_copilot_enforcement_hardening.py
  tests/unit/test_copilot_output_contract_actuation.py
  tests/unit/workflow/test_enterprise_feature_gating.py
Due: frontend-precommit, vitest-type-check

Remove docs/pr-screenshots
  docs/pr-screenshots/bitwarden-credentials-passwords-tab-mobile.png
  docs/pr-screenshots/bitwarden-credentials-passwords-tab.png
  docs/pr-screenshots/bitwarden-workflow-editor-picker.png
  docs/pr-screenshots/credentials-authenticator-qr-after.png
  docs/pr-screenshots/credentials-authenticator-qr-before.png
  docs/pr-screenshots/download-target-options.png
  docs/pr-screenshots/download-target-s3.png
  docs/pr-screenshots/download-target-sftp.png
  docs/pr-screenshots/download-target-website.png
  docs/pr-screenshots/duplicate-block-menu-desktop.png
  docs/pr-screenshots/duplicate-block-menu-mobile.png
  docs/pr-screenshots/email-inbox-editor-gmail.png
  docs/pr-screenshots/email-inbox-editor-outlook.png
  docs/pr-screenshots/email-inbox-node-canvas.png
  docs/pr-screenshots/mcp-claude-desktop-linux-env.png
  docs/pr-screenshots/mcp-integrations-directory-tile.png
  docs/pr-screenshots/mcp-setup-api-key-masked.png
  docs/pr-screenshots/mcp-setup-api-key-revealed.png
  docs/pr-screenshots/mcp-setup-claude-code-oauth.png
  docs/pr-screenshots/mcp-setup-claude-desktop-bundle.png
  docs/pr-screenshots/mcp-setup-cursor-one-click.png
  docs/pr-screenshots/mcp-setup-key-load-error.png
  docs/pr-screenshots/mcp-setup-no-api-key-yet.png
  docs/pr-screenshots/model-dropdown-after.png
  docs/pr-screenshots/model-dropdown-before.png
  docs/pr-screenshots/onepassword-credentials-passwords-tab.png
  docs/pr-screenshots/onepassword-custom-value.png
  docs/pr-screenshots/onepassword-item-picker-open.png
  docs/pr-screenshots/onepassword-item-picker.png
  docs/pr-screenshots/oss-duplicate-menu.png
  docs/pr-screenshots/oss-duplicate-result.png
  docs/pr-screenshots/proxy-pin-browser-profile-detail.png
  docs/pr-screenshots/proxy-pin-create-profile-dialog.png
  docs/pr-screenshots/proxy-pin-credential-modal-rotate.png
  docs/pr-screenshots/proxy-pin-credential-modal.png
  docs/pr-screenshots/sky12372-after-1-force-seeded.png
  docs/pr-screenshots/sky12372-after-2-rotation-selected.png
  docs/pr-screenshots/split-pdf-block-canvas.png
  docs/pr-screenshots/split-pdf-block-config-form.png
Due: none

Remove docs/pr-screenshots (internal PR evidence, not docs) (#7744)
  docs/pr-screenshots/bitwarden-credentials-passwords-tab-mobile.png
  docs/pr-screenshots/bitwarden-credentials-passwords-tab.png
  docs/pr-screenshots/bitwarden-workflow-editor-picker.png
  docs/pr-screenshots/credentials-authenticator-qr-after.png
  docs/pr-screenshots/credentials-authenticator-qr-before.png
  docs/pr-screenshots/download-target-options.png
  docs/pr-screenshots/download-target-s3.png
  docs/pr-screenshots/download-target-sftp.png
  docs/pr-screenshots/download-target-website.png
  docs/pr-screenshots/duplicate-block-menu-desktop.png
  docs/pr-screenshots/duplicate-block-menu-mobile.png
  docs/pr-screenshots/email-inbox-editor-gmail.png
  docs/pr-screenshots/email-inbox-editor-outlook.png
  docs/pr-screenshots/email-inbox-node-canvas.png
  docs/pr-screenshots/mcp-claude-desktop-linux-env.png
  docs/pr-screenshots/mcp-integrations-directory-tile.png
  docs/pr-screenshots/mcp-setup-api-key-masked.png
  docs/pr-screenshots/mcp-setup-api-key-revealed.png
  docs/pr-screenshots/mcp-setup-claude-code-oauth.png
  docs/pr-screenshots/mcp-setup-claude-desktop-bundle.png
  docs/pr-screenshots/mcp-setup-cursor-one-click.png
  docs/pr-screenshots/mcp-setup-key-load-error.png
  docs/pr-screenshots/mcp-setup-no-api-key-yet.png
  docs/pr-screenshots/model-dropdown-after.png
  docs/pr-screenshots/model-dropdown-before.png
  docs/pr-screenshots/onepassword-credentials-passwords-tab.png
  docs/pr-screenshots/onepassword-custom-value.png
  docs/pr-screenshots/onepassword-item-picker-open.png
  docs/pr-screenshots/onepassword-item-picker.png
  docs/pr-screenshots/oss-duplicate-menu.png
  docs/pr-screenshots/oss-duplicate-result.png
  docs/pr-screenshots/proxy-pin-browser-profile-detail.png
  docs/pr-screenshots/proxy-pin-create-profile-dialog.png
  docs/pr-screenshots/proxy-pin-credential-modal-rotate.png
  docs/pr-screenshots/proxy-pin-credential-modal.png
  docs/pr-screenshots/sky12372-after-1-force-seeded.png
  docs/pr-screenshots/sky12372-after-2-rotation-selected.png
  docs/pr-screenshots/split-pdf-block-canvas.png
  docs/pr-screenshots/split-pdf-block-config-form.png
Due: none

security: bump jupyterlab to 4.5.10 and fast-uri to 3.1.4 for Dependabot alerts
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/pnpm-lock.yaml
  uv.lock
Due: none

security: bump body-parser to 1.20.6 to fix two Dependabot alerts (#7626)
  skyvern-frontend/package-lock.json
Due: vitest-type-check

chore: apply yamlfmt formatting to pnpm-lock.yaml
  skyvern-ts/client/pnpm-lock.yaml
Due: none

🔄 synced local 'uv.lock' with remote 'uv.lock'
  uv.lock
Due: none

Add MCP Toplist rank badge
  README.md
Due: none

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/
