Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

Mint short-lived artifact URLs on demand for recording playback (#7459)
  skyvern-frontend/src/api/artifactUrls.test.ts
  skyvern-frontend/src/api/artifactUrls.ts
  skyvern-frontend/src/components/ArtifactVideo.test.tsx
  skyvern-frontend/src/components/ArtifactVideo.tsx
  skyvern-frontend/src/routes/browserSessions/BrowserSessionVideo.tsx
  skyvern-frontend/src/routes/tasks/detail/TaskRecording.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/HeroRecording.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowRunRecording.tsx
  skyvern/forge/sdk/artifact/models.py
  skyvern/forge/sdk/artifact/signing.py
  skyvern/forge/sdk/routes/agent_protocol.py
  tests/unit/test_artifact_signed_url_endpoint.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/browser.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_browser_tools.py
Due: none

[Frontend] Fix: Restore vertical run layouts
  skyvern-frontend/src/routes/history/RunHistory.tsx
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
Due: frontend-precommit, vitest-type-check

fix: keep MCP-generated Playwright snippets valid when instruction text has quotes (#7460)
  skyvern/cli/mcp_tools/browser.py
  tests/unit/test_mcp_browser_tools.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/self_heal_recovery.py
  skyvern/forge/sdk/copilot/terminal_predicates.py
  skyvern/forge/sdk/copilot/tools/_shared.py
  skyvern/forge/sdk/copilot/tools/frontier.py
  skyvern/forge/sdk/copilot/tools/guardrails.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/schemas/self_heal.py
  skyvern/services/self_heal_cap.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/copilot/test_self_heal_recovery.py
  tests/unit/copilot/test_turn_origin_seam.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_turn_intent_tool_gate.py
  tests/unit/test_copilot_watchdog.py
  tests/unit/test_self_heal_cap.py
  tests/unit/workflow/test_code_block_escalation.py
  tests/unit/workflow/test_code_block_recorder.py
Due: none

feat(SKY-12054): harness engine swap — copilot scout-loop recovery behind enable_self_healing (#7462)
  skyvern/config.py
  skyvern/forge/agent_functions.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/self_heal_recovery.py
  skyvern/forge/sdk/copilot/terminal_predicates.py
  skyvern/forge/sdk/copilot/tools/_shared.py
  skyvern/forge/sdk/copilot/tools/frontier.py
  skyvern/forge/sdk/copilot/tools/guardrails.py
  skyvern/forge/sdk/copilot/tools/scouting.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/schemas/self_heal.py
  skyvern/services/self_heal_cap.py
  tests/unit/copilot/test_self_heal_recovery.py
  tests/unit/copilot/test_turn_origin_seam.py
  tests/unit/forge/sdk/db/test_self_heal_schema.py
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_discovery.py
  tests/unit/test_copilot_turn_intent_tool_gate.py
  tests/unit/test_copilot_watchdog.py
  tests/unit/test_self_heal_cap.py
  tests/unit/workflow/test_code_block_escalation.py
  tests/unit/workflow/test_code_block_recorder.py
Due: none

fix: KEYPRESS recorder captures selector instead of key for page.press
  skyvern/forge/sdk/workflow/models/code_block_recorder.py
  tests/unit/workflow/test_code_block_recorder.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/webeye/actions/handler.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_normal_select_deterministic.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

Stop deterministic normal-select from falling back to the LLM on false negatives (#7464)
  skyvern/webeye/actions/handler.py
  tests/unit/test_normal_select_deterministic.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/copilot/enforcement.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_code_block_persist_seam.py
Due: none

fix(SKY-12342): recognize commit-only copilot reach (#7466)
  skyvern/forge/sdk/copilot/enforcement.py
  tests/unit/test_copilot_code_block_persist_seam.py
Due: none

security: resolve all open Dependabot alerts across JS/TS lockfiles (SKY-12556)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-ts/client/pnpm-lock.yaml
  tests/sdk/typescript_sdk/package-lock.json
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/webeye/browser_errors.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_exception_messages.py
  tests/unit/webeye/test_browser_errors.py
Due: none

security: resolve all open Dependabot alerts across JS/TS lockfiles (SKY-12556) (#7467)
  skyvern-frontend/package-lock.json
  skyvern-frontend/package.json
  skyvern-ts/client/pnpm-lock.yaml
  tests/sdk/typescript_sdk/package-lock.json
Due: vitest-type-check

[SKY-12007] Add engine-neutral browser error taxonomy (#7468)
  skyvern/exceptions.py
  skyvern/webeye/browser_errors.py
  tests/unit/test_exception_messages.py
  tests/unit/webeye/test_browser_errors.py
Due: none

fix(db): escape LIKE wildcards in list-search search_key
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/db/repositories/workflows.py
  tests/unit/forge/sdk/db/test_search_key_escaping.py
  tests/unit/forge/sdk/db/test_workflows_repository_search.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/files.py
  skyvern/services/script_service.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_download_extension_sniffing.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/CredentialCombobox.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.test.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/ParametersMultiSelect.tsx
  skyvern-frontend/src/routes/workflows/hooks/useCredentialQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useCredentialsQuery.test.tsx
Due: frontend-precommit, vitest-type-check

fix(downloads): recover missing file extension by sniffing content (#7470)
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/files.py
  skyvern/services/script_service.py
  tests/unit/test_download_extension_sniffing.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/components/CredentialCombobox.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.test.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/ParametersMultiSelect.tsx
  skyvern-frontend/src/routes/workflows/hooks/useCredentialQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useCredentialsQuery.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/blockPrompts.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/blockPrompts.ts
Due: frontend-precommit, vitest-type-check

Searchable credential picker in the workflow builder (uncap the 100-credential dropdown) (#7472)
  skyvern-frontend/src/routes/workflows/components/CredentialCombobox.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialParameterSourceSelector.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/components/CredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.test.tsx
  skyvern-frontend/src/routes/workflows/editor/hooks/useSelectedCredentialTotpIdentifier.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.test.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/LoginNode/LoginBlockCredentialSelector.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TaskNode/ParametersMultiSelect.tsx
  skyvern-frontend/src/routes/workflows/hooks/useCredentialQuery.ts
  skyvern-frontend/src/routes/workflows/hooks/useCredentialsQuery.test.tsx
Due: frontend-precommit, vitest-type-check

Show all block prompts under Agent inputs in the Workflow Studio run view (#7473)
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunInputsSection.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.test.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/RunView.tsx
  skyvern-frontend/src/routes/workflows/studio/runview/blockPrompts.test.ts
  skyvern-frontend/src/routes/workflows/studio/runview/blockPrompts.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_input_text_phone_readback.py
  tests/unit/test_input_text_tel_card_routing.py
  tests/unit/test_tel_input_bare_digits.py
Due: none

Recover phone numbers rewritten by country-aware fields (#7474)
  skyvern/webeye/actions/handler.py
  tests/unit/test_input_text_phone_readback.py
  tests/unit/test_input_text_tel_card_routing.py
  tests/unit/test_tel_input_bare_digits.py
Due: none

refactor(SKY-12367): boot the screenshot streaming worker with a minimal app runtime
  run_streaming.py
  skyvern/forge/forge_app_initializer.py
  tests/unit/test_run_streaming.py
  tests/unit/test_streaming_worker_app.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_exception_messages.py
Due: none

refactor(SKY-12367): boot the screenshot streaming worker with a minimal app runtime (#7378)
  run_streaming.py
  skyvern/forge/forge_app_initializer.py
  tests/unit/test_run_streaming.py
  tests/unit/test_streaming_worker_app.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/exceptions.py
  skyvern/webeye/browser_object_predicates.py
  skyvern/webeye/utils/page.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_browser_object_identity_guard.py
  tests/unit/test_exception_messages.py
  tests/unit/webeye/test_browser_object_predicates.py
  tests/unit/webeye/test_skyvern_frame_main_world_routing.py
Due: none
