Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/db/test_workflow_runs_created_at_filter.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_copilot_tools_credential_id_misbinding.py
  tests/unit/test_credential_rotation.py
  tests/unit/test_execute_step_exception_handling.py
  tests/unit/test_files_resolve_local_or_download.py
  tests/unit/test_handler_utils_download_file.py
  tests/unit/test_http_request_script_generation.py
  tests/unit/test_multi_placeholder_secret_resolution.py
  tests/unit/test_pdf_fill_block.py
  tests/unit/test_runs_v2_route.py
  tests/unit/test_workflow_system_prompt_llm_forwarding.py
  tests/unit/workflow/test_file_parser_block.py
  tests/unit/workflow/test_file_parser_error_code.py
  tests/unit/workflow/test_file_parser_zip.py
  tests/unit/workflow/test_http_request_block.py
Due: none

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/client/types/credential_parameter.py
  skyvern/client/types/credential_parameter_yaml.py
  skyvern/client/types/file_type.py
  skyvern/client/types/workflow_definition_parameters_item.py
  skyvern/client/types/workflow_definition_yaml_parameters_item.py
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/prompts/skyvern/workflow_knowledge_base.txt
  skyvern/forge/sdk/api/files.py
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/output_policy.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/credentials.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/copilot/workflow_credential_utils.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/db/id.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  skyvern/forge/sdk/db/repositories/workflow_run_credential_selections.py
  skyvern/forge/sdk/db/repositories/workflow_runs.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/credential_selection.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/parameter.py
  skyvern/forge/sdk/workflow/models/pdf_fill_block.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
  skyvern/services/script_service.py
  skyvern/webeye/actions/handler_utils.py
Due: none

[frontend] Fix: preserve run duration hours beyond 24h
  skyvern-frontend/src/routes/workflows/utils.test.ts
  skyvern-frontend/src/routes/workflows/utils.ts
Due: frontend-precommit, vitest-type-check

[frontend] Fix unescaped recording file path in artifact URL query
  skyvern-frontend/src/routes/workflows/workflowRun/recordingUrls.test.ts
  skyvern-frontend/src/routes/workflows/workflowRun/recordingUrls.ts
Due: frontend-precommit, vitest-type-check

[utils] Fix previous_extracted_information truncation corrupting under-budget values
  skyvern/utils/prompt_truncation.py
  tests/unit/test_prompt_truncation.py
Due: none

[frontend] Fix run/block duration display dropping days past 24h (#7058)
  skyvern-frontend/src/routes/workflows/utils.test.ts
  skyvern-frontend/src/routes/workflows/utils.ts
Due: frontend-precommit, vitest-type-check

[Files] Fix: preserve PDF fill local paths
  skyvern/forge/sdk/api/files.py
  skyvern/forge/sdk/workflow/models/pdf_fill_block.py
  skyvern/webeye/actions/handler_utils.py
Due: none

[Files] Fix: avoid response-named download paths
  skyvern/forge/sdk/api/files.py
Due: none

[Files] Fix: avoid upload path probing
  skyvern/webeye/actions/handler_utils.py
Due: none

[Files] Fix: use commonpath local guard
  skyvern/forge/sdk/api/files.py
Due: none

[Files] Fix: use direct local path guard
  skyvern/forge/sdk/api/files.py
Due: none

Add ZIP support to FileParserBlock [SKY-11711] (#7049)
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/FileParserNode/FileParserEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/FileParserNode/types.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern/client/types/file_type.py
  skyvern/forge/prompts/skyvern/workflow_knowledge_base.txt
  skyvern/forge/sdk/api/files.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/pdf_fill_block.py
  skyvern/schemas/workflows.py
  skyvern/webeye/actions/handler_utils.py
  tests/unit/test_files_resolve_local_or_download.py
  tests/unit/test_handler_utils_download_file.py
  tests/unit/test_pdf_fill_block.py
  tests/unit/test_workflow_system_prompt_llm_forwarding.py
  tests/unit/workflow/test_file_parser_block.py
  tests/unit/workflow/test_file_parser_error_code.py
  tests/unit/workflow/test_file_parser_zip.py
Due: frontend-precommit, vitest-type-check

SKY-11721: enforce Copilot completion evidence provenance (#7055)
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/HttpRequestEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/HttpRequestNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/HttpRequestBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/HttpRequestBlockForm.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern/core/script_generations/generate_script.py
  skyvern/forge/prompts/skyvern/workflow-copilot-request-policy.j2
  skyvern/forge/sdk/copilot/completion_criteria_store.py
  skyvern/forge/sdk/copilot/completion_output_grounding.py
  skyvern/forge/sdk/copilot/completion_verification.py
  skyvern/forge/sdk/copilot/request_policy.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/schemas/workflows.py
  skyvern/services/script_service.py
  tests/unit/test_copilot_completion_verification.py
  tests/unit/test_copilot_request_policy_completion_criteria.py
  tests/unit/test_copilot_request_policy_prompt.py
  tests/unit/test_http_request_script_generation.py
  tests/unit/test_multi_placeholder_secret_resolution.py
  tests/unit/workflow/test_http_request_block.py
Due: frontend-precommit, vitest-type-check

Merge main workflow utility updates
  skyvern-frontend/src/routes/workflows/utils.test.ts
  skyvern-frontend/src/routes/workflows/utils.ts
Due: frontend-precommit, vitest-type-check

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

fix(SKY-11826): gate the legacy Visual/Code toggle to /edit and anchor it under the header (#7065)
  skyvern-frontend/src/routes/workflows/editor/Workspace.tsx
  skyvern-frontend/src/routes/workflows/utils.test.ts
  skyvern-frontend/src/routes/workflows/utils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/api/files.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/build_test_outcome.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/runtime.py
  skyvern/forge/sdk/copilot/tools/__init__.py
  skyvern/forge/sdk/copilot/tools/completion.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/copilot/tools/workflow_update.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/workflow/models/pdf_fill_block.py
  skyvern/webeye/actions/handler_utils.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/studio/runview/RunPaneHeader.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_copilot_agent_helpers.py
  tests/unit/test_copilot_code_block_persist_seam.py
  tests/unit/test_copilot_enforcement_pruning.py
Due: none
