Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'fern/' with remote 'fern/'
  fern/integrations/cli.mdx
  fern/integrations/mcp.mdx
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_concise_responses.py
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/integrations/cli.mdx
  docs/integrations/mcp.mdx
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/core/result.py
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/run_commands.py
  skyvern/cli/setup_commands.py
  skyvern/forge/sdk/workflow/models/block.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/components/ui/status-pill-variants.ts
  skyvern-frontend/src/components/ui/status-pill.tsx
  skyvern-frontend/src/index.css
  skyvern-frontend/src/routes/tasks/detail/ActionTypePill.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRun.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ActionCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
Due: frontend-precommit, vitest-type-check

fix: ensure meaningful failure_reason when NL branch evaluation fails (#SKY-8026) (#4964)
  docs/integrations/cli.mdx
  docs/integrations/mcp.mdx
  fern/integrations/cli.mdx
  fern/integrations/mcp.mdx
  skyvern-frontend/src/components/ui/status-pill-variants.ts
  skyvern-frontend/src/components/ui/status-pill.tsx
  skyvern-frontend/src/index.css
  skyvern-frontend/src/routes/tasks/detail/ActionTypePill.tsx
  skyvern-frontend/src/routes/tasks/detail/ScrollableActionList.tsx
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRun.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ActionCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
  skyvern/cli/core/result.py
  skyvern/cli/mcp_tools/__init__.py
  skyvern/cli/run_commands.py
  skyvern/forge/sdk/workflow/models/block.py
  tests/unit/test_mcp_concise_responses.py
  tests/unit/workflow/test_conditional_branch_evaluation.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRun.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/setup_commands.py
  skyvern/webeye/real_browser_manager.py
Due: none

🔄 synced local 'fern/' with remote 'fern/'
  fern/integrations/mcp.mdx
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/integrations/mcp.mdx
Due: none

Add missing error-light color mapping to tailwind config
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

Fix Tailwind class ordering for prettier-plugin-tailwindcss
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRun.tsx
Due: frontend-precommit, vitest-type-check

Extract error background color as CSS variable (#SKY-8129) (#4961)
  skyvern-frontend/src/routes/workflows/WorkflowRun.tsx
  skyvern-frontend/src/routes/workflows/debugger/DebuggerRun.tsx
  skyvern-frontend/tailwind.config.js
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/setup_commands.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/runs.py
  skyvern/webeye/real_browser_manager.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_branch_criteria.py
  tests/unit/workflow/test_browser_session_id_template.py
  tests/unit/workflow/test_dag_engine.py
Due: none

Allow browser_profile_id + browser_session_id together and inject browser_session_id into Jinja templates (#4967)
  docs/integrations/mcp.mdx
  fern/integrations/mcp.mdx
  skyvern/cli/setup_commands.py
  skyvern/forge/sdk/workflow/context_manager.py
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/forge/sdk/workflow/models/workflow.py
  skyvern/forge/sdk/workflow/service.py
  skyvern/schemas/runs.py
  skyvern/webeye/real_browser_manager.py
  tests/unit/test_branch_criteria.py
  tests/unit/workflow/test_browser_session_id_template.py
  tests/unit/workflow/test_dag_engine.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/routes/agent_protocol.py
Due: none

SDK Consistency: Include browser_session_id and browser_profile_id in workflow run POST response (#4969)
  skyvern/forge/sdk/routes/agent_protocol.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

fix: nested conditional branch switching corrupts visibility state (#SKY-8058) (#4970)
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/workflowRun/ActionCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/RunCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/sdk/forge_log.py
Due: none

Add entrypoint field to global log context (#4973)
  skyvern-frontend/src/routes/workflows/workflowRun/ActionCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/RunCard.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/ThoughtCard.tsx
  skyvern/forge/sdk/forge_log.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/summarize-max-retries-reason.j2
  skyvern/forge/prompts/skyvern/surface-user-defined-errors.j2
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/error_detection_service.py
  skyvern/utils/prompt_engine.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_error_detection_integration.py
  tests/unit/test_error_detection_service.py
  tests/unit/test_fail_task_error_detection.py
Due: none

Add user-defined error detection on task failure (#4974)
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/summarize-max-retries-reason.j2
  skyvern/forge/prompts/skyvern/surface-user-defined-errors.j2
  skyvern/forge/sdk/workflow/models/block.py
  skyvern/services/error_detection_service.py
  skyvern/utils/prompt_engine.py
  tests/unit/test_error_detection_integration.py
  tests/unit/test_error_detection_service.py
  tests/unit/test_fail_task_error_detection.py
Due: none

feat: add browser session support to OSS Docker deployment (#4891)
  Dockerfile
  docker-compose.yml
  entrypoint-skyvern.sh
  skyvern/forge/api_app.py
  skyvern/forge/forge_app.py
  skyvern/forge/sdk/db/agent_db.py
  skyvern/forge/sdk/routes/streaming/auth.py
  skyvern/forge/sdk/routes/streaming/channels/message.py
  skyvern/forge/sdk/routes/streaming/channels/vnc.py
  skyvern/forge/sdk/routes/streaming/messages.py
  skyvern/forge/sdk/routes/streaming/notifications.py
  skyvern/forge/sdk/routes/streaming/registries.py
  skyvern/forge/sdk/routes/streaming/verify.py
  skyvern/forge/sdk/routes/streaming/vnc.py
  skyvern/webeye/cdp_ports.py
  skyvern/webeye/default_persistent_sessions_manager.py
  skyvern/webeye/persistent_sessions_manager.py
  tests/unit_tests/test_cdp_port_allocator.py
Due: none

fix: wait for Xvfb before starting x11vnc in Docker entrypoint
  entrypoint-skyvern.sh
Due: none

fix: Lazy-init AWS client to avoid ProfileNotFound crash at import time (#4941)
  skyvern/forge/agent.py
  skyvern/forge/sdk/api/aws.py
  skyvern/forge/sdk/services/bitwarden.py
Due: none
