Repository Skyvern-AI/skyvern: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-precommit, vitest-type-check

Path conditions:
  frontend-precommit: any of: ^skyvern-frontend/src/
  vitest-type-check: any of: ^skyvern-frontend/

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/skills/testing/SKILL.md
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/discover/WorkflowTemplates.test.tsx
  skyvern-frontend/src/routes/tasks/create/CapabilityExamples.tsx
  skyvern-frontend/src/routes/tasks/create/CyclingPlaceholderTextarea.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
Due: frontend-precommit, vitest-type-check

SKY-17489: Cannot reproduce See all 15; add expand/collapse coverage (#8744)
  skyvern-frontend/src/routes/discover/WorkflowTemplates.test.tsx
  skyvern-frontend/src/routes/tasks/create/CapabilityExamples.tsx
  skyvern-frontend/src/routes/tasks/create/CyclingPlaceholderTextarea.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern/cli/skills/testing/SKILL.md
Due: frontend-precommit, vitest-type-check

Stop racing the gate timeout in the serialized-lane retry test
  tests/unit/test_background_task_executor.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/taskv3/tools.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_taskv3_tools.py
Due: none

Record the date-of-birth placeholder as a Task V3 operator default (#8746)
  skyvern/forge/taskv3/tools.py
  tests/unit/test_taskv3_tools.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/taskv3/engine.py
Due: none

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_taskv3_engine.py
Due: none

Tell Task V3 to enter 01/01/<year> for a year-only date of birth, and never invent an address or phone number (#8747)
  skyvern/forge/taskv3/engine.py
  tests/unit/test_taskv3_engine.py
Due: none

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/cli/mcp_tools/blocks.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/models/terminate_block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/forge/taskv3/tools.py
  skyvern/schemas/workflows.py
  skyvern/services/run_service.py
  skyvern/utils/secret_redaction.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/retryPolicyUtils.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/TerminateNode/TerminateEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TerminateNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/TerminateBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/TerminateBlockForm.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_mcp_block_tools.py
  tests/unit/test_mcp_workflow_list_drift.py
  tests/unit/test_mcp_workflow_tools.py
  tests/unit/test_run_service.py
  tests/unit/test_terminate_block.py
  tests/unit/utils/test_secret_redaction.py
Due: none

🔄 synced local 'docs/' with remote 'docs/'
  docs/api-reference/openapi.json
Due: none

Start the API event-loop lag gauge on the API process and send it to SigNoz only (SKY-17497) (#8748)
  docs/api-reference/openapi.json
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/editor/helpContent.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/StartNode/retryPolicyUtils.ts
  skyvern-frontend/src/routes/workflows/editor/nodes/TerminateNode/TerminateEditor.tsx
  skyvern-frontend/src/routes/workflows/editor/nodes/TerminateNode/types.ts
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/TerminateBlockForm.test.tsx
  skyvern-frontend/src/routes/workflows/editor/panels/BlockConfigForm/TerminateBlockForm.tsx
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.test.ts
  skyvern-frontend/src/routes/workflows/editor/workflowEditorUtils.ts
  skyvern-frontend/src/routes/workflows/types/workflowTypes.ts
  skyvern-frontend/src/routes/workflows/types/workflowYamlTypes.ts
  skyvern/cli/mcp_tools/blocks.py
  skyvern/forge/sdk/routes/agent_protocol.py
  skyvern/forge/sdk/workflow/models/terminate_block.py
  skyvern/forge/sdk/workflow/workflow_definition_converter.py
  skyvern/forge/taskv3/tools.py
  skyvern/schemas/workflows.py
  skyvern/services/run_service.py
  skyvern/utils/secret_redaction.py
  tests/unit/test_mcp_block_tools.py
  tests/unit/test_mcp_workflow_list_drift.py
  tests/unit/test_mcp_workflow_tools.py
  tests/unit/test_run_service.py
  tests/unit/test_terminate_block.py
  tests/unit/utils/test_secret_redaction.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/studio/StudioPaneToggles.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.test.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/routes/workflows/studio/paneMeta.test.ts
  skyvern-frontend/src/routes/workflows/studio/paneMeta.ts
Due: frontend-precommit, vitest-type-check

SKY-17496: Keep run ID copy in the Studio top bar only (#8749)
  skyvern-frontend/src/routes/workflows/studio/StudioPaneToggles.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.test.tsx
  skyvern-frontend/src/routes/workflows/studio/StudioShell.tsx
  skyvern-frontend/src/routes/workflows/studio/paneMeta.test.ts
  skyvern-frontend/src/routes/workflows/studio/paneMeta.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/forge/agent_functions.py
  skyvern/forge/request_logging.py
  skyvern/forge/sdk/services/request_principal.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_org_auth_service.py
Due: none

Update API specifications with fern api update
  fern/openapi/skyvern_openapi.json
Due: none

Stabilize request principal attribution (#8751)
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern/forge/agent_functions.py
  skyvern/forge/request_logging.py
  skyvern/forge/sdk/services/request_principal.py
  tests/unit/test_org_auth_service.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.reviewGate.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowReliabilityPanel.tsx
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/test_workflow_copilot_route.py
Due: none

SKY-17491: Inline run reliability below analytics (#8753)
  skyvern-frontend/src/routes/workflows/WorkflowPage.tsx
  skyvern-frontend/src/routes/workflows/copilot/WorkflowCopilotChat.reviewGate.test.tsx
  skyvern-frontend/src/routes/workflows/workflowRun/WorkflowReliabilityPanel.tsx
  tests/unit/test_workflow_copilot_route.py
Due: frontend-precommit, vitest-type-check

🔄 synced local 'skyvern/' with remote 'skyvern/'
  skyvern/config.py
  skyvern/forge/agent.py
  skyvern/forge/prompts/skyvern/workflow-copilot-agent.j2
  skyvern/forge/sdk/api/llm/api_handler_factory.py
  skyvern/forge/sdk/api/llm/config_registry.py
  skyvern/forge/sdk/api/llm/copilot_model_usage.py
  skyvern/forge/sdk/copilot/agent.py
  skyvern/forge/sdk/copilot/context.py
  skyvern/forge/sdk/copilot/enforcement.py
  skyvern/forge/sdk/copilot/hooks.py
  skyvern/forge/sdk/copilot/mcp_adapter.py
  skyvern/forge/sdk/copilot/model_telemetry.py
  skyvern/forge/sdk/copilot/narration.py
  skyvern/forge/sdk/copilot/streaming_adapter.py
  skyvern/forge/sdk/copilot/tools/__init__.py
  skyvern/forge/sdk/copilot/tools/mcp_hooks.py
  skyvern/forge/sdk/copilot/tools/run_execution.py
  skyvern/forge/sdk/forge_log.py
  skyvern/forge/sdk/routes/workflow_copilot.py
  skyvern/forge/sdk/schemas/workflow_copilot.py
  skyvern/forge/taskv3/run_arms.py
  skyvern/forge/taskv3/tools.py
  skyvern/services/script_service.py
Due: none

🔄 synced local 'skyvern-frontend/src/' with remote 'skyvern-frontend/src/'
  skyvern-frontend/src/hooks/useDemoLoginGuide.ts
  skyvern-frontend/src/hooks/useEditorOnboardingTour.ts
  skyvern-frontend/src/routes/credentials/CredentialsModal.tsx
  skyvern-frontend/src/routes/credentials/PasswordCredentialContent.tsx
  skyvern-frontend/src/routes/discover/DiscoverPage.test.tsx
  skyvern-frontend/src/routes/discover/DiscoverPage.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.test.tsx
  skyvern-frontend/src/routes/tasks/create/PromptBox.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.checklist.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.test.ts
  skyvern-frontend/src/routes/workflows/copilot/NarrativeView.tsx
  skyvern-frontend/src/routes/workflows/copilot/cards/CredentialCard.tsx
  skyvern-frontend/src/routes/workflows/copilot/copilotActivityLog.test.ts
  skyvern-frontend/src/routes/workflows/copilot/copilotActivityLog.ts
  skyvern-frontend/src/routes/workflows/copilot/narrativeState.ts
  skyvern-frontend/src/routes/workflows/copilot/useStickToBottom.test.tsx
  skyvern-frontend/src/routes/workflows/copilot/workflowCopilotTypes.ts
Due: frontend-precommit, vitest-type-check

🔄 synced local 'tests/unit/' with remote 'tests/unit/'
  tests/unit/forge/sdk/copilot/test_browser_ablation_mode.py
  tests/unit/test_agent_task_v3.py
  tests/unit/test_api_handler_factory.py
  tests/unit/test_config_registry.py
  tests/unit/test_copilot_mcp_adapter.py
  tests/unit/test_copilot_model_telemetry.py
  tests/unit/test_copilot_model_usage.py
  tests/unit/test_copilot_narration.py
  tests/unit/test_copilot_narrative_activity.py
  tests/unit/test_copilot_streaming_adapter.py
  tests/unit/test_copilot_tracing_setup.py
  tests/unit/test_forge_log.py
  tests/unit/test_forge_log_redaction.py
  tests/unit/test_handle_script_termination.py
  tests/unit/test_script_service_block_outcome.py
  tests/unit/test_taskv3_tools.py
  tests/unit/test_workflow_copilot_llm_config.py
  tests/unit/test_workflow_copilot_session_context.py
Due: none

docs: rewrite README around a working Docker Compose quickstart
  README.md
Due: none

fix(credentials): reclaim the new vault item when the DB row fails to persist
  skyvern/forge/sdk/services/credential/azure_credential_vault_service.py
  skyvern/forge/sdk/services/credential/bitwarden_credential_service.py
  skyvern/forge/sdk/services/credential/gcp_credential_vault_service.py
  tests/unit/test_azure_credential_vault_service.py
  tests/unit/test_bitwarden_credential_vault_service.py
  tests/unit/test_gcp_credential_vault_service.py
Due: none

Bump version to 1.0.55
  packages/skyvern-ui/pyproject.toml
  pyproject.toml
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  uv.lock
Due: none

Bump version to 1.0.55 (#8758)
  packages/skyvern-ui/pyproject.toml
  pyproject.toml
  skyvern-ts/client/package-lock.json
  skyvern-ts/client/package.json
  uv.lock
Due: none

Show only failing tests' output in OSS CI logs (#8666)
  .github/workflows/ci.yml
Due: none

Fix Postgres-only SQL on the default SQLite database
  skyvern/forge/api_app.py
  skyvern/forge/sdk/db/models.py
  skyvern/forge/sdk/db/repositories/artifacts.py
  skyvern/forge/sdk/db/repositories/browser_sessions.py
  skyvern/forge/sdk/db/repositories/uploaded_files.py
  skyvern/forge/sdk/db/repositories/workflow_parameters.py
  tests/unit/forge/sdk/db/test_sqlite_dialect_queries.py
Due: none

🔄 synced local 'skyvern-frontend/tailwind.config.js' with remote 'skyvern-frontend/tailwind.config.js'
  skyvern-frontend/tailwind.config.js
Due: vitest-type-check

🔄 synced local 'tests/conftest.py' with remote 'tests/conftest.py'
  tests/conftest.py
Due: none
